[2019-11-12 21:36] richbully commented on #502
Actually your snippet works for the initial case if you replace "toTeX" with "toString"

Is there a easy way to extend this snippet to work for things like fractions or function params or root operands? For example `nerdamer('(1+2x+3x^2)/(5x+4x^3)').toTeX()` gives the numerator and denominator ordered correctly (image below is from your demo page)

![image](https://user-images.githubusercontent.co

[2019-11-12 21:50] richbully commented on #502
Just another example which comes out correctly in `toTeX()` but result from `toString()` = "sin(x+x^2)"

![image](https://user-images.githubusercontent.com/11023398/68713674-46294600-0603-11ea-80f2-71478555b392.png)

[2019-11-12 22:41] richbully commented on #502
Ok I think I've got it. If you use the snippet you created for `toTeX()`. I then added the below to nerdamer.core.js, `LaTeX.parse()` seems to always return the result surrounded in brackets so these get removed but this could also be the cause of a future bug i.e. if it stopeed returning answer in brackets then something like "(4x+2)/(3x+1)" would end up as "4x+2)/(3x+1"
[code]
Probably not the b

[2019-11-13 00:54] jiggzson commented on #500
@Saikedo, this issue has a temporary fix but some tests are failing due to rounding errors. No idea if the new values are more accurate. I'll keep working on this when I get some more time. I also committed to the wrong branch. I accidentally pushed to master.

[2019-11-15 01:33] jiggzson commented on #501
Fixed on `dev`

[2019-11-15 01:33] #501 closed

[2019-11-15 01:35] jiggzson commented on #500
@Saikedo, Fixed. This one was somewhat related to #497. I've added an explanation there.

[2019-11-15 01:41] jiggzson commented on #497
@Saikedo, fixed. As I mentioned in #500, these two issues are somewhat related. I've also added the ability to add more decimal places. Consider this example

[code]
Since it's rounded at 24 decimal placed by default it returns 0. However if you tell it to extend its range a bit

[code]
it outputs **0.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

[2019-11-15 01:41] #497 closed

[2019-11-15 01:46] jiggzson commented on #491
@nicola, I've fixed this. I know you're impression is that the slowness was due to the fact that nerdamer uses fractions but ironically it's not. The slowness in #497 for instance is surprisingly due to a poorly constructed regex. So far the Fraction portion has been the least source of headaches and has performed the best. It's also saved the day quite a few times. I do agree with you that there

[2019-11-15 01:46] #491 closed

[2019-11-15 01:50] jiggzson commented on #502
@richbully, got it. As for efficiency, unless you're rendering a textbook I doubt your method would present any issues. I'll work on the ability to order polynomials for both the `toString` and `toTeX` methods.

[2019-11-15 03:08] #494 closed

[2019-11-15 03:11] jiggzson commented on #477
Fixed with #499

[2019-11-15 03:11] #477 closed

[2019-11-16 01:09] jiggzson commented on #500
`nerdamer("20^(-330.4)*21^330.4").evaluate().text();` still gives `0`

[2019-11-20 03:31] #500 closed

[2019-11-24 06:28] nicola commented on #491
That's fantastic, I will look into this! Meanwhile, thank you!

[2019-11-24 18:05] MuhammadAbdelsalam opened #504 "Mod (%) operator"
Mod has precedence issue. It appeared in case using it with with another operator on same level of precedence.
EX: 3*3%9
Expected result: 0
Actual result: 9

Explanation: if equation has more than one operator with same precedence left proceed first.
                    Expected result based on 3*3 = 9, 9%9 = 0 so result = 0
                    Actual result based on 3%9 = 3, 3*3 = 9 so result = 9

[2019-11-25 01:57] jiggzson commented on #504
@MuhammadAbdelsalam, awesome catch! I have no idea why the original precedence was used but simply lowering it seems to fixed it. Not only that but 3 test were actually wrong. Check it out and let me know if it's correct. Thanks.

[2019-11-25 01:58] jiggzson commented on #491
@nicola, anytime. And thank you as well.

[2019-11-25 12:44] MuhammadAbdelsalam commented on #504
@jiggzson, I handled the the issue and opened pull request, but the pull request failed 3 test cases, I expect we should open the pull request on master not dev branch because i tried the test case and worked correctly on local.

[2019-11-25 13:13] jiggzson commented on #504
@MuhammadAbdelsalam, can you explain why the precedence has to be 4? When changing it back to 4, 10%4*8 not evaluates to 16 which is incorrect. The correct value is 10. The tests on `dev` are actually the correct values. I'm really curious which expressions give the incorrect output with the precedence being 3.

[2019-11-25 14:59] MuhammadAbdelsalam commented on #504
I can't change precedence  to be 3 because *   /   % MOD are same precedence
if we supposed this equation --> 10%4*8
solution should be 10%4 = 2  ---> 2*8 =16 so 16 is correct, based on % and * are same precedence, we should evaluate the equation from left to right.

[2019-11-25 15:39] jiggzson commented on #504
Interesting. I stand corrected. It appears the original values were indeed correct. When consulted Wolfram Alpha ([https://www.wolframalpha.com/input/?i=10%254*8](https://www.wolframalpha.com/input/?i=10%254*8), I got 10. My mistake 😆. Can you update the tests to reflect the correct values and update your PR? I'll go ahead and close it as soon as that's done. Thanks.

[2019-11-25 16:22] jiggzson commented on #473
@roy77, fixed on `dev`

[2019-11-25 16:22] #473 closed

[2019-11-25 16:26] jiggzson commented on #465
@Saikedo, I've consulted several math packages to see how they handle this issue and they all seem to handle it the same way that we're already doing it. As I've stated before, all values are assumed to be positive. Accounting for all scenarios is extremely difficult if not impossible. I'm going to leave this one as-is.

[2019-11-25 16:26] #465 closed

[2019-11-25 16:33] jiggzson commented on #426
@tecosaur,
This was added some time ago but I forgot to update you. Do you want to take a look at it? [https://nerdamer.com/functions/nerdamer.convertFromLaTeX.html](https://nerdamer.com/functions/nerdamer.convertFromLaTeX.html)

[2019-11-25 16:33] tecosaur commented on #426
Ah, I somewhat forgot about this so thanks for pinging me :)

[2019-11-25 16:35] jiggzson commented on #275
Creating a reference for this issue in #322 and moving issue there.

[2019-11-25 16:35] #275 closed

[2019-11-25 17:31] jiggzson commented on #443
@AlienKevin, I remember adding these a little while back. Let me know if I missed anything?

[2019-11-26 08:13] MuhammadAbdelsalam commented on #504
Hi jiggzosn, I can't understand why test cases failed? test cases are valid and i tried in my local and it's true
var x = nerdamer('10%4*8');
console.log(x.toString());

[2019-11-26 15:15] jiggzson commented on #504
@MuhammadAbdelsalam, thank you for your contribution.

[2019-11-26 15:15] #504 closed

[2019-11-28 19:56] nicola commented on #491
Can you fix it in the Jenkins fork too? It seems not to work there

[2019-11-30 19:18] dhiahassen commented on #456
@jiggzson check this sympy's way of doing it
https://stackoverflow.com/questions/55881078/how-to-know-whether-a-function-is-continuous-with-sympy/55885282#55885282

[2019-11-30 20:57] jiggzson commented on #219
factor(-180*a^3*b^3*c-180*a^4*b^3-54*a*b^5*c-54*a^2*b^5-54*a^5*b*c-54*a^6*b+135*a^2*b^4*c+135*a^3*b^4+135*a^4*b^2*c+135*a^5*b^2+9*a*b^6+9*a^6*c+9*a^7+9*b^6*c)

[2019-11-30 21:42] jiggzson commented on #409
@Yaffle, I know it's been a while but I'm just now getting around to checking this out. Again thanks for this port. One question, what is this is `ilog2` function?

[2019-11-30 21:56] Yaffle commented on #409
@jiggzson

[code]

[2019-11-30 21:59] jiggzson commented on #409
@Yaffle,

Thanks a million!!!

[2019-12-01 16:29] jiggzson commented on #322
solve((9*x+x^2)^3+10800*x+40*x^4+4440*x^2+720*x^3+20*(9*x+x^2)^2+8000,x) throws

[2019-12-02 22:06] jiggzson commented on #182
@Happypig375, I know it's been a while since we discussed this issue but I'm finally having some time again and I'm revisiting the more challenging issues to see if I can tackle them. Just letting you know that this one should now be fixed.

[2019-12-02 22:35] jiggzson commented on #155
@Happypig375, this was implemented a little while back but I never updated this issue. See https://nerdamer.com/functions/limit.html.

[2019-12-02 22:48] jiggzson commented on #334
integrate((4+x^3)^(-1),x)

[2019-12-02 23:58] Happypig375 commented on #182
`sin x cos x` => `x`
`sin x cos y` => `x`
?

[2019-12-03 00:01] Happypig375 commented on #182
According to Wolfram Alpha,

Input|Expected|Actual
-|-|-
sin 2x | sin(2x) | sin(2)x
sin 2 x | sin(2)x | sin(2)x

[2019-12-03 00:27] jiggzson commented on #182
I'm not sure if I'm trying to emulate Wolfram Alpha in this case but I do agree with your expected outputs in this case. Thanks.

[2019-12-03 01:00] Happypig375 commented on #182
Wolfram Alpha is just supporting precedence. However, it usually is an good indicator of how normal humans tend to think of these features.

[2019-12-03 15:18] Saikedo opened #506 "Is it possible to register a function that uses 3rd party libraries?"
I am trying to register a function by doing something like this

[code]

After doing this, I am able to use the newly created function in this fashion for example

`nerdamer("studenttpdf(0, 30)").evaluate().text()`

But I can`t use the buildFunction functionality like this

`nerdamer("studenttpdf(x, 30)").buildFunction(['x'])`

I kinda understand why this is happening but I was wondering if there

[2019-12-03 19:16] jiggzson commented on #506
@Saikedo, you're right.

[code]
gives

[code]
Not sure where the `NaN` is coming from or why. I'll look into this.

[2019-12-03 20:56] jiggzson commented on #506
@Saikedo,

I think the only way to achieve this is to use the example below. You would unfortunately create a symbolic handler and a numeric handler. Would something like that work?

[code]

[2019-12-04 01:53] jiggzson commented on #182
@Happypig375, I've addressed all of the cases you mentioned with the exception of `sin sin x`. This has to do with the fact that `sin` although discouraged, can in fact be used as a variable name. I actually vaguely recall going through great lengths to support this because it relates to recursive variable substitution (I can't recall any examples ATM). Maxima allows for the ability to use functio

[2019-12-04 16:15] jiggzson commented on #182
@Happypig375, I think I now cover all cases. Let me know if you find anything. Thanks.

[2019-12-04 20:25] coder-racer opened #507 "no-count limit"
What?
![image](https://user-images.githubusercontent.com/33505785/70178431-7ba6e800-1706-11ea-8c07-7c1861906b56.png)
![image](https://user-images.githubusercontent.com/33505785/70178472-8a8d9a80-1706-11ea-9236-8510f0a3202a.png)

[2019-12-04 20:59] jiggzson commented on #507
Check your version. You need to download a version that supports limits. Both the demo and the dev version give the correct output.

https://nerdamer.com/demo.html?eq=limit(x^x-1,x,0)
https://nerdamer.com/demo.html?eq=limit((x^2+2x-3-1)/(x^6+4),x,0)

[2019-12-04 20:59] #507 closed

[2019-12-05 09:34] Happypig375 commented on #155
`limit((1+1/x)^x*x-e*x,x,Infinity)` => `-Infinity`
Expected: `-e/2`

https://www.quora.com/What-is-the-hardest-limit-math-problem (the 2nd answer)

[2019-12-05 16:58] Saikedo commented on #506
Interesting, yeah that sounds reasonable. This should probably be added to the documentation for a reference. Thank you a lot.

[2019-12-05 21:51] jiggzson commented on #506
@Saikedo, It is somewhat covered [here](https://nerdamer.com/digging_deeper.html) but the solution is a bit more specific I guess. Anytime.

[2019-12-05 21:51] #506 closed

[2019-12-05 21:53] jiggzson commented on #502
@richbully, I'm assuming that you used the snippet to create a fix.

[2019-12-05 21:53] #502 closed

[2019-12-05 21:55] jiggzson commented on #470
@Saikedo, what was your approach ultimately with this issue?

[2019-12-05 23:03] jiggzson commented on #154
**USAGE**

[code]

[2019-12-06 06:29] coder-racer opened #508 "Does not solve"
![image](https://user-images.githubusercontent.com/33505785/70301216-fa457780-1823-11ea-94b9-bae240dce602.png)
It's Demo on your site.

[2019-12-06 14:55] Happypig375 commented on #508
Not reproducible.
![image](https://user-images.githubusercontent.com/19922066/70331913-6a331c80-187b-11ea-9137-9adc103c01de.png)

[2019-12-06 14:56] Happypig375 commented on #508
![image](https://user-images.githubusercontent.com/19922066/70332040-abc3c780-187b-11ea-9651-287bee8966e7.png)

[2019-12-06 15:01] Happypig375 commented on #155
Missing active label

[2019-12-06 15:02] Happypig375 commented on #155
A fourth parameter should be added to decide the direction of approach: any negative number for limit from the left, `0` (default) for two-sided limit, any positive number for limit from the right.

[2019-12-06 16:09] jiggzson commented on #155
@Happypig375, my initial approach did just that but I found it difficult to implement. I'm hoping to add this as soon as I'm feeling somewhat confident that we caught all if not most of the bugs.

[2019-12-06 16:10] jiggzson commented on #508
@coder-racer, Thanks for reporting. Moved to #155. This will be able to be solved once one-sided limits are implemented.

[2019-12-06 16:10] #508 closed

[2019-12-06 16:21] Happypig375 commented on #498
Can't substitution be done? http://www.mrferrante.com/algebra2/final_review/chapter3/3.6.1.html

[2019-12-06 17:58] jiggzson commented on #498
@Happypig375, my first approach was just that but it got unwieldy quickly and it was somewhat slow. The truth is that the current implementation was somewhat slow as well but I was able to make is usable by converting to a JS function. Maybe I can take that approach.

This one seems like it might just work. I'll give it a go when I get some time.

[2019-12-08 23:54] richbully commented on #502
@jiggzson yep sure did. Just used what I commented above, you find some issues with that?

[2019-12-10 02:13] #182 closed

[2019-12-10 02:13] #347 closed

[2019-12-10 02:14] #154 closed

[2019-12-10 20:02] cdmiller opened #510 "roots() function gives invalid array length error"
nerdamer( 'roots((-11/10+x)^2+1)' ) reports a range error, yet this seems like a perfectly good polynomial.

I'm getting a range error for this particular function, not others that I have tried.  Have verified that https://nerdamer.com/demo.html shows the same error.

Call stack is:
Algebra.js:1539 Uncaught RangeError: Invalid array length
    at rpSolve (Algebra.js:1539)
    at calcroots (Algebra

[2019-12-10 20:21] jiggzson commented on #510
@cdmiller, the polynomial does not have real roots. If you use solve it should return all the roots. Please do verify since I'm on mobile so I can't confirm any of this.

[2019-12-12 16:51] cdmiller commented on #510
OK thanks, switching to solve did the trick. I was alarmed by the RangeError with the roots() expression, and will let you decide that is the proper result or not.

[2019-12-12 19:07] jiggzson commented on #510
@cdmiller, no problem. Glad that helped. `roots` is one of those functions I've been meaning to remove since I started it but never finished it. I'll remove it with the next update. Sorry for the confusion.

[2019-12-12 19:07] #510 closed

[2019-12-15 17:41] jiggzson commented on #219
`factor(-7+21*x+3*x^4+4*x^2+9*x^3)` very very bad results.

[2019-12-19 16:22] Saikedo opened #511 "Why is factorial so slow in nerdamer?"
I noticed that calculating big factorials can be super slow in nerdamer. For example doing something like this

[code]

Takes somewhere from 2-4 seconds to calculate.

I am fine with the calculation returning Infinity in this cases but I was wondering why the calculation is so slow.

A simple function like this

[code]

Takes less than a millisecond to compute.

[2019-12-19 16:31] Saikedo commented on #511
I just realized that nerdamer factorial also works with floating numbers like factorial(5.5) and so on. I am assuming calculating these takes longer?

Is it a good idea to use the simple factorial function if both inputs are Integers and fall back to whatever nerdamer uses right now if the arguments are not integers?

[2019-12-19 16:45] Saikedo commented on #511
Sorry for spamming the post so much but I just did some debugging and realized that my above post is not correct. The following function is actually the reason for the slowdown. The loop inside seems to be running very slow.

[code]

Is this happening because .multiply is slow or because we are keep creating Frac on every loop iteration?

[2019-12-19 19:31] cdmiller opened #512 "evaluate x^1/n issue for x<0, n:3"
I am getting some incorrect results for certain formulas x to the negative power with x < 0, with Nerdamer in javascript, trying to plot 'x^(1/n)' [a.k.a nthroot(x,n) ]

Example:

nerdamer( "(x)^(1/n)" ).evaluate( {x:-0.5,n:3}, "numer").text();

nerdamer( "(-0.5)^(1/3)" ).evaluate( {}, "numer").text();

The first result is incorrect.  Using the Demo to enter
x:-05
n:3
(x)^(1/n)  [decimal,evaluate]

[2019-12-19 23:02] Saikedo commented on #512
Interesting. I never use .evaluate() with parameters so I am not sure what is happening there but it seems like you can do the following and it works just fine.

`nerdamer( "(x)^(1/n)", {x:-0.5,n:3}).evaluate().text();`

[2019-12-20 16:28] cdmiller commented on #512
Those particular values give a correct result, but unfortunately other negative values of x have two problems (1) throwing an exception like "Uncaught Error: Invalid integer: NaN", and hanging in almost endless loops, where when I pause the Javascript debugger it is pause in the debugger then it is in Nerdamer's PrimeFactors() called by pow(), calculating prime factors to some huge integer.

I am

[2019-12-20 19:35] jiggzson commented on #512
@cdmiller, agreed. The results should be consistent. The main difference between these two forms is that
[code]
make substitutions on the first pass while

[code]
first builds the expression therefore making it nerdamer friendly and then parses it again. The second for basically parses the expression twice. Unless you're making high number of calls you probably wouldn't notice the difference but I

[2019-12-20 19:47] jiggzson commented on #511
@Saikedo, I'll take a look at this and see if we can improve on this. You may be right and the constant calls to `Frac` are gumming up the works. I don't even see a reason for doing so and at a quick glance it does appear to be very inefficient. Who knows what past me what thinking.

Either way, always keep in mind that you're free to override the `Math2` functions with your own if they're not to

[2019-12-21 05:51] Saikedo commented on #511
@jiggzson The reason I did not wanted to implement a custom factorial function, in this case, is because the function itself seems to be doing great and the algorithm that you use is actually quite fast. One improvement you can make there is to use memoization but I agree with you that most likely creating Frac is what causing the major slowdown in this case.

And yes, I also sometimes go back to

[2019-12-22 01:21] Saikedo opened #513 "Incorrect definite integral results for some values"
The following expression` nerdamer("defint(2.7^x, 1, 3)").evaluate().text()` returns an incorrect result of `-30.285896023162433` instead of `17.0983837749`.

Also, note that if we have an integer in the base, for example, something like this
`nerdamer("defint(3^x, 1, 3)").evaluate().text()`
Then the calculation is correct.

Any idea what might cause this?

[2019-12-28 05:27] jiggzson commented on #511
@Saikedo, fixed.

[2019-12-28 05:27] #511 closed

[2019-12-30 17:39] #513 closed

[2019-12-30 20:38] jiggzson commented on #512
Disregard. Only partially fixed.

[2019-12-31 17:30] jiggzson commented on #512
Done.

[2019-12-31 17:30] #512 closed

[2019-12-31 17:31] #470 closed

[2020-01-06 13:09] GalHorowitz opened #516 "Solve incorrect on simple linear equations"
The following code:
`nerdamer.solveEquations(['a*(1-0)+0=b*(9-10)+10','a*(1-0)+0=b*(1-0)+0']);`

returns a=5.5, b=4.5, even though it clearly does not satisfy the second equation.

[2020-01-06 23:25] jiggzson commented on #516
@GalHorowitz, fixed on `dev`

[2020-01-07 14:03] #516 closed

[2020-01-14 10:43] Saikedo opened #518 "Integral of trig functions divided by x gives weird results."
I just realized that following integrals fail in a weird way. For example.

`nerdamer("integrate(sin(x)/x)").text()` gives me `"Si(x)"`
`nerdamer("integrate(cos(x)/x)").text()` gives me `"Ci(x)"`

This is kinda different from the rest of the cases where integration fails. I noticed that some integrals return results where integration fails and we always have the word `integrate` in it. For example

[2020-01-14 12:21] Happypig375 commented on #518
They __are__ the correct answers.
Check out: http://mathworld.wolfram.com/SineIntegral.html
http://mathworld.wolfram.com/CosineIntegral.html

[2020-01-14 16:28] jiggzson commented on #518
@Saikedo, as @Happypig375 pointed out, these are trigonometric integrals. [See here](https://en.wikipedia.org/wiki/Trigonometric_integral). So far I've only implemented the parts that I need but I hope to finalize it at some point.

If for any reason you'd rather not support trigonometric integrals in your application, you can always just check if it has any of the unsupported functions using the

[2020-01-19 16:23] q2apro opened #519 "retval.equals is not a function"
Trying to solve with nerdamer-1.1.2:

[code]

Same with:
[code]

Throws:

Both have solutions.

Bug?

[2020-01-19 17:06] Happypig375 commented on #519
`solveEquations` currently only understands a system of linear equations. For quadratics, cubics or above, use `solve` instead.

[2020-01-19 17:12] q2apro commented on #519
`solve` seems not to accept inputs like:

[code]

Error message:

[2020-01-20 00:19] jiggzson commented on #519
@q2apro, it was indeed a bug. Fixed on `dev`

[2020-01-20 01:20] jiggzson commented on #519
@Happypig375, you're right. I think originally this was the case but for some reason `solveEquations` seems to be interchangeable with `solve`. I can't remember if this was be design or coincidentally .

[2020-01-20 07:29] q2apro commented on #519
@jiggzson I tried the dev version, same error message still. Example:

[code]

[2020-01-20 07:51] q2apro opened #520 "Correct results for equations such as sin(x)=0?"
I played around with nerdamer and found out that:

    nerdamer.solveEquations("sin(x)=0").toString();

returns:

IMHO it should return `0` and then pi, 2·pi, 3·pi etc.

Turning the "fraction results" above into decimals gives:

And doing a check with result x₁:

DEG: sin(-59,69026042°) = -0,86330977462300366
RAD: sin(-59,69026042) = 1,79392846882736254E-9 ≈ 0 ✓

So obviously it's RADian.

Testing

[2020-01-20 14:06] jiggzson commented on #519
@q2apro, it should be fixed on `dev`. I introduced this bug when trying to solve for factors. This allows many more solutions to be found. We get this bug because `factor` does not convert `Equations` but hopefully we got them all. Please let me know if you find anything else.

[2020-01-20 14:18] jiggzson commented on #520
You can possibly restrict it where to look around 0.

Internally? No. There is a possibility to convert the solutions if that would work.

Given this information you could do something like
[code]
I'll add to the documentation that trig functions are in radians.

[2020-01-20 15:06] q2apro commented on #519
Great, seems to work now 👍

Thanks for this awesome library, it's incredible. I still dig into all the features 😄

[2020-01-20 15:06] #519 closed

[2020-01-20 15:18] jiggzson commented on #519
Awesome. You're welcome and thank you. Please let me know if you find anything else.

[2020-01-20 15:42] q2apro commented on #519
There might be some bug reports coming over the next months.

I have just decided to use nerdamer for mainly the quick solving of equations as a helper tool at Germany's biggest math community.

Announcement: https://www.mathelounge.de/690418/projekt-rechenfreund-erweiterung-mathelounge-hilfsrechner

Thanks for this fantastic work, which makes people independent from Wolframalpha and alike 🍀

[2020-01-20 15:56] jiggzson commented on #519
@q2apro, that's exciting news! Thank you for letting me know. I'm happy the library was able to contribute. I'm glad to help.

[2020-01-21 08:21] q2apro commented on #519
Sorry for being completely offtopic, but:

How did you come up with the name "Nerdamer" and what does it mean? ... From "nerd"? Would be interesting! 😃

[2020-01-21 09:09] q2apro opened #521 "Replacing mathjs math.eval() and math.format() with Nerdamer to calculate values"
I am in the middle of replacing mathjs with nerdamer, especially the evaluation of values.

In MathJS ([docs](https://mathjs.org/docs/expressions/parsing.html)):

    var line = "45/12+4";
    var answer = math.eval(line, scope);  // scope is {}
    var answer_out = math.format( answer, {precision: 7, lowerExp: -10, upperExp: 10} );

In Nerdamer I am trying to do:

    var line = "45/12+4";
    va

[2020-01-21 10:16] Happypig375 commented on #521
What would you expect to be an answer to that? `45/12+4` indeed simplifies to `31/4`, which is a mathematical expression, not "a set of solutions" per se.

[2020-01-21 10:20] Happypig375 commented on #521
If you are sure that the evaluated result is a vector (also used as a list), you can do:
[code]

[2020-01-21 10:39] q2apro commented on #521
I am using `var answer` also for the result from `nerdamer.solveEquations(line);`. But yes, I check now for an equation then use the one value (from the evaluation) or the values (from the equation solving).

Good to know this one, thanks: `nerdamer("[x^6,2,3]").symbol.elements.length // 3` 👍

Still open is the question about hwo to replace the both mathjs functions above (eval and format).

[2020-01-21 10:54] Happypig375 commented on #521
[code]

As for `lowerExp` and `upperExp`, I'm not sure what they do:
[code]
Doesn't seem to do much.

[2020-01-21 15:41] Happypig375 commented on #155
limit((2sin(x)-sin(2x))/(x-sin(x)),x,0) => -1
According to https://en.wikipedia.org/wiki/L%27Hôpital%27s_rule#Examples, this should be 6

[2020-01-21 15:50] Happypig375 commented on #155
limit((e^x+e^-x)/(e^x-e^-x),x,1) => 961279542332782/732104881680479, unable to give Wolfram Alpha's lim_(x->1) (e^x + e^(-x))/(e^x - e^(-x)) = (1/e + e)/(-1/e + e)

[2020-01-21 15:54] Happypig375 commented on #155
limit((x^(1/2)+x^(-1/2))/(x^(1/2)-x^(-1/2)),x,Infinity) => (-limit(sqrt(x),x,Infinity)^(-1)+limit(sqrt(x),x,Infinity))^(-1)*(limit(sqrt(x),x,Infinity)+limit(sqrt(x),x,Infinity)^(-1))
unable to give 1 according to https://en.wikipedia.org/wiki/L%27Hôpital%27s_rule#Complications

[2020-01-21 16:00] Happypig375 commented on #155
limit((x+sin(x)cos(x))/(x+sin(x)cos(x))/e^(sin(x)), x, Infinity) => 119696244/325368125 but it should not be solvable according to https://en.wikipedia.org/wiki/L%27Hôpital%27s_rule#Counterexamples_when_the_derivative_of_the_denominator_is_zero

[2020-01-21 16:38] jiggzson commented on #521
@q2apro, additionally
[code]
However if you're iterating over the result then @Happypig375's solution is the best answer.

[2020-01-21 16:42] jiggzson commented on #155
The irony is that I was literally just playing around with a few limits last night and realized that some of them give the incorrect answer. Nerdamer shows some as divergent but they aren't for example `limit(cos(x)/x^2,x,0)`.

[2020-01-21 16:55] Happypig375 opened #523 "Second argument provided to text does not match description in documentation"
[code]
This looks like the second argument provided to `text` indicates the number of steps used to approximate the decimal. This does not match the documentation where it should indicate the number of decimal places shown.

[2020-01-21 17:02] jiggzson commented on #519
Not a problem. Thanks for asking actually. It's probably not as interesting as you may think. Many moons ago, I was working on the learning system to help teach mechanics since I did a lot of tutoring at the time. I needed a symbolic system but there weren't any at the time. Mathjs didn't support symbolics yet so I decided to roll my own and kept going since. It was never really my intention to st

[2020-01-21 19:45] q2apro commented on #519
That was the problem I faced that time too, still used it but always hoped for an alternative that can solve equations!

So valuable! Thanks a 1000 🤓 ❤

[2020-01-21 19:51] q2apro commented on #521
Thanks!

Mhh, it seems not to work with roots?!

    nerdamer("sqrt(19)").text("decimals", 5);

results in:

I expected 4,35889.

What's the issue?

[2020-01-21 20:03] jiggzson commented on #521
You have to call `evaluate`. Evaluation of functions is delayed in order to provide algebraic results. This way you don't have to deal with those pesky floating point errors in something like `sqrt(2)*sqrt(2)`. You'll get a nice even 2 instead of something like 2.0000000000000004.

[code]
Also @Happypig375 created an issue regarding the second argument for text in #523.

[2020-01-21 21:02] q2apro commented on #521
Nice. But one more example:

[code]

Issue: The value at "i" is not rounded by the given decimals.

[2020-01-22 01:54] jiggzson commented on #521
I see. I'll take care of it.

[2020-01-23 21:15] #521 closed

[2020-01-26 07:59] q2apro opened #524 "Typos in Docs"
1. Some occurences of "SetContant". - missing "s"
https://nerdamer.com/functions/nerdamer.setConstant.html

2. "Throws an(d) error if no transform could be calculated." - remove "d"
https://nerdamer.com/functions/laplace.html

Please fix 😉

[2020-01-27 07:46] q2apro opened #525 "Solving an equation with variable x works, but not with variable a (solveEquations)"
I tried to solve:

    sol = nerdamer.solveEquations('2*a^(2)+4*a*6=128');
    console.log(sol.toString());

which gives `""``. The same with:

     var sol = nerdamer('solve(2*a^(2)+4*a*6=128, a)');
     console.log(sol.toString());

What is the problem? The dev console does not throw an error.

But using `x` instead of `a` works:

    nerdamer.solveEquations('2*x^(2)+4*x*6=128').toString();

[2020-01-27 14:43] jiggzson commented on #524
https://nerdamer.com/functions/nerdamer.setConstant.html

I'm confused. There is  no method `setConstants`.

https://nerdamer.com/functions/laplace.html

Thanks for pointing this out.

[2020-01-27 14:45] jiggzson commented on #523
@Happypig375, I think I managed to fix this. The second argument is supposed to be the nth place where the rounding should occur. I'll also clarify this in the docs.

[2020-01-27 14:46] jiggzson commented on #525
@q2apro, fixed on the dev branch.

[2020-01-27 18:35] #525 closed

[2020-01-27 18:43] q2apro commented on #521
From:

[code]

I get as result:

![image](https://user-images.githubusercontent.com/6764548/73203318-7d5cbd00-4145-11ea-93c2-ee569fdc9472.png)

I have one main function that goes over `answer` which is usually an array. In the case above, however, it is not. What would be the best (fool proof) way to handle this. Checking typeof and then making it an array? Thanks in advance!

[2020-01-27 22:15] jiggzson commented on #521
Solve always returns an `Expression` which is wrapped around a `Vector`. The `Expression` class contains a method named `each` which can be used to iterate over the answers.

[code]

[2020-01-28 06:33] q2apro opened #526 "Wrong result with polynomials with fractions?"
Just found this:

[code]

However, results should be x_{1.2}= ± √2.

Is the input wrong or is this a "bug" in Nerdamer? 🤓

Thanks!

[2020-01-28 06:39] q2apro commented on #524
And https://nerdamer.com/functions/abs.html is missing in the listing at https://nerdamer.com/documentation.html

[2020-01-28 07:02] q2apro commented on #521
Thanks ❤️ This helped.

Here is my code in case it helps others too:

[code]

[2020-01-28 10:21] q2apro opened #527 "Variable in Exponent gives 3 solutions instead of 1?"
Solving `2^(x+2)=7` with:

    nerdamer('solve(2^(x+2)=7,x)').toString()

results in:

However, as seen in the [plotted solution](https://www.matheretter.de/rechner/plotlux/?draw=2%5E(x%26plus%3B2)%3B7), there should be only one:

![image](https://user-images.githubusercontent.com/6764548/73255278-90fd3780-41c8-11ea-9d6d-d892026b70e1.png)

Is this a bug or some problem with the input for solve()?

[2020-01-28 13:42] Happypig375 commented on #527
All 3 results are identical up to the 14th decimal place.

[2020-01-28 14:16] jiggzson commented on #527
@q2apro, as @Happypig375 already pointed out, they're near duplicates of each other. This is primarily due to the fact that `solve` still relies on native JS `Number`. I thought I implemented [this](https://gist.github.com/jiggzson/694612c82223f1518ee497226988e471) function which is supposed to filter the results and remove identical solutions within a tolerance. Turns out I never finished it. I'l

[2020-01-29 02:15] AlienKevin commented on #523
@jiggzson I think currently decimals are not rounded when they are nested within an expression. For instance,
[code]
yields
[code]
Is it possible to recursively round all numbers in an expression?
Also it would be nice if functions like `toTeX()` and `convertToLaTeX` can have options for specifying rounding.

[2020-01-29 02:27] AlienKevin opened #528 "Add setting for scientific notation"
Currently, all number outputs are converted to scientific notation only when exceeding 10^20.
[code]
To me, this is a lot of zeros to count. Can we add a new setting like "MIN_SCIENTIFIC_NOTATION" so users can set their desired number of zeros to display before converting to scientific notation?

[2020-01-29 04:59] jiggzson commented on #523
@AlienKevin, the latest version on the dev branch does.

[2020-01-29 08:18] q2apro commented on #527
Is it safe to use `vectrim(solve(...))` for any arbitrary equation?

[2020-01-29 09:23] Happypig375 commented on #527
@jiggzson
Would `solve` calling `vectrim` implicitly be better? @q2apro implied that `solve` must be used with `vectrim` together every time.

[2020-01-29 13:41] Happypig375 commented on #528
An alternative would be to decrease the default boundary of scientific notation. For instance, my calculator can only display up to 10 digits at a time before needing to use sientific notation.

[2020-01-29 13:51] Happypig375 commented on #426
[code]

[2020-01-29 13:53] Happypig375 commented on #426
[code]
Expected `x_3^6`

[2020-01-29 23:49] AlienKevin commented on #523
@jiggzson That's excellent! Is it possible to extend the rounding option to `toTeX()` as currently I need to do
[code]
to get rounding in LaTeX outputs.

[2020-01-30 13:56] jiggzson commented on #527
@q2apro, `vectrim` works strictly on numeric values. Is that what you mean by safe? There are some consequences to using it so that's partially the reason it's not called by  default. For instance `nerdamer('vectrim([sin(0), 0])').toString()` gives `[0]` but `nerdamer('vectrim([sqrt(2), 1.414213562373095089])').toString()` gives `[sqrt(2)]`. I guess those inconsistencies still need to be ironed ou

[2020-01-30 15:19] Happypig375 commented on #527
I prefer Wolfram Alpha's result: `solve(2^(x+2)=7,x)` => `x = (log(7) - 2 log(2))/log(2)`, or even better if complex solutions are also provided.

[2020-01-30 22:02] jiggzson commented on #521
@q2apro, awesome. Your code actually made me realize that there's a bug in the `each` method. It shouldn't iterate an empty set. Thanks for sharing.

[2020-02-15 00:16] yboujraf opened #529 "Compute the reverse of an expression"
Dear @yosuke , @Yaffle  , @DouglasdeMoura  , @selairi  , @jiggzson

I am looking to compute the reverse on an expression.

**Use case :**

$ is the output value for example of a sensor and the manufacturer gives us the expr1 as formula to convert the $ to a display value for the user

But when the user wants to interact with the sensor, he needs to translate the display value to an expr2 to be sur

[2020-02-15 02:58] Happypig375 commented on #529
`solve(y=1+log(x,2),x)` => `[e^(-1+y)]` (bug in solve that does not take base into account)
`solve(y=sin(x / 7.43),x)` => `[(743/100)*asin(y)]` (why limit the answer to an integer?)
`solve(y=x- log(x / (e^(-x) * x^sin(1 / x)), 10),x)` => `[]` (solve needs improvement)

[2020-02-15 03:16] Happypig375 commented on #529
Strangely, I cannot get any math solver online to solve `y=x- log(x / (e^(-x) * x^sin(1 / x)), 10)`, even Wolfram Alpha refuses to do it. Is this even solvable?

[2020-02-15 10:43] yboujraf commented on #529
@Happypig375

6 years ago, I did it with F# but microsoft OS and each time they release the software version the code didn't work and need to be rebuild it with new framework, too much time.

Otherwise there is mathjs ( https://github.com/josdejong/mathjs ) could parse expr1 and compute it but not reverse the expr1.
The owner of the repo said it could be done easily but no time ;-)

Best regards,

[2020-02-15 18:28] Yaffle commented on #529
https://github.com/jiggzson/nerdamer/blob/master/Solve.js#L1334
-                                rhs = _.divide(_.subtract(_.pow(new Symbol('e'), _.divide(rhs, _.parse(lhs.multiplier))), parts[3]), parts[0]);
+                                rhs = _.divide(_.subtract(_.pow(lhs.args.length > 1 ? lhs.args[1] : new Symbol('e'), _.divide(rhs, _.parse(lhs.multiplier))), parts[3]), parts[0]);

[2020-02-16 16:25] jiggzson commented on #529
@Yaffle, thanks for the fix!

@Happypig375, you're right. The only problem with periodic solutions is that we have a to have a clear way of notifying the user that the solutions is in this form. Or a breaking change where the solution is returned as an object with additional information about the solution?

I don't think this equation is solvable. Take a look at the [graph](https://www.desmos.com/

[2020-02-16 18:46] yboujraf commented on #529
Dear @jiggzson

A Glow formula is a tuple of two mathematical expressions, each of which applies a projection to one input value (referred to as **$** in the syntax).

The two expressions must have the following mathematical relationship:

[code]

The user write the expr1 and the library compute the reverse of the expr1 to expr2
expr1 = 1 + log($, 2)
expr2 = 2^($ - 1)

expr1 = sin($ / 7.43) where

[2020-02-16 19:45] yboujraf commented on #529
Dear @jiggzson , @Happypig375 , @Yaffle

This is my use case :

### Formulas ( Rx / Tx)

- Formulas provide a way to project values received from an equipment to another value range or representation.

### INPUT RANGE

•	I have an Analog to Digital convert 12 bits (4096 positions)
•	The manufacturer of the A/D converter infor you for 0 = -128dB and for 4095 = +15 dB

Knowing **two coordinates**, I

[2020-02-17 03:23] Happypig375 commented on #529
@yboujraf You cannot assume that any formula can be inverted and give a single answer.
For example,
when RX($) = $^2,
TX($) = {sqrt($), -sqrt($)}.

There are even instances where the equation is straight-up non-invertible.
When RX($) = 0, TX($) = (any number).

How will you deal with these cases?

[2020-02-17 05:53] yboujraf commented on #529
Dear @Happypig375

Good point.

[code]
This use case will never happen where Rx($)=0.

As written above,

Two use cases :

1. I got two points and I need to calculate the line
- Need to define is it is linear or log

2. I receive from the manufacturer (Rx($) or Tx($).

That's all.

I hope it will help you.

Best Regards
Youssef

[2020-02-17 07:46] Happypig375 commented on #529
So `solve` is what you are looking for.
Just replace `$` with `x`, set the formula to equal `y`, use `solve` to find `x`, and then replace `x` with `$`.

[2020-02-17 15:44] yboujraf commented on #529
@Happypig375

Sorry I have not understood what you mention in you last message.

May I ask you to share an example of code ?

It will be great

Best Regards,
Youssef

[2020-02-17 15:47] Happypig375 commented on #529
-> https://nerdamer.com/functions/solve.html

@jiggzson The Usage section of the three solve functions have an unneeded `nerdamer("")` around the intended usage.

[2020-02-17 15:55] yboujraf commented on #529
@Happypig375

To be honest I am lost.

First I will install the repository then will check it.

Best Regards,
Youssef

Do you have

[2020-02-17 16:00] Happypig375 commented on #529
https://nerdamer.com/demo.html
![image](https://user-images.githubusercontent.com/19922066/74669201-a242ce00-51e1-11ea-9ff4-005f30b4ce7e.png)

[2020-03-02 19:56] #529 closed

[2020-03-02 19:56] #526 closed

[2020-03-17 06:48] iamprayush opened #531 "LaTeX conversion for multiplication is buggy"
Converting expression to latex works as expected but when a string converted to latex is converted back, it displays ^ in place of *.

![Screenshot from 2020-03-17 12-13-24](https://user-images.githubusercontent.com/35144226/76829427-30de5580-6849-11ea-9379-dc5455c72026.png)

[2020-03-29 15:55] #523 closed

[2020-03-29 15:56] #531 closed

[2020-03-30 10:37] Happypig375 opened #533 "numer doesn't work"
`nerdamer('sqrt 2', ['numer'])` -> `sqrt(2)`

[2020-03-30 13:31] jiggzson commented on #533
The second parameter is the knowns/substitutions object. You have to pass it an empty object as the second parameter. `nerdamer('sqrt 2', {}, ['numer'])`.

[2020-03-30 15:27] Happypig375 commented on #533
Oops lol ok

[2020-03-30 15:27] #533 closed

[2020-03-31 04:34] Happypig375 commented on #141
Whether arguments are optional should be documented.

[2020-03-31 06:02] Happypig375 commented on #141
Or are all parameters actually optional?

[2020-04-07 11:12] q2apro commented on #527
It would always be great to have an option to get "only numerical results". Most of my users would not understand `x = (log(7) - 2 log(2))/log(2)`, but prefer `0.8074`.

![image](https://user-images.githubusercontent.com/6764548/78662794-bd74b480-78d9-11ea-84b0-174c3cd7d92d.png)

https://www.matheretter.de/rechner/rechenfreund/?d=x%20%3D%20(log(7)%20-%202%20log(2))%2Flog(2)

*Sorry for my late rep

[2020-04-07 11:19] Happypig375 commented on #527
Use the "numer" option.
https://nerdamer.com/functions/nerdamer.html

[2020-04-10 12:55] FredericMrozinski opened #537 "Wrong result in limit"
Entering `limit((4x^2-x)/(3x^2+x),x,∞)` returns `1/3`. However, the correct answer is `4/3`.
Also, entering `limit(x/abs(x),x,0)` returns `0`, instead it should return `[-1,1]`.

[2020-04-11 13:54] jiggzson commented on #537
Plus `limit((4x^2-x)/(3x^2+x),x,∞)` takes awfully long time to compute. Thanks for reporting. I'll take a look at it.

[2020-04-15 09:08] FredericMrozinski opened #538 "Matrix scalar multiplication does not work"
`matrix([1,2],[3,4])*2` gives the result `matrix([1,2],[3,4])` instead of `matrix([2,4],[6,8])` (at least in the website demo version). Likewise, `matrix([1,2],[3,4])^2` or `matrix([1,2],[3,4])^(-1)` does not alter the matrix, either.

(PS: Sorry for reporting so much, I just love Nerdamer and hope that I can contribute a little through that :-) )

[2020-04-16 12:44] jiggzson commented on #538
@FredericMrozinski, I suspect that scalar operations with matrices was never completed. I'll complete those since this should be fairly easy. Also, you're not over-reporting at all. In fact, thank you for doing so. I really appreciate that.

[2020-04-17 14:22] FredericMrozinski opened #539 "Error in simplify with exponents in fractions"
`simplify(((a+b)^2)/c)` returns `(a+b)*c^(-1)`, though it should return `(a+b)^2*c^(-1)`. Same thing happens with `simplify(c/((a+b)^2))`. Basically, the exponents get lost while simplifying.

[2020-04-19 23:10] jiggzson commented on #426
@Happypig375,
1. At present `convertFromLaTeX` needs the whitespace. I'll work on correcting that.
2. Remember that you need `\\` not just `\`.

I guess since you didn't @mention me, I missed the notification at first. Thanks for pointing these out. I'll take care of them.

[2020-04-20 15:39] #524 closed

[2020-04-20 15:43] #537 closed

[2020-04-20 15:43] #538 closed

[2020-04-20 15:43] #539 closed

[2020-04-20 15:44] #520 closed

[2020-04-20 15:44] #518 closed

[2020-04-20 15:48] jiggzson commented on #539
@FredericMrozinski, fixed.

[2020-04-20 15:49] jiggzson commented on #538
@FredericMrozinski, fixed.

[2020-04-20 15:49] jiggzson commented on #537
@FredericMrozinski, fixed.

[2020-04-20 16:19] FredericMrozinski commented on #537
Dear Martin,
thank you for getting back to the bug so quickly! I just tried the new version and I found results that still seemed to be wrong which are entering `limit((7x^3+4x^2+x)/(12x^3+6x^2-2x),x,∞)` returns `7/4` instead of `7/12` and `limit((15*x^2+x)/(18*x^2-2*x),x,∞)` returns `5/3` instead of `5/6`. Hope that helps!
Cheers,
Frederic

[2020-04-20 17:12] jiggzson commented on #537
Moving to #155

[2020-04-20 19:58] jiggzson commented on #537
@FredericMrozinski, It's fixed but I suspect it might have been due to an issue with simplify. I'll investigate when I get some time.

[2020-04-20 21:43] jiggzson commented on #528
@AlienKevin, can you give me an example of this? I didn't even realize that this happened since I haven't yet complete the scientific notation option. The code is there but just not implemented.

[2020-04-21 02:31] jiggzson commented on #155
@Happypig375 , `limit((x^(1/2)+x^(-1/2))/(x^(1/2)-x^(-1/2)),x,Infinity) => 1` fixed. Agree?

[2020-04-22 02:05] jiggzson commented on #528
@AlienKevin,
I've added this option. Feel free to test it out and provide feedback. In a nutshell:

[code]
The digits can be set with `SCIENTIFIC_MAX_DECIMAL_PLACES` is set to 14 by default. You can force zero exponents to be displayed as scientific numbers by setting `SCIENTIFIC_IGNORE_ZERO_EXPONENTS` to `false`.

[2020-04-22 19:41] jiggzson commented on #155
Expected: -e/2

@Happypig375, looks like I may have waited a little too long since the steps for this one don't seem to be there anymore. Unless I'm overlooking something.

[2020-04-28 19:27] cihancimen opened #541 "Solving specific equation with long variable names hangs."
Following code hangs on `solveEquations(...)` call.
[code]

However, if constant names are replaced shorter names, it returns a result.

[code]

Is there any workaround other than renaming variables?

[2020-04-28 23:58] jiggzson commented on #541
No need. I'll work on fixing this. The issue seems to be with integer factorization which hangs. For now I've just added a safety which just returns the unfactored number. The result should at worst be a correct but less simplified answer.

What perplexes me is the relation to long variable names. Let's leave this issue open until I find some time to looking into this some more. And thanks for rep

[2020-05-05 15:42] ElectrifyPro opened #542 "Factorial issue with simplify()"
I run into this issues with `simplify()`:

`simplify((n)!)/((n+1)!)` should return something like `1/(n+1)`, but it instead gives `n/(n+1)`

[2020-05-07 05:06] bbmarkus opened #543 "The expression equals API fails with following expressions"
Version: 1.1.4

JS fiddle: https://jsfiddle.net/db1th5yc/ (copied from documentation page for nerdamer(x).eq(y), added two expressions at the end).

    var x = nerdamer('4*(x+1)*(x+4)').eq('4*x^2+20*x+16');
    console.log(x.toString());
    var x = nerdamer('(x+1)*(x-1)').eq('x^2-1'); // (a+b)(a-b) = a^2-b^2
    console.log(x.toString());

Expected result: for these two to return true, the secon

[2020-05-07 06:52] bbmarkus commented on #426
nerdamer.convertFromLaTeX('1\\frac{1}{2}').text() // results in: 1*0.5 -> 0.5 when evaluated.

Expected: `1.5`

A whole number (an integer) combined with a proper fraction (numerator < denominator) should be treated as addition not multiplication, i.e. a mixed number (aka. mixed fraction).

You could also convert it to the improper fraction version if that is easier to do `(3/2)` in the example ca

[2020-05-09 13:39] jiggzson commented on #543
Thanks. I think a more appropriate approach to `eq` would be to expand both sides and then test for equality. I'm not sure if that's how it's currently done. I see what you mean about `4(x+1)(x+4)`. It's worth looking into a bit.

[2020-05-09 13:40] jiggzson commented on #542
Thanks for reporting.

[2020-05-09 15:02] bbmarkus commented on #543
@jiggzson you are correct using expand() as part of the input does resolve the issue with `eq`, but shouldn't that be something that `eq` would always do? (make it an optional argument and it won't break any existing use cases 🙂, if that is important).

Here is an opinionated follow up question: should there be a code equivalents for at least expand and simplify? (in my use case it feels a bit wei

[2020-05-09 18:27] jiggzson commented on #543
Correct. That's what I was saying. To make it the default behavior. I can't see why it would break existing use cases.

Not sure what you mean. You can already so something like the following.

[code]

Or are you proposing something else?

[2020-05-09 20:08] bbmarkus commented on #543
Oh you can the documentation doesn't mention that, but now that I look at it closely it might be bit behind (IIRC it doesn't list `nerdamer.rpn()` for instance, which looking at the code seems to be a thing).

I was basically looking for something like: `nerdamer.convertFromLaTeX(input).simplify();` Now looking at Expression in code, expand() seems to be there but simplify looks presently absent.

[2020-05-09 21:47] jiggzson commented on #543
It does somewhat vaguely mentions that at the top of the documentation page with this `var x = nerdamer.diff('sin(x)/x', 'x');     `  line. It's also peppered throughout the documentation pages as examples but you're right, it should be documented a little better.

I see. Got it.

[2020-05-13 12:53] MAGNETO903 opened #544 "nerdamer cant get difficult indefinite integrals"
I want to get antiderivatives of some functions:

function: `3*sin(2*x)*cos(x)^4`
expects: `-acos(x)^6`
returns: `(1/4)*(-3*cos(x)+cos(3*x))`

function:` 3*sin(2*x)*sin(x)^4`
expects: `sin(x)^6`
returns: `(1/2)*(-3*sin(x)+sin(3*x))`

[2020-05-14 07:03] bbmarkus commented on #426
Since I am not sure editing an @-mention into a comment does anything, here: @jiggzson regarding https://github.com/jiggzson/nerdamer/issues/426#issuecomment-625065731 the previous comment.

If you already saw it then apologies for the spam 🙂

[2020-05-16 08:30] MAGNETO903 opened #545 "cant build function"
I tried
`
var f  = nerdamer('acos((-x)^(1/6))').buildFunction();
`

but i get error:
`
TypeError: Cannot read property 'toString' of undefined
`

but if i try
`
var f =  nerdamer('acos((x)^(1/6))').buildFunction();
`
it's works

when in expression i have `-x`, nerdamer breaks

but if i set function `root`
`nerdamer.setFunction('root', ['n', 'x'], 'x^(1/n)');`

and try to build function:
` nerdamer

[2020-05-16 15:35] MAGNETO903 commented on #545
Also i found this:
I have a normal expression: `(4*x^2-9)^(1/4)`

I want to build js function, so i use `buildFunction()`

`var f2 = nerdamer("(4*x^2-9)^(1/4)").buildFunction();`

then I see the text of this function
`console.log(f2.toString())`

and I look:
`
function anonymous(x
) {
 return Math.pow(4*Math.pow(x,2)+-9,0.25);
}
`

because of `+-9` my function would not work.

[2020-05-17 01:14] cur3n4 opened #546 "System of equations fail with Maximum call stack size exceeded"
The equations are:

[code]

Wolfram Alpha returns:
x = 1334.36 and y = 2668.73 and z = 2935.6 and j = 2935.6

[2020-05-20 00:00] vader-coder opened #547 "factor() not giving a correct answer."
When I use nerdamer in a script linked to an html page, I don't get the correct roots.
`  console.log(nerdamer('factor(x^2-4*x+4)').toString());` returns `(-4*x+x^2+4)*factor` instead of `(x-2)(x-2)` or `(x-2)^2`.

[2020-05-20 03:28] Happypig375 commented on #547
Did you load `Algebra.js` in addition to `nerdamer.core.js`?

[2020-05-26 22:52] #547 closed

[2020-05-26 22:53] jiggzson commented on #546
Interesting. I'll look into it.

[2020-05-26 23:10] jiggzson commented on #545
@MAGNETO903, `buildFunction` is getting confused by the parentheses. The quickest fix is to add

[code]
at the top of the `ftext` function [here](https://github.com/jiggzson/nerdamer/blob/c9948d571f391cd97d0720d2196b2120f929fb73/nerdamer.core.js#L11152). I'll add it.

[2020-05-26 23:10] jiggzson commented on #544
Noted.

[2020-05-30 04:48] FilipeAC opened #548 "Function roots of a number"
I looked into previous issues about the roots command, but I couldn't find if this is an issue or the expected behavior:

roots(5) --> +sqrt(5), -sqrt(5)

The command roots was supposed to return the square root of a single number when no expression is given?

[2020-06-15 23:22] jiggzson commented on #548
@FilipeAC, I'm still a little confused. Can you explain it a bit?

[2020-06-17 20:59] FilipeAC commented on #548
My code is interpreting an array of numbers as a polynomial equals to zero, something like this:

[5,1,3,] --> 5x^2 + 1x + 3 = 0

So, just a number would mean

[3] -- > 3 = 0

which is clearly a false statement. So I was expecting some error or NaN or something like that from "roots(3)", since there are no values for variable x that makes 3 = 0 a true statement. That's how I was interpreting the "

[2020-06-19 01:46] jiggzson commented on #548
I see. You're looking for the real roots. Personally I'm not too fond of the `roots` function. It needs a serious overhaul IMO. I would use [solve](https://nerdamer.com/functions/solve.html) instead. You can also filter out imaginary results with the snippet below.

[code]
The biggest issue I see is that your solutions will be of nerdamer's `Symbol` class so you'd probably want to convert those.

[2020-06-22 13:22] FilipeAC commented on #548
Actually, for me, it's easier to implement an IF and don't call the "roots" function when I have just a number. I just opened this issue because I really appreciate the Nerdamer project and I'd like to let you know if it was a some sort of bug.

[2020-06-22 13:23] FilipeAC commented on #548
Thank you again!

[2020-06-22 13:23] #548 closed

[2020-06-25 11:32] MAGNETO903 opened #550 "Add advance root function (nth root and cubic root)"
Add function (maybe `root(a, b)`) that return number `c` that `c^a=b`

`root(3, 8) // return 2`
`root(4, 16) // return 4`
`root(8, 3) // return 1.1472...`

And also add `cbrt(a)` that return number `b` that `b^3=a` (cubic root)

`cbrt(8) // return 2`
`cbrt(27) // return 3`
`cbrt(2) // return 1.2599...`

[2020-06-25 11:46] Happypig375 commented on #550
Are you looking for the real root or the principal root? They are different when complex numbers are in the picture.

[2020-06-25 13:35] MAGNETO903 commented on #550
I did not undertstand the differense between the real root and the principan root, but I am looking for function like `nthRoot()` in [mathjs](https://mathjs.org/) library
[nthRoot function](https://mathjs.org/docs/reference/functions/nthRoot.html)

[2020-06-26 09:33] MAGNETO903 commented on #545
You mean at 11152 line?
`var ftext = function (symbol, xports) {`
`xports = xports || [];`
`...`

[2020-06-26 09:43] #545 closed

[2020-06-27 21:20] nishantwrp opened #551 "Update the type definitions"
The nerdamer type defs are not up to date. There are missing functions on `nerdamer.Expression` like `eq` etc.

[2020-06-29 14:17] jiggzson commented on #550
I know that an `nthroot` function was started at some point but was never completed. I'll look into completing it. Adding a `cbrt` function might not be a bad idea as well.

[2020-06-29 14:22] jiggzson commented on #551
@nishantwrp, the functions like the one you mentioned are undocumented so that may be the reason why they were never added. Since they're undocumented, they technically not supported. If you don't mind sending a PR with the updated type defs we can probably start supporting them.

It would be great if you provide that list ahead of time so we can all be on the same page.

[2020-06-29 14:27] nishantwrp commented on #551
I think they are documented here -> https://nerdamer.com/functions/Expression.eq.html

[2020-06-29 14:40] jiggzson commented on #551
I see. I guess that puts the undocumented argument to rest 😆. Well, feel free to send over a PR to help speed this issue up. If you decide to do so, thanks in advance. I've been somewhat short on time lately so it might take a little while before I get to it.

[2020-07-05 20:51] #541 closed

[2020-07-05 20:51] #542 closed

[2020-07-05 21:02] jiggzson commented on #550
Done.

[2020-07-05 21:02] #550 closed

[2020-07-05 21:03] jiggzson commented on #544
Moving to #334

[2020-07-05 21:03] #544 closed

[2020-07-05 21:04] jiggzson commented on #528
Added. Missing documentation.

[2020-07-05 21:05] #527 closed

[2020-07-10 16:36] ElectrifyPro opened #553 "Solve returns correct answer, but in an ugly format"
I recently discovered the sheer power of extending nerdamer's core functionality, and all I can say is that it's amazing. However, I encoutnered this issue when I created this extension function (usng Node.JS):
[code]
...which is supposed to convert a number from radians to degrees.

Using Nerdamer's solve function like this:
[code]
...returns this:
[code]
...which isn't wrong, but looks a lot dif

[2020-07-10 16:50] ElectrifyPro commented on #553
I figured out the issue; `new Symbol('pi')` is much different than `new Symbol(Math.PI)`

[2020-07-10 16:50] #553 closed

[2020-07-16 05:54] yasuhito opened #554 "Tensor product support?"
Hi, I am currently trying to implement a quantum computer simulator in a browser using Nerdamer. To simulate quantum bits, it needs a lot of tensor products of matrices, so I am thinking of extending Nerdamer to do this.

<img width="827" alt="Screen Shot 2020-07-16 at 14 51 06" src="https://user-images.githubusercontent.com/8810/87632199-d233d480-c773-11ea-9cc9-c26e4bb3e99b.png">

https://en.wiki

[2020-07-18 15:26] ElectrifyPro opened #555 "Incorrect solution of rational equation"
`nerdamer('solve(1/x, x)').toString()` returns `[0]` when there should be no solutions.
`nerdamer('solve(1/x=0, x)').toString()` throws a parser error, even though these two (I believe) should behave the same

[2020-07-20 19:58] jiggzson commented on #554
That's pretty cool to hear. Hopefully nerdamer can meet your needs. If there's anything missing please bring it to my attention so it can be considered for future additions. I've been away from my computer for a few days hence my late reply.

Yes. Additonally take a look at #154. That issue deals with custom operators. The custom operator section on the site needs to be updated.

The main classes

[2020-07-20 20:01] jiggzson commented on #555
@ElectrifyPro, interesting. I agree, they both should return an empty solution set. Thanks for reporting this.

[2020-07-27 01:42] ElectrifyPro opened #556 "Solving linear equation that contains "pi" fails"
Using `solve()` on `4x+2y=2` works for both variables:
[code]

Using `solve()` on `4x+2y*pi=2` does not work:
[code]

[2020-07-31 11:53] MiltonCobo opened #557 "By default Nerdamer prints e^() instead of exp(). It would be nice to allow printing the standard exp(), for example when resulting output will be passed to another library for plotting."
I am writing a simple program for solving and plotting linear EDOs. The solutions are plotting using FunctionPlot.js, which takes the string form of a function, say "exp(x)", and very nicely plot it using d3.
So, after making the calculations in Nerdamer I want to pass the solution, as a string, to FunctionPlot. As the default output of Nedamer is to print "e^(x)" instead of "exp(x)", it is necess

[2020-07-31 12:00] MiltonCobo opened #558 "Nerdamer apparently fails to integrate "exp(log(x)) = x" and "exp(sin(x))*cos(x)"."
The library doesn't recognize that "exp(2*log(x))" is equal to "x^2". Also the integral of "exp(sin(x))*cos(x)" is easily solve by making the substitution "u=sin(x)". This is important because this integrals appears frequently when solving simple linear ODEs.

[2020-07-31 20:41] cauefcr opened #559 "Trying to implement Neville's algorithm in nerdamer"
Hi, first i want to say thank you for this amazing library, i'm trying to implement some extrapolation and interpolation function of arbritary arity polynomials from a vector of point pairs to give you an inference pull request.

so far i got Neville's algorithm to give me the string of the polynomial from the javascript side, and to evaluate that it works in nerdamer, but when i try to register t

[2020-08-01 03:53] dromastyx opened #560 "exp(i + x pi) gives sin(π⋅x)⋅i+cos(π⋅x)"
Hi, thanks for this great project. I think there might be an error with the exp function: exp(i + x pi) gives the same expression as exp(i pi x), which is sin(π⋅x)⋅i+cos(π⋅x). Then if we, for example, evaluate exp(i  + pi), we get -1, which I think is incorrect.

[2020-08-02 07:16] MAGNETO903 opened #561 "Problems with fractional powers (when I build function)"
I have a simple expression
`log(x)^(1/3)` (1)
which is equivalent
`cbrt(log(x))` (2)

I built expression (1)
`var f = nerdamer("log(x)^(1/3)").buildFunction()`
and then tried to use it
[code]
it fails

But when I build expression (2)
`var f2 = nerdmamer("cbrt(log(x))").buildFunction()`
and tested
[code]
that's right

[2020-08-02 07:19] MAGNETO903 commented on #561
Thats occurs, because `Math.pow(n, x)` cant calculate when n<0 and x<1.
So, I can write my own `nthRoot(n, x)` and say nerdamer to user `nthRoot(n, x)` instead of `Math.pow()`

[2020-08-13 03:01] CAG2Mark opened #562 ""System does not have a distinct solution" when solving system of linear equations"
`nerdamer.solveEquations(['x+y=1', '2*x=6', '4*z+y=6']);` outputs the following:
`[["x", 3], ["y", -2], ["z", 2]]`

When I add the equation 'y = (-1) * z' to the system, the solution should not change, as y is indeed equal to -z. However, when I run the following code:
`nerdamer.solveEquations(['x+y=1', '2*x=6', '4*z+y=6', 'y = (-1) * z']);`
I get the error:
`System does not have a distinct soluti

[2020-08-13 03:49] ElectrifyPro opened #563 "Incorrect solution when solving for y in equation of circle"
[code]

[2020-08-25 17:53] sairish2001 opened #564 "diff(sin^2 x,x)"
It gives output sin^2 only but it should be (2 sin x cos x)

Similar Problem facing for other functions i.e. cos,tan..etc

[2020-08-26 04:55] Happypig375 commented on #564
Try `sin(x)^2` instead of `sin^2 x`.

[2020-08-28 19:48] jiggzson commented on #562
This one might be somewhat related to #546 but I'm not sure.

[2020-08-28 19:48] #554 closed

[2020-08-28 19:49] jiggzson commented on #558
Got it. Thanks.

[2020-08-28 19:51] jiggzson commented on #559
@cauefcr, sorry for the late reply. I'm a little confused as to what's going on and what's expected. Can you provide the algorithm so we can maybe start there?

[2020-08-28 19:52] jiggzson commented on #560
@dromastyx, you're right. I think this is related to a misinterpretation of Euler's identity within nerdamer. I'll take a look at it. Thanks for reporting.

[2020-08-28 19:54] jiggzson commented on #561
@MAGNETO903. yes you can. You can define your own function name `nthRoot` function but make sure you also define it's numeric equivalent within the `Math2` object. I'll try to provide an example soon.

[2020-08-28 19:55] jiggzson commented on #563
Got it. Thanks.

[2020-08-28 19:55] #564 closed

[2020-08-29 04:09] CAG2Mark commented on #562
I don't know to be honest. But it would be useful if it was able to
recognise duplicate equations in a system of linear equations.

On Sat, Aug 29, 2020 at 3:48 AM Martin Donk <notifications@github.com>
wrote:

[2020-08-30 05:46] cauefcr commented on #559
I`m sorry, for my text was too confusing, const neville is the algorithm, it produces interpolations from point pairs, I was trying to implement it into nerdamer, to have a good interpolation library in javascript, but i ran into out of memory problems, what should i do?

[2020-09-08 22:55] thunderkid opened #565 "Simplify failing to simplify ratio of quadratics."
Hi,
Excellent library. Thank you!
I'm finding that `simplify` is failing on this:

`nerdamer('simplify((- x + x^2 + 1)/(x - x^2 - 1))').toString()`

Instead of `-1` it is giving `( - 1 - x ^ 2 + x ) ^ ( - 1 ) * ( - x + x ^ 2 + 1 )`.

However, it works fine if you replace `x^2 -> y`. So

`nerdamer('simplify((- x + y + 1)/(x - y - 1))').toString()`

gives `-1` as you'd expect.

[2020-09-10 04:42] thunderkid opened #566 "Simplify giving wrong answer on ratio of quadratics."
The expression

`simplify((-2 x -2 x^2 - 2)/(x + x^2 + 1))`

gives `2` instead of the correct answer of `-2`.

Note that this is different than https://github.com/jiggzson/nerdamer/issues/565. In that case, simplify failed to do anything at all (though a simplification was easily possible.)
In this case it does do something, but what it does is incorrect. I can't tell yet from the code whether the

[2020-09-10 20:19] thunderkid opened #567 "Simplify wrongly thinks sin(x)^2+cos(x)^2-1 = 1"
Run `simplify(sin(x)^2+cos(x)^2-1)`. It gives `1` instead of `0`.
But run it on `simplify(sin(x)^2+cos(x)^2)` and it correctly returns `1`.
However, `simplify(1-1)` correctly gives `0`.
I'm running version 1.1.5 and also checked on the demo website. Same results.

[2020-09-10 20:34] thunderkid opened #568 "Simplify hangs depending on lexographic ordering of the variable names."
Running the following does not hang:

`simplify(z - ( ( - ( - 1 + x ) ^ ( - 1 ) + x * ( - 1 + x ) ^ ( - 1 ) ) ^ ( - 1 ) * ( - 1 + x ) ^ ( - 1 ) * z * x - ( - ( - 1 + x ) ^ ( - 1 ) + x * ( - 1 + x ) ^ ( - 1 ) ) ^ ( - 1 ) * ( - 1 + x ) ^ ( - 1 ) * z * x * x ^ ( - 1 ) ) )`

Now change the variable name from `z` to `w`. So run this:

`simplify(w - ( ( - ( - 1 + x ) ^ ( - 1 ) + x * ( - 1 + x ) ^ ( - 1

[2020-09-20 18:53] kk2dev opened #569 "Nerdamer in React Native"
Can Nerdamer be used in React Native projects, and if so, how? I have been trying to import it to my new React Native app with only partial luck (for some reason, only nerdamer.solveEquations works, but other functions do not).

This is how I imported it into my react native app:

`
import nerdamer from 'nerdamer/nerdamer.core.js'
`
`
import 'nerdamer/Algebra.js'
`
`import 'nerdamer/Calculus.js'`

[2020-09-22 13:28] Nick481 opened #570 "ConvertToLaTeX doesn't convert negative exponents into a fraction."
When using nerdamer.convertToLaTeX, any string/expression with a negative exponent is left in a negative exponent format instead of being converted to a fraction where the exponent term is moved to the denominator and becomes a positive exponent.

For example, the result of convertToLaTeX on the string "s^(-2)" is "s^{\left(-2\right)}" which renders as this:
http://prntscr.com/ultj83

If it conver

[2020-10-01 15:06] markhats commented on #563
I've just bumped into this issue as well. Interestingly
[code]
seems to work OK. So it's just when the coefficient of `x^2` is 1. Any ideas of a fix for this one?

Thanks.

[2020-10-08 00:58] ElectrifyPro opened #571 "Integral of "1/x" should be "log(abs(x))""
[code]
I saw this same problem in one of [Algebrite's issues](https://github.com/davidedc/Algebrite/issues/17), and so I'm not too sure if it'll be a complication for you, but it'd be convenient if you can fix it.

Thank you so much for all the work you've put into this amazing library!

[2020-10-08 03:22] ElectrifyPro commented on #570
`convertToLaTeX` does not evaluate the expression, according to the docs. If you want this behavior, you probably need to simplify it first before calling `convertToLaTeX`.

[2020-10-08 12:17] Nick481 commented on #570
I think you are correct on that, I went and tested some different scenarios and things like nerdamer.diff and nerdamer.divide are what produces the negative exponents. Ideally, there could be an option for outputting negative exponents in fraction form when converting to LaTeX.

As of right now, nerdamer.simplify does not convert negative exponents to fraction denominators so I will see if I can f

[2020-10-09 17:09] MatheNerd92 opened #572 "Limit to infinity fails"
HI,
first of all thanks for your library. It is great!  I think I found a mistake.
`Nerdamer('limit(e^(-x),x,Infinity)');
//0`

But this one gives
`Nerdamer('limit(e^(-x)+2,x,Infinity)');
//Infinity`

[2020-10-13 15:10] DylanXie123 opened #573 "`log(1/sqrt(2))` get wrong output"
I find a bug when I test some math eqautions.
`1/sqrt(2)==0.7071` and `log(0.7071)==-0.3552`,
but when I type `log(1/sqrt(2))`, I get `0.3552` instead of `-0.3552`
![Image](https://s1.ax1x.com/2020/10/13/04e3sU.jpg)

[2020-10-23 15:09] markhats commented on #563
I've looked into this a bit more and not sure if anyone can help? Basically when solving this type of expression, it first tries to factorize it:

Line 1285 - Solve.js
[code]
For `x^2+y^2=4` this incorrectly gives the following factorization: `(-x+y)(x+y)`
This can also be seen using the demo page:
[code]
The factorization seems to fail in the "difference of squares factorization" routine (line 26

[2020-10-24 01:23] ElectrifyPro commented on #563
Interesting. When you 'bypass the factorization in `solve`' as you said, does it return the correct solutions of the circle equation?

[2020-10-24 02:19] ElectrifyPro commented on #563
I believe I've spotted the problem. In the diff. squares function, there is no check to make sure the signs of the two terms were actually different, which means that a sum of squares could be factored. Could you check the linked PR and help verify this?

[2020-10-24 19:09] markhats commented on #563
Thanks for looking into this.

Your PR does indeed fix the issue for all circle equations that I have tried.

[2020-10-25 03:15] ElectrifyPro commented on #563
Excellent! Then all that's left is to wait for @jiggzson's input.

[2020-10-26 12:52] #569 closed

[2020-10-27 12:09] jiggzson commented on #563
@ElectrifyPro, thanks for tackling this. I definitely think you're on the right track. Your PR does indeed fix the issue but now it appears that two types of expressions no longer factor. Probably something minor.
[code]
Can you think of any reason those are now failing?

[2020-10-27 22:01] ElectrifyPro commented on #563
Hm, when I tried factoring `x^2-y^2` and logged the signs of `a` and `b` in the `sqdiff` function, both returned 1, which of course doesn't pass the signs-not-equal-to-each-other check. The sign of the y symbol should be -1, which seems to be the problem here.

[code]

[2020-10-28 00:05] jiggzson commented on #563
@ElectrifyPro, thanks for tracking this down. I'll look into it.

[2020-11-08 15:00] michalmicpaw opened #575 "in line 10052, there should be input[2] instead of input[1] (printing log(x, y))"
Hello.

I've found logical error in your code. In line 10052: You need to change line:

`v[index] = '\\mathrm' + this.braces(Settings.LOG) + '_' + this.braces(input[1]) + this.brackets(input[0]);`

to

`v[index] = '\\mathrm' + this.braces(Settings.LOG) + '_' + this.braces(input[2]) + this.brackets(input[0]);`

cause it prints comma instead of number at floor level.

Thanks ;)

[2020-11-08 20:15] michalmicpaw opened #576 "Line 7759 => new definition of log, works with every combinations of multiplications and powers"
Hi.

I've spend few hours but i did it! You can change fefinition in 7759 from:

[code]

to this:

[code]

phew..

Now you can write
[code]

[2020-11-13 13:23] CAG2Mark opened #577 "simplify() returns 1 on an expression that is clearly not equal to 1"
I am trying to simplify the following expression:

`-(-5*x - 9 + 2*y))`

When I run the simplify() function with Nerdamer,
`nerdamer("simplify(-(-5*x - 9 + 2*y))").toString();`
... it outputs `1` for some reason, which is very clearly wrong!

Even when running it in its simplest form:
`nerdamer("simplify(5*x - 2*y + 9)").toString();`
... it still outputs `1`.

Does anyone know why this is happenin

[2020-11-14 14:59] michalmicpaw opened #578 "I'd like to sort result of nerdamer in power order, not alphabetical"
Hi.

What should I change, to sort result of **nerdamer(str).evaluate().toTeX()**, to be ordered in **power** order?

I.E.

**1/3*x^3+1/2x+x^2** => **1/3*x^3+x^2+1/2*x**?

Where should I dig?

[2020-11-17 21:28] SomebodyLikeEveryBody opened #579 "nerdamer.convertToLaTeX(e.text('decimals'))"
Hello,

I'm currently working on a front-end calculator and your library is absolutely awesome for that, thanks a lot !
(https://github.com/SomebodyLikeEveryBody/Solve4Me,
https://somebodylikeeverybody.github.io/Solve4Me/).

I'm displaying the LaTeX results (obtained by `nerdamer.convertToLaTeX()` function) in the web page (using jqMath.js.)

However, I want to have results that are not as fractio

[2020-11-24 18:35] jiggzson commented on #579
@SomebodyLikeEveryBody, I think there should be an option to explicitly request it to return the output in decimal form. Let me dig in a little and figure this out.

[2020-11-24 18:36] jiggzson commented on #578
Your issue seems to be related to the fact that you call evaluate. When you just call `toTeX` it does order it in the form you prefer. Not sure why this happens when evaluate is called.

[2020-11-24 18:37] jiggzson commented on #573
Got it. Will fix.

[2020-11-24 18:39] jiggzson commented on #571
@ElectrifyPro, I can't remember why this particular result off the top of my head. Changing the output isn't really the problem but since `integrate` relies on itself, this may break other integrals. I'll take a look at it.

[2020-11-24 18:40] jiggzson commented on #567
Got it. I'll take care of this. Thanks for reporting.

[2020-11-30 13:46] Meowcolm024 commented on #572
I found the same problem.

[2020-12-02 21:35] jiggzson commented on #563
@ElectrifyPro, this should be fixed on the `dev` branch. Please let me know if that's indeed the case.

[2020-12-02 21:36] jiggzson opened #580 "Pending issues with simplify"
`simplify((1/2)*sqrt(-4*x^2+16))` does not simplify

[2020-12-03 10:58] markhats commented on #563
@jiggzson Thanks - I've tried the dev branch and it fixes solving the circle equations. It still seems to fail on equations such as the following but this may be a separate issue??
[code]

[2020-12-03 17:48] jiggzson commented on #563
@markhats, thanks for looking into this and thanks @ElectrifyPro for tracking this issue down. It's been a big help.

[2020-12-03 20:26] jiggzson commented on #580
`(-1/2)*(1+x^2)^(-1)*sqrt(16+16*x^2)`

[2020-12-03 21:55] jiggzson commented on #572
@Meowcolm024, the library currently doesn't know how to get this limit and should have returned it as a limit. I'll leave this open and work on a solution to these types.

[2020-12-03 22:28] jiggzson commented on #572
@MatheNerd92, @Meowcolm024 both limits should now be fixed.

[2020-12-03 22:40] markhats commented on #563
@jiggzson cool - looks to be all working now. Thanks!

[2020-12-13 20:15] jiggzson commented on #580
`11/(sqrt(11)/2)`

[2020-12-14 20:19] jiggzson commented on #576
@michalmicpaw, thank you for looking into this. I tried your solution but unfortunately it broke 4 cases. See below.
[code]

However, I think I may have achieved what you were aiming at. It's currently fixed on the `dev` branch. Let me know. Thanks for your effort. I really appreciate it.

[2020-12-14 21:34] jiggzson commented on #570
@Nick481, I agree. Ideally, the output should be consistent. I'll look into it.

[2020-12-14 22:39] jiggzson commented on #575
@michalmicpaw, can you give me an example of what this fixes? When I update this line and type in `nerdamer('log(x,y)').toTeX()`, I now get `\mathrm{log}_{undefined}\left(x\right)` instead of `\mathrm{log}_{y}\left(x\right)`

[2020-12-16 21:14] jiggzson commented on #580
`simplify(z-((-(-1+x)^(-1)+x*(-1+x)^(-1))^(-1)*(-1+x)^(-1)*z*x-(-(-1+x)^(-1)+x*(-1+x)^(-1))^(-1)*(-1+x)^(-1)*z*x*x^(-1)))`

Moved from #568

[2020-12-16 21:14] jiggzson commented on #568
Moved to #580

[2020-12-16 21:14] #568 closed

[2020-12-16 21:15] #563 closed

[2020-12-16 21:15] #567 closed

[2020-12-16 21:15] #555 closed

[2020-12-16 21:15] #556 closed

[2020-12-16 21:15] #572 closed

[2020-12-16 21:15] #573 closed

[2020-12-16 21:15] #577 closed

[2020-12-16 21:15] #566 closed

[2020-12-16 22:21] #443 closed

[2020-12-18 03:29] jiggzson commented on #141
Add setting for scientific notation #528

[2020-12-18 03:30] jiggzson commented on #528
This issue has been fixed. It's documentation still needs to be added so moved to #141.

[2020-12-18 03:30] #528 closed

[2020-12-18 17:44] jiggzson commented on #579
@SomebodyLikeEveryBody, fixed on `dev`. You can now call it as `nerdamer.convertToLaTeX(e, {decimals: true})`. Also your project looks interesting but it wasn't readily apparent to me how it works. Can you give me a brief overview of it.

[2020-12-18 17:44] jiggzson commented on #561
@MAGNETO903, was your issue resolved?

[2020-12-19 07:42] MAGNETO903 commented on #561
no

[2020-12-25 13:42] MAGNETO903 opened #582 "How to build nested functions in nerdamer?"
I have 2 simple functions:
`f1(x)=2*x`
`f2(x)=x^2`

I want to make a function `f3` that:
`f3(x) = f1(f2(x)) = f1(x^2) = 2x^2`

I type in nerdamer:
[code]

[2020-12-26 09:10] iamprayush opened #583 "Expression doesn't get invalidated correctly."
Parsing expressions like `+` or `(+)` should yield errors but they don't.
I tried running `console.log(nerdamer('+'))` and no errors were thrown, whereas if I did the same with any other operator, errors were thrown as expected.

[2020-12-28 15:26] jiggzson commented on #582
@MAGNETO903, I suspect that the problem is related to confusion regarding the variable names. If you do,
[code]
it seems to give the expected result.
Ironically I remember this not being the problem in past versions so I'm not sure when this broke. I'll take a look at this. Thanks.

[2020-12-28 15:28] jiggzson commented on #583
@iamprayush, agreed. This should be easy enough to fix. I'll probably have it throw something like `UnexpectedOperatorError`.

[2020-12-29 05:00] MAGNETO903 commented on #582
Ok!)

[2021-01-09 03:34] DylanXie123 opened #584 "Is it possible for `nerdamer.convertFromLaTeX(TeX)` to support LaTex matrix?"
I want to parse LaTex matrix with nerdamer, but I find `nerdamer.convertFromLaTeX(TeX)` throw error when parsing
[code]
example code:
[code]
this gives
[code]

[2021-01-09 23:25] jiggzson commented on #584
@DylanXie123, I don't think it should be too difficult. I'll look into it.

[2021-01-10 11:21] sametaylak opened #585 "Invalid equations with number variables"
[code]

I am trying to solve an equation with above example but It is creating invalid variable.

`_bar` should be `foo__16_bar`   - I think It is respecting after the number part

[2021-01-19 15:34] jiggzson commented on #585
@sametaylak, noted. That's an interesting bug. I'll look into it. Thanks for reporting.

[2021-02-02 15:48] jiggzson commented on #585
[code]
Which is clearly wrong.

[2021-02-07 23:16] jaypaik opened #588 "Incorrect solve output for some polynomial equations"
Hi!

I'm seeing differences in solutions between `nerdamer` and [Wolfram Alpha](https://www.wolframalpha.com/input/?i=solve+d%2Fdx+10-110%2F%2820-100%2F%2810%2Bx%29%29-x) for this particular call:
[code]
[code]

When taking the output of `diff` and solving it via [Wolfram Alpha](https://www.wolframalpha.com/input/?i=solve+-1%2B11000*%28-100*%2810%2Bx%29%5E%28-1%29%2B20%29%5E%28-2%29*%2810%2Bx%29%5

[2021-02-09 07:54] cihancimen opened #589 "solveFor(...) call hangs if a constant with many decimal digits are present"
Following code hangs.
[code]

Reducing number of digits in the constant allows nerdamer to solve the equation

[code]

@jiggzson Here is the stack trace where the hanging seemingly occurs.
[code]

[2021-02-09 19:07] jiggzson commented on #588
@jaypaik, thanks for bring this to my attention.

A quick investigation seems to point at a bug in `expand`. I'll have to take a closer look to see exactly what's happening.

`expand(-(-100*(10+x)^(-1)+20)^2*(10+x)^2+11000)`
 gives
 `-16000000*(10+x)^(-2)*x^2-1600000000*(10+x)^(-2)-29000-320000000*(10+x)^(-2)*x-400*x^2-8000*x`
 but should give
 `-(10000*x^2)/(x^2+20*x+100)-(200000*x)/(x^2+20*x+100

[2021-02-09 19:21] jiggzson commented on #589
@cihancimen, I'll check it out. Thanks.

[2021-02-10 23:14] richbully opened #590 "Incorrect derivative"
Hello!

Just reporting an error with derivative.

Using the demo on your website returns the below:
![image](https://user-images.githubusercontent.com/11023398/107584443-5ba37a80-6c61-11eb-9b6e-7a776f7d3016.png)

The first part of the answer should be "3(x^0.5+x)^2" or equivalent? If you substitute x=4 into the result you should get 135 not 75.9

Cheers
Richard

[2021-02-11 14:27] jiggzson commented on #590
@richbully, got it. Thanks.

[2021-02-15 02:15] #590 closed

[2021-02-15 02:17] jiggzson commented on #588
@jaypaik. Fixed. Quite an interesting issue by the way. It was a lot more involved than I initially thought. It actually ended up exposing three bugs.

[2021-02-15 02:38] jaypaik commented on #588
Wow, that does seem like a pretty involved fix, and I see you had to deal with what seems like floating point precision issues too. Thanks for the fix and actively maintaining this project to this day. Cheers!

[2021-02-15 03:17] jiggzson commented on #588
Unfortunately you are correct. Someday I'll find the time and motivation to do a complete conversion to big numbers.

You're welcome and thanks.

[2021-02-15 03:17] #588 closed

[2021-02-15 03:35] #589 closed

[2021-02-15 16:28] jiggzson commented on #584
@DylanXie123,

Correct me if I'm wrong but shouldn't it be?

[code]

[2021-02-15 16:50] #579 closed

[2021-02-15 16:51] #558 closed

[2021-02-15 17:08] #560 closed

[2021-02-15 17:08] #583 closed

[2021-02-16 02:30] DylanXie123 commented on #584
@jiggzson I think you are right.

[2021-02-16 02:56] jiggzson commented on #585
@sametaylak, I forgot to @mention you.

[2021-02-16 03:25] jiggzson commented on #584
@DylanXie123. I added an update on the `dev` branch. Let me know of that's what you had in mind.

[2021-02-16 18:29] jiggzson commented on #582
@MAGNETO903, this issue should be fixed.

[2021-02-16 19:12] #576 closed

[2021-02-16 19:13] #575 closed

[2021-02-17 11:44] DylanXie123 commented on #584
@jiggzson That's exactly what I want, thanks!

[2021-02-17 11:44] #584 closed

[2021-02-18 00:17] jiggzson commented on #546
@cur3n4, this one is fixed. I know if sat a while but I finally managed to get to it. Oddly enough, I thought this was going to be a lot harder than it really was. I don't get Wolfram Alpha's numbers instead I get
[code]
These numbers seem to also satisfy the system.

[2021-02-19 01:06] jiggzson commented on #585
@sametaylak, I don't normally recommend regex solutions but in this particular case I personally think it makes sense. I've moved the regex which is used to detect variables in the `Settings` object. Normally the regex looks like this `/([\+\-\/\*]*[0-9]+)([a-z_αAβBγΓδΔϵEζZηHθΘιIκKλΛμMνNξΞoOπΠρPσΣτTυϒϕΦχXψΨωΩ]+[\+\-\/\*]*)/gi`. In your case, you don't want variables to start with an underscore so

[2021-02-19 01:06] #585 closed

[2021-02-19 01:07] #582 closed

[2021-02-19 08:56] roy77 opened #592 "bad results with ilt"
Tested with https://nerdamer.com/demo Nerdamer 1.1.7

ilt(1/(s^2+s+1),s,t) =>1/(0!⋅e^t) wrong        correcht 2/ sqrt(3)*  e^(-t/2) * sin( sqrt(3)*t/2)
ilt(1/(s^2+2s+1),s,t) =>1/(0!⋅e^t) wrong      correct e^(-t)*t
...

[2021-02-19 21:13] jiggzson commented on #592
Received. Thanks.

[2021-02-19 21:17] #562 closed

[2021-02-19 21:17] #546 closed

[2021-02-19 22:46] jiggzson commented on #592
Adding this one to the list `nerdamer('ilt(((s+1)*(s+2)*(s+3))^(-1), s, t)').evaluate()`

[2021-02-20 17:20] #543 closed

[2021-02-20 17:20] #131 closed

[2021-02-24 22:02] jiggzson commented on #322
`solve((x^3-4)/(x^3+7x-11),x) ` does not give solutions

[2021-03-08 22:48] richbully opened #593 "Definite integral answer incorrect"
Hello,

Please refer to the below image using your demo page.

The integration of z with respect to x correctly returns "z*x" but if you take the definitive integral between 0 and 1 you incorrectly get "1/2", should be 'z'.

Works correctly if you put a constant in though (i.e. bottom example)

![image](https://user-images.githubusercontent.com/11023398/110391860-f52d4300-80cc-11eb-9ba2-da5755453a

[2021-03-11 19:31] markhats opened #594 "Issue solving x^3+y^3=3"
Hello

I noticed a problem with solving equations of a form similar to:
[code]
Running the following command:
[code]
gives an output of:
[code]
I would expect an output more like:
[code]

Let me know if you need any more info. TBH getting the real-valued root correct would be enough for me.
Thanks.

[2021-03-12 12:48] jiggzson commented on #593
@richbully, I see. It sees a variable and wrongly assumes it to be the variable of integration. Got it.

[2021-03-12 13:02] jiggzson commented on #594
@markhats, I know that the solutions looks a bit hairy but they're based on the [cubic equation](https://en.wikipedia.org/wiki/Cubic_equation).

Reading that gave me the impression that the solutions where incorrect so I did a quick test.
[code]
You can see some floating point and rounding errors but the answers are generally correct. With v2.0, I'm hoping to eliminate or at the very least, greatl

[2021-03-12 15:01] markhats commented on #594
Hi @jiggzson

Thanks for the reply.  I've looked into it a bit more. I think the problem I'm having is due to the solution
[code]
evaluating to zero for all values of x > √3. You can see this with your above test. If you substitute in x=2 rather than x=1, then the result is zero.

Happy to help in any way I can, although I'm by no means an expert on CAS. To me, the obvious form of the solution to

[2021-03-12 17:42] jiggzson commented on #594
Oh man. I see. @markhats. Let me look into it.

[2021-03-18 11:36] gulyasmarton opened #595 "solveFor return empty array"
Hello,

I have an ugly equation:

[code]
According to [WolframAlpha](https://www.wolframalpha.com/input/?i=solve+%28%282*0.87*x-2*sqrt%28x%5E2%280.87%5E2-1%29%2B4*4%5E2%29%29%2F2%29%5E2%2B%28%282*0.86*x-2*sqrt%28x%5E2%280.86%5E2-1%29%2B4*5%5E2%29%29%2F2%29%5E2-0.87*%28%282*0.87*x-2*sqrt%28x%5E2%280.87%5E2-1%29%2B4*4%5E2%29%29%2F2%29*%28%282*0.86*x-2*sqrt%28x%5E2%280.86%5E2-1%29%2B4*5%5E2%29%29%2F2

[2021-03-20 23:09] jiggzson commented on #595
😆 It is a bit hairy looking but in a pet-like way.

Nope. So here's the thing. Under the hood, when all else fails, solve reverts to Newton's iterations and tries to solve it numerically. It first generates a few good starting points and then checks for zeroes around that point. In reality it should've tried something like bisection first since Newton sometimes overshoots the point because of how

[2021-03-20 23:13] jiggzson commented on #594
@markhats, this should be fixed. The fix is currently sitting on the `dev` branch. So the solution doesn't quite come in the form that you're looking for but I noticed that if you simplify the answers that you do get it in the form you're looking for.

[code]
I'd appreciate it if you test it some more but don't feel obligated to.

[2021-03-21 18:38] #578 closed

[2021-03-22 21:17] jiggzson commented on #580
simplify(((-1/2)*x^3+3/2+abs((-1/2)*x^3+3/2))^(1/3)+((-1/2)*x^3-abs((-1/2)*x^3+3/2)+3/2)^(1/3))
gives
x^3-3
which is wrong. Discovered with #594.

[2021-03-24 09:16] MAGNETO903 opened #596 "nerdamer can't convert from latex expressions like \sqrt[a]{b} correctly"
I tried:
`nerdamer.convertFromLaTeX("\sqrt[2]{a}").toString()`
I expected:
`"sqrt(a)"` or `"a^(1/2)"` or something like this
But I got:
`"a*sqrt(2)"`

Also:
I tried:
`nerdamer.convertFromLaTeX("\sqrt[3]{2a}").toString()`
I expected:
`"(2a)^(1/3)"` or `"1.25992...*a^(1/3)"` or something like this
I got:
`"2*a*sqrt(3)"`

[2021-03-24 18:31] jiggzson commented on #596
@MAGNETO903, fixed on `dev`

[2021-03-24 20:15] jiggzson commented on #570
@Nick481, I know it's been a while but I'm going to be revisiting this issue as my last issue for 1.1.8. I'm hoping to have a solution for this. Any additional insight on this issue? Any good workarounds that I can incorporate?

[2021-03-24 20:15] SomebodyLikeEveryBody commented on #579
You rocks, thank you very much.

Well, Solve4Me is/was suppose(d) to be a sort of calculator (like SageMath is by using jupyter), but to avoid the server problematics (security, performances management, etc), I wanted something very simple, running only on client side with a server whose only jog is to send the html/css/javascript code and all the calculations and entry management is done in the b

[2021-03-25 23:12] #570 closed

[2021-03-25 23:12] #593 closed

[2021-03-25 23:12] #595 closed

[2021-03-25 23:18] #594 closed

[2021-03-25 23:18] #565 closed

[2021-03-25 23:21] jiggzson commented on #358
Consider ability to specify type as per #496.

[2021-03-26 01:34] jiggzson commented on #322
`solve(x^3+2x^2+3x-4=0,x)` gives wrong answer. Solve for cubics still broken.

[2021-03-26 16:38] markhats commented on #594
Sorry @jiggzson - missed this update. All seems to be working great now!

Many thanks.

[2021-03-26 18:52] jiggzson commented on #594
@markhats, no worries. I just updated the cubic equation on `dev` because it still had an issue and that should be fixed now. I was rushing to wrap everything up so I forgot to delete that line 😆. Thanks for pointing it out.

[2021-03-26 19:00] jiggzson commented on #579
@SomebodyLikeEveryBody, glad to have been able to play a small part in the development of your app. It definitely sounds like it has some potential and I hope you realize it fully.

Ironically that's the whole reason  started this project. It was supposed to be a light wrapper around JS numbers to be able to do some symbolic computation in addition to standard numerical computation in the browser.

[2021-03-26 21:45] jiggzson commented on #495
Fix as of ... (not sure when). But tested in 1.1.10

[2021-03-27 12:40] MAGNETO903 commented on #596
Great!

[2021-03-27 15:56] jiggzson commented on #322
@Happypig375, I'm just going through the cases and marking off those that have been resolved.

[2021-03-27 16:03] Happypig375 commented on #322
Nice!

[2021-03-27 21:33] jiggzson commented on #592
@roy77, fixed on `dev` with v1.1.11.

[2021-04-04 03:51] Ephraim-Bryski opened #600 "Trigonometric Functions"
`nerdamer('tan(b)=c').solveFor('b').toString()`
returns "atan(c)"

but

`nerdamer('sin(b)/cos(b)=c').solveFor('b').toString()`
returns ""

Is it generally not recommended to use nerdamer with trig functions? Is there a workaround?

[2021-04-04 13:43] jiggzson commented on #600
@Ephraim-Bryski, I'm unable to verify but does calling simplify on your equation first work?

[2021-04-09 09:27] MAGNETO903 opened #601 "problem with converting from latex"
I want to convert this latex expression:
[code]
![CodeCogsEqn (1)](https://user-images.githubusercontent.com/31848594/114159467-05e10b00-9950-11eb-8be1-4ebfd8d75442.png)
this works very strange
[code]

[2021-04-14 00:06] jiggzson commented on #601
@MAGNETO903, the first issue is the fact that you're not escaping your backslashes. The second issue is that your expression has spaces which currently aren't supported anywhere except matrices as those in #584 and I'd have to think of a way to distinguish between the two. If you don't have matrices as those in the aforementioned issue then the easiest way forward is to remove the spaces yourself

[2021-04-16 22:10] Ephraim-Bryski commented on #600
Sorry for the late response. Simplify does work if done on the individual expressions. I see you have a commit to extend simplify to "Equation" would allow direct simplification of the equation instead. Thank you!

[2021-04-16 22:39] Ephraim-Bryski opened #602 "Test Truth of Equality"
I would like to test if an equality containing variables is necessarily true. For example
`a*b=b*a`      would return true, while
`a=b`             would return false (not necessarily true)

(Of course, exactly what it returns isn't important, just some way of distinguishing).

Is this possible to do currently? Could it be implemented in Nerdamer? Thank you!

[2021-04-16 22:44] #600 closed

[2021-04-16 23:15] jiggzson commented on #600
@Ephraim-Bryski, glad to help.

[2021-04-16 23:18] jiggzson commented on #602
@Ephraim-Bryski, would something like this work?

[code]
You can find the remaining operations [here](https://nerdamer.com/documentation.html) under Expression > Equality.

[2021-04-16 23:27] Ephraim-Bryski commented on #602
Thank you, that's exactly what I was looking for.

[2021-04-16 23:27] #602 closed

[2021-04-25 12:39] szoshi opened #603 "Variable names with subscript - Tex generation"
I am very new to the library so i might be missing something very obvious. I can declare a variable like a_ij but when I convert it to tex using toTex only the i is in the subscript with j on the same level as a. How do I convert larger subscripts or superscripts to tex correctly? Am I missing something? A parameter for e.g.?

Thanks in advance and apologies if this has been asked already...

[2021-04-25 18:29] jiggzson commented on #603
@szoshi, no need to apologize. Fixed on the `dev` branch.

[2021-04-25 18:44] szoshi commented on #603
Hi, great job. Just tested it. You can close this issue. Is there a forum somewhere or is opening an issue the best way to ask questions?

[2021-04-25 18:45] #603 closed

[2021-04-25 18:54] jiggzson commented on #603
@szoshi, feel free to open an issue. It makes it easier for me to track. You can also ask general questions on the [site ](https://nerdamer.com)but I sometimes miss those.

[2021-04-25 21:18] jiggzson commented on #561
@MAGNETO903, here's an interesting observation. You get the same issue when using Wolfram Alpha.

Here's[ `log(x)^(1/3)` ](https://www.wolframalpha.com/input/?i=log%28x%29%5E%281%2F3%29%2C+x%3D0.2) and here's [`cbrt(log(x))`](https://www.wolframalpha.com/input/?i=cbrt%28log%28x%29%29%2Cx%3D0.2). Wolfram Alpha gives a complex value for one and not the other.

[2021-04-26 23:46] jiggzson commented on #557
@MiltonCobo, I know it's been a while but it's fixed. After a little thinking about it, the fixed actually turned out to be quite a bit easier than I originally thought.

[2021-04-27 00:14] jiggzson commented on #571
@ElectrifyPro,

I looked into this a little more and compared it to Maxima and Wolfram Alpha, which both give the current output. Small unexpected changes can lead to hours of debugging down the line so since I don't know the implications, I'll leave this as it is for now. I'm always open to discuss this in the future.

You can always override the function responsible for this with this little sni

[2021-04-27 00:14] #571 closed

[2021-04-27 00:17] jiggzson commented on #571
@ElectrifyPro,

I looked into this a little more and compared it to Maxima and Wolfram Alpha, which both give the current output. Small unexpected changes can lead to hours of debugging down the line so since I don't know the implications, I'll leave this as it is for now. I'm always open to discuss this in the future.

You can always override the function responsible for this with this little sni

[2021-04-27 01:40] jiggzson commented on #420
@yosuke, I apologize for the long delay on this issue. I was putting it off because I was going to do a major refactor but time constraints have made this impossible. I decided to proceed by just adding the file for now.

[2021-04-27 14:50] #300 closed

[2021-04-27 14:52] #592 closed

[2021-04-27 14:52] #601 closed

[2021-05-02 10:29] szoshi opened #604 "Accessing polynomial coefficients"
Hello, this is not really an issue, more of a support request.

There is an example to extract coefficients of a polynomial to a vector. The example displays this vector directly as a string. How do I work with individual coefficients? I can get the string as vector.elements[n].toString()
Is there a way to get this as a number natively? Can I do any manipulation of the symbol directly? What I am d

[2021-05-02 10:58] szoshi opened #605 "Sorting terms in a sum"
I am generating a system of equations on the fly for TeX display. However, the generation does not have all the terms in order. Is there a way to sort an equation where the terms are sorted based on an order specified for the variables?

Gor e.g a_2 - 2*a_3 + 3*a_1 should become 3*a_1 + a_2 -2*a3.

I can implement it myself but a native function might help a lot of people.

[2021-05-02 20:37] jiggzson commented on #605
@szoshi, unfortunately there's no easy way to achieve this from within the library. At least not that I can think of. It would require moving way too much stuff around. Feel free to share your solution. Maybe I can build on it.

[2021-05-02 20:57] jiggzson commented on #604
You can. Although I'd prefer you use the `each` method. The current structure of the `Expression` class, which nerdamer currently returns, is guaranteed to change with the next major version so it would require you to update your code should you decide to update. I doubt I'll remove the `each` method, at least not without plenty of warning.

The preferred way would be
[code]
Notice that I recommen

[2021-05-03 13:03] szoshi commented on #605
No wories, I had a feeling it won't be that trivial but just wanted to be sure. Since it is more rlevant to how the output is displayed, I think something can be done external to the library to achieve this goal. I am closing the issue for now.

[2021-05-03 13:03] #605 closed

[2021-05-03 13:06] szoshi commented on #604
Just out of curiosity, can I find the coefficient of a certain power? Can I do further operations on it? It would be great if you could provide a simple example.

[2021-05-03 14:04] jiggzson commented on #604
@szoshi,

It is possible but it requires you to dig in a little and interact with nerdamer's `Symbol` class. As I mentioned above, this may require you to rewrite some of your code when I decide to write v2.0. That being said, you can do something like this.

[code]

If you need any more guidance, please feel free to reach out.

[2021-05-04 21:50] szoshi commented on #604
Thanks for the example. How can I test if a coefficient is positive or negative? Is there a way the multiplier can be interpreted as a regular number?

[2021-05-05 12:15] jiggzson commented on #604
@szoshi,

I apologize. Disregard the example above. Use this example instead. The `coeffs` function already takes care of both symbolic and numeric coefficients. This answers the sign question as well.

Yes. Just wrap in in `Number` to convert it to a JS number. (see below) It will return `NaN` if its a variable coefficient.

[code]

[2021-05-05 12:29] szoshi commented on #604
Hi, precisely what I was looking for. Thanks a lot. I will close this now and get back if there are any further questions.

[2021-05-05 12:29] #604 closed

[2021-05-06 09:10] szoshi opened #606 "Possible bug in subtract function?"
Hi,
I have come across something which I cannot explain. Here is minimal code to reproduce it:
var a = nerdamer('2*x-y');
var b = nerdamer('2*x-y+4');
b.subtract(a).toTex() gives 4 but a.subtract(b).toTex() returns 0 and not -4. Is there another way to get the difference between two terms? I am working with the dev branch btw.
Thanks!

[2021-05-06 13:27] szoshi commented on #606
Just verified that the demo on the webpage does the same. (2x-y) - (2x-y+4) gives 0.

[2021-05-06 13:36] jiggzson commented on #606
@szoshi, fixed on `dev`. Thanks for bringing it to my attention.

[2021-05-06 14:06] szoshi opened #607 "Working with complex numbers"
Another support request. I cannot find examples about how to start working with complex numbers. How do I define a complex numbers? I could declare nerdamer(1) for creating a symbol for further manipulation. How do I do the same for (1+i) for e.g.? Some pointers would be great.

[2021-05-06 14:10] szoshi commented on #606
Tested. Works. Closing. Thanks!

[2021-05-06 14:10] #606 closed

[2021-05-06 14:34] markhats opened #608 "Solve issue"
Hi

I've encountered another solve issue which is closely related to: https://github.com/jiggzson/nerdamer/issues/563

Basically the following fails to give a sensible answer:
[code]
whereas I think it should probably be:
[code]
It seems to be the case if `a` is either side of `y^2` and it also occurs if `a` is replaced with any expression (e.g. `e^x`). However, it works if `a` is replaced by a nu

[2021-05-06 14:42] jiggzson commented on #607
@szoshi,

In nerdamer `i` is reserved for complex numbers by default. You do have the ability to change that with the `IMAGINARY` setting. You can then use the `isImaginary` method, which is currently undocumented, to check if the returned value is complex. This will only test the end value, not the entire expression.

[code]

You can also use the `realpart` and `imagpart` to get parts of complex

[2021-05-06 14:57] szoshi commented on #607
Thanks. Is there a way to multiply two complex numbers?I cannot figure out the syntax to multiply (1+i) and (2+i). It would be a big help

[2021-05-06 15:09] jiggzson commented on #607
@szoshi,

No special syntax. Just multiply. I believe you're asking how to get the answer in expanded form. You can just call the `expand` method. Either of the two ways below will work. Note that there other ways to achieve this but I'm just covering these two.

[code]

[2021-05-06 15:35] jiggzson commented on #608
I'm guessing you're referring to the fact that it appears to give a complex answer. The answer does appear to be correct. I ran a quick test. See below.

[code]

Let me know if you find otherwise. I do agree with regards the complex answer. I'll take a look to see if I can improve on situations such these.

Thanks.

[2021-05-06 16:58] markhats commented on #608
Thanks for looking into this.

You are right - the result is actually technically correct and probably fine if you are just evaluating and don't care about the form of the solution. I guess I'm after a non-complex answer of a similar form to that produced if the `a` constant is instead a number. I'm not sure how easy that is to achieve though??

[2021-05-06 19:33] drawtheliner commented on #498
I see above a Fix has been made, but I'm not sure if the newest version is already supposed to have it. I just tested this in the demo (1.1.10) and it gives only one result.

![image](https://user-images.githubusercontent.com/24493271/117355121-0ff01e00-aeaa-11eb-891a-8caa8337bb4c.png)

How to proceed if I want to get both results (10 and -10 as well)? Thanks!

[2021-05-06 20:36] jiggzson commented on #608
@markhats,

I'd prefer not the have a complex answer since it will create problems with `buildFunction`. It looks like Wolfram Alpha achieves this by factoring out `sqrt(-1)` and thereby cancelling the imaginary unit. I'll look into it a bit more.

[2021-05-06 20:46] jiggzson commented on #498
@drawtheliner,

`solveEquations` is generally used with systems of equations. With a system of non-linear equations, the answers returned will be the first set of solutions that satisfies the system. If you want to solve for all the answers as in your case then use [solve](https://nerdamer.com/functions/solve.html).

[2021-05-06 21:11] szoshi commented on #607
Ok, that works as expected.

[2021-05-06 21:11] #607 closed

[2021-05-06 22:05] drawtheliner commented on #498
@jiggzson thanks for the reply.

I am actually trying to find the intersection between a line and a sphere, like so:
![image](https://user-images.githubusercontent.com/24493271/117371117-45ebcd00-aebf-11eb-9adf-f9177a302737.png)

Is there anyway to get the 10 and the -10 in this case?

[2021-05-06 23:25] jiggzson commented on #498
@drawtheliner,

Correct me if I'm wrong but it appears you already know both x and z. Why not just substitute and solve. Something like this:

[code]
You can repeat this for any other known points on your line. Am I understanding your problem correctly?

[2021-05-07 11:50] jiggzson commented on #498
@drawtheliner,

I see. You're trying to extend this solution to three dimensions since the current fix for this issue is limited to two dimensions.

Unfortunately not at the moment but I can look into this. It would be nice to be able to solve these types of systems in a more generic way but I haven't had much luck finding publications on this topic. I don't know of any library which does this at

[2021-05-07 12:37] drawtheliner commented on #498
Cool. Yeah, every now and again I look around for this and usually can't find much about it. I wonder if this is one of those problems that don't have a general solution (I'm not a mathematician, so I can only guess).

I sometimes find websites/tools that do 3d plotting of functions, like the one linked below. Maybe you can find some resources within the libraries they use?

However I'm not sure w

[2021-05-09 11:49] szoshi opened #609 "Coeffs....complex numers?"
After working with coeffs and complex numbers separately, my next step was to combine them. If i have a complex valued polynomial, turns out nerdamer.coeffs fails. I am guessing the functionality is missing or am I doing something wrong?

[2021-05-09 16:39] jiggzson commented on #609
@szoshi, this should be an easy fix.

[2021-05-20 21:10] Anonymus0999 opened #610 "differentiation giving wrong result."
Unable to solve diff(sqrt(e^x + a),x)
This is giving output = e^x
There is also problem in integrate((sin(sqrt(x)+a) * e^sqrt(x)), x)
I think the problems are some how related to the **sqrt** part. Because if I try for sqrt(e^x) or sqrt(3^x) It results error:
![Screenshot 2021-05-21 030026](https://user-images.githubusercontent.com/84542849/119051416-c2fb6400-b9e0-11eb-8d5f-1d6a70c0e40b.png)
but s

[2021-05-21 12:57] MarcusRiemer commented on #551
Is there an ETA for the release containing https://github.com/jiggzson/nerdamer/commit/3435dd299b8797f69ecab7b0c413a98a4955b5cd? I just stumbled over the same thing and was about to add the type annotations when I recognized tat @jiggzson already did the deed. Thanks alot!

[2021-05-21 15:23] szoshi commented on #609
Hi, did you get a chance to work on this?

[2021-05-21 19:06] jiggzson commented on #610
@Anonymus0999, I'll look into it. Thanks.

[2021-05-21 19:08] jiggzson commented on #609
@szoshi, I haven't had a chance. It's still in queue.

[2021-05-21 19:10] jiggzson commented on #551
@MarcusRiemer,

I'd like to take care of two more bugs before releasing. In the meantime, if you see any other defs that are missing, please let me know.

[2021-05-24 15:49] #498 closed

[2021-05-24 15:49] #557 closed

[2021-05-24 15:49] #609 closed

[2021-05-24 15:49] #610 closed

[2021-05-24 15:59] jiggzson commented on #551
@nishantwrp, fixed. @MarcusRiemer, published.

[2021-05-24 15:59] #551 closed

[2021-05-24 16:01] #561 closed

[2021-05-24 18:04] jiggzson commented on #420
Fixed as of version 1.1.11.

[2021-05-24 18:04] #420 closed

[2021-05-25 12:57] roy77 opened #612 "Another problem with ilt"
ilt(1/((s)*(s^2+2*s+1)),s,t) works but ilt(1/(s^3+2*s^2+s),s,t) not

[2021-05-25 13:45] roy77 commented on #612
Also ilt(1/((s)*(s^2+4*s+1)),s,t) is a problem. The result gets komplex.

[2021-05-26 15:27] Anonymus0999 opened #613 "nerdamer.convertToLaTeX giving unexpected result"
Thank you for the fix #610
Now one more problem in nerdamer.convertToLaTeX('math string')
if my math string is this ----->sin(sqrt(e^x))
and after using nerdamer.convertToLaTeX it is giving \mathrm{sin}\left(\sqrt{**e,^,x**}\right). This is unexpected (**e,^,x**) with unnecessary comas.

But if  my math string is this ----->sqrt(e^x)
then after nerdamer.convertToLaTeX is is giving \sqrt{{e}^{x}}.

[2021-05-26 19:42] Saikedo opened #614 "Loss of decimal precission for functions such as sqrt, log, pi, e, exp and trig functions"
I have noticed that in the latest versions of nerdamer, we experienced a slight loss of precision for various functions. A good strategy would be to convert functions such as

sqrt, log, pi, e, exp, and the trig (hyperbolic, inverse, etc) as well as n-th root

to big numbers completely.

[2021-06-03 09:57] szoshi commented on #609
Hi, I just checked it today and it works as expected. i will report if I find something. While we are on the subject of complex numbers, I have noticed that the String or Tex representation of complex numbers is in the form b.i + a and not as a + b.i as is standard. Is there a way to change this?

[2021-06-03 10:11] szoshi opened #615 "Simplifying complex numbers"
I have run into an issue with simplifying certain complex numbers. Numbers of the form (a+ib) / (c + id) are simplified correctly. There seems to be a problem with numbers of the type a / (c+id) though. For example, if i simplify -8/(2 + 3i) I get 2+3i. maybe it also affects numbers of the gorm bi/(c+id) but I have not checked it yet.

[2021-06-03 11:06] szoshi opened #616 "Evaluating determinants with complex numbers"
I am trying to evaluate a determinant with the following matrix:
matrix([4,0,0],[0,1,2],[0,1,-2-j])

It seems that the codeterminant is not being multiplied by 4. I have tested several real valued matrices and have never had this problem. I think this is some special case due to the complex multiplication.

[2021-06-15 17:36] piotrusin opened #620 "Convert Matrix Expression to JS array"
Hey, I'm a little puzzled by this and looked all over the place looking for an answer. Is it actually possible to convert matrix expression into a javascript array? If so, how can this be achieved? I'm working on a Numerical Methods project and I want to calculate the maximum norm.

EDIT: nvm, just found out about matget, matgetrow, matgetcol

[2021-06-15 17:39] #620 closed

[2021-06-28 20:37] Yaffle commented on #372
[code]
Not sure if it should work at all with sqrt(2)... but the return value looks incorrect.

[2021-07-11 13:41] szoshi opened #623 "Problem with simplify"
Hi, I think here is a bug that needs to be looked at. I am trying to simplify two expressions which results in a sign error

For e.g.

let eq1 = nerdamer("(-3/2)*x+(1/3)*y+2+z")
eq1.simplify gives "-12-2*y-6*z+9*x" with a multiplier of 1/6 which is a sign error

If however, let eq1 = nerdamer("(-3/2)*x+(1/3)*y+z")
Then eq2.simplify gives "-9*x+2*y+6*z" also with a multiplier of 1/6 which is correc

[2021-07-11 14:57] Yaffle commented on #623
not sure where is a bug, but
https://github.com/jiggzson/nerdamer/blob/master/nerdamer.core.js#L9290 on this line sign is set to 1 and the sign of b is ignored

[2021-07-15 01:18] jiggzson commented on #623
@szoshi, got it.

@Yaffle, Thanks for looking into this. Gives me a place to start looking.

[2021-07-15 01:19] jiggzson commented on #372
@Yaffle, thanks. I'll look into it.

[2021-07-20 14:54] Saikedo opened #624 "Incorrect result when using 'numer' for csc"
When calculating csc for pi, .evaluate() as shown above works correctly and detects that it is undefined.
`nerdamer('csc(pi)').evaluate().text() `

doing this however `nerdamer('csc(pi)', {}, 'numer').text()` incorrectly returns` 8165619676597685`

[2021-07-20 14:55] Saikedo opened #625 "The answer for the following definite integral is incorrect"
`nerdamer('defint(sqrt(4(x^2)+4), 0, 3)', {}, 'numer').text()` incorrectly returns `1.386294361119890462` instead of `11.305279439737204819`

[2021-08-02 17:39] Porizm opened #626 "colorize text output"
Hello,

Is there a way to modify .toTex and colorize some variables?

for example x + 1 = 0
I want the tex output to be like

\textcolor{blue}{x} + 1 = 0

Thank you

[2021-08-19 10:38] TimonDalton opened #627 "Using solveEquations or solve with i alone on either side of = gives an error."
This:
`var sol = nerdamer.solveEquations(['x=i','x+y=3']);`
returns
`Error [NerdamerValueError]: i does not equal x`
while
`var sol = nerdamer.solveEquations(['x - i=0','x+y=3']);`
is fine.
This happens in any example where i is alone on one side of the equal sign.

[2021-08-26 16:10] sametaylak opened #628 ""Uncaught TypeError: Cannot read property '1' of undefined" on solveEquations"
Hey jiggzson, We have quite a strange bug that happens when we call solveEquations with given array.

[code]

output
[code]

[2021-09-03 07:53] jy1263 opened #629 "Missing typings and incorrect return type in docs for convertFromLatex"
- The type definitions for the convertFromLatex method is missing from `index.d.ts`.
- [Documentation](https://nerdamer.com/functions/nerdamer.convertFromLaTeX.html) incorrectly states that the return type for this method is a `String`, where it should be `Expression`

[2021-09-08 18:55] gunnarmein commented on #628
Here is an easier repro:
`nerdamer.solveEquations(["a=1"])`

[2021-09-09 06:09] jackel89 commented on #113
i cant get this to work in js to load anything other than the basic stuff and its driving me bonkers.

[2021-09-09 06:38] jackel89 opened #632 "unable to import anything but core node.js"
i have tried every possible combination of ways to import this that i can think of trying and still cant get any functionality beyond the core.

please help

[2021-09-09 11:47] jackel89 commented on #632
to clarify i am trying to use the npm package in node js

[2021-09-09 20:20] jiggzson commented on #626
@Porizm, not at the moment but I can certainly look into it.

[2021-09-09 20:20] jiggzson commented on #626
@Porizm, not at the moment but I can certainly look into it.

[2021-09-09 20:22] jiggzson commented on #627
@TimonDalton, thanks for reporting. I suspect I have to review the logic in [this](https://github.com/jiggzson/nerdamer/blob/926e12d27c639c94eadde4fa807843d4d98ba451/Solve.js#L100) line.

[2021-09-09 20:24] jiggzson commented on #628
@sametaylak, thanks. I'll looking into it. @gunnarmein, thanks for the easier repro.

[2021-09-09 20:25] jiggzson commented on #632
Try ```const nerdamer = require("nerdamer/all.min") ```. This was documented in the quick start section of the site but nowhere else. I'll update the documentation.

[2021-09-09 22:17] Porizm commented on #626
Thank you

[2021-09-09 22:17] #626 closed

[2021-09-11 08:47] jackel89 commented on #632
i have tried that and scoured the web for someone experiencing the same problem and a solution.
this is the error in vs code:

Could not find a declaration file for module 'nerdamer/all.min'. 'C:/file/node_modules/nerdamer/all.min.js' implicitly has an 'any' type.
  Try `npm i --save-dev @types/nerdamer` if it exists or add a new declaration (.d.ts) file containing `declare module 'nerdamer/all.mi

[2021-09-11 08:48] jackel89 commented on #632
ive also tried messing with the index and doing what this recommends to no avail

[2021-09-11 10:55] mbassenne opened #633 "Unable to solve simple equation"
Hello,

Any insights as to why this is happening or suggestions on how to go around?

[2021-09-11 12:26] mbassenne opened #634 "Cannot simplify output of solve"
Hello,
How to pass the output of solve to the function simplify? It is returning an error for me which I think is because the output type is not string but Symbol.
Thanks

[2021-09-16 13:12] mbassenne opened #635 "Bug in simplify function"
Can simplify A and B but not A + B. Reproducible example below:

[code]
[Log] (2*e^t) / (e^t)
[Log] 2

[code]
[Log] 1 / (e^t)
[Log] e^(-t)

[code]
[Log] ((2*e^t) / (e^t)) + (1 / (e^t))
[Log] 3

[2021-09-23 19:48] cihancimen opened #636 "solveEquations returns empty array for equation system that has a solution"
`nerdamer.solveEquations(["x=5", "0.6=1-(x/(10+y))"])` returns `[]`

However, nerdamer is able to solve if second equation is simplified a bit.
nerdamer.solveEquations(["x=5", "-0.4=-(x/(10+y))"]).toString() returns `x,5,y,2.5`

Any ideas on the issue here?
It would be great to know if there is a workaround that doesn't involve manipulation of equations.

[2021-09-28 21:42] jiggzson commented on #634
@mbassenne,

Can you give an example?

[2021-09-28 21:44] jiggzson commented on #636
@cihancimen, I'll look into it. I suspect that the form of the equation is causing some problems.

[2021-10-01 01:53] jiggzson commented on #623
@szoshi, it appears this issue was fixed with one of the commits. Not sure which one but I suspect this one (5fb1b7b09c7d926fe9a4a837e67d177984392589). I added a test for this issue.

[2021-10-05 19:32] jiggzson commented on #623
@Yaffle, after taking a closer look at the line you mentioned, it appears that the sign eventually gets used [here](https://github.com/jiggzson/nerdamer/blob/926e12d27c639c94eadde4fa807843d4d98ba451/nerdamer.core.js#L9472). I think it's being stored that early on because that information is lost after that point. Unless I'm missing something.

[2021-10-05 19:34] #636 closed

[2021-10-22 17:45] raph-of-burgondy opened #637 "solve : crash for z^13-1"
hi,

solve crashes  for z^13-1 i.e. `nerdamer("solve(z^13-1,z)")` after a very long time (infinite loop ?)
crashes  (in fact, no solution after 10 sec) also for  :  12,19,20,21 - (22 is ok, not tested after)

[2021-10-22 19:19] Jeff-Aporta opened #638 "Bug in function max()"
in the expression

v:[-5,1]
max(v[0],v[1])

expected result: 1
real: -5

is choosing the first argument
but in the expression

v:[-5,1]
v0:v[0]
v1:v[1]
max(v0,v1)

expected result: 1
real: 1

I consider that it is an error because it is the same, in essence, but expressed differently

[2021-10-22 20:04] Jeff-Aporta opened #639 "Bug in solveEquations"
In a physics exercise with g=10

      let x = nerdamer("x:420")//distance final x traveled
      let vx = nerdamer("vx:60")//Initial velocity in x
      //Find t and H
      console.log(
        JSON.stringify(
          nerdamer.solveEquations(["-5*t^2+H=0","vx=x/t"], ["H","t"])
        )
      );

`output: [["H",35],["t",7]]`

The answer for time (t) is correct, but for height (H) it is not

th

[2021-10-25 15:47] gunnarmein opened #640 "Unexpectedly bad precision"
Hello Martin,

I ran this: nerdamer("0.0000001885 * 1000000000").text()
and the output is '188.500000074053571458'

That's surprisingly bad. Any idea whether this is expected? Thanks for looking at it!

[2021-10-28 09:45] allenye66 opened #641 "Obtain multiple solutions"
Is there a way to configure nerdamer to return multiple solutions? For example, when solving x^3 = x, I would like nerdamer to return -1, 0, 1.

[2021-11-01 12:07] daniyalzade commented on #636
@jiggzson it'd be fantastic if you could release this change. It looks like a major one.

[2021-11-01 14:12] jiggzson commented on #636
@sametaylak, @daniyalzade, I'll try to release it as soon as possible.

[2021-11-01 14:16] jiggzson commented on #640
@gunnarmein, I'll look into this. These precision issues have been a pain and part of it is self-inflicted. The library started off as a simple evaluator with some symbolic capabilities and the decision was made to track numbers as ratios. Hopefully this issue is not related to that but I wouldn't be surprised if it was.

[2021-11-01 14:16] jiggzson commented on #641
@allenye66, thank you.

[2021-11-01 14:19] jiggzson commented on #637
@raph-of-burgondy, I'll take a look at all equations of this form while I'm at it.

[2021-11-07 22:45] richardbullin opened #642 "Definite integral generates error"
Hello,

The below expression generates an error, expecting answer of -0.434

![image](https://user-images.githubusercontent.com/11023398/140664593-81d42665-ef9e-4234-bf3f-e61e98d1019a.png)

Cheers
Richard

[2021-11-10 13:42] szoshi commented on #623
Hi guys, I haven't received any further updates on this issue so just wanted to check if there has been any progress? Thanks!

[2021-11-10 13:42] szoshi commented on #616
Hi, has there been any work on this and #615? Thanks!

[2021-11-10 19:27] jiggzson commented on #623
@szoshi, this should be fixed on the `dev` branch.

[2021-11-15 20:31] jarble commented on #482
@jiggzson
It turns out that some Boolean expressions can be easily converted into a format that Nerdamer is able to solve. For example:

`(a = 0) or (b = 0)` can be written as `(a)*(b) = 0`.

To solve more complicated Boolean expressions, you could convert the Boolean expression into [conjunctive normal form](https://en.wikipedia.org/wiki/Conjunctive_normal_form), and then solve it as a system of

[2021-11-15 21:10] jarble commented on #251
It seems that `x != 0` could be written as `abs(x)/abs(x) = 1`, since this expression is undefined when `x=0`.

[2021-11-15 22:18] gunnarmein-ts commented on #640
I think internal representation as fractions is not necessarily a bad thing. Converting a number to a text decimal, and then trying  to find a close fitting fraction is the problem. I suggest keeping it simple and stupid, and convert scientific notation into a fraction in the most straight-forward way. If it is of any help, below is what I am using on top of nerdamer to feed it numbers:

    numTo

[2021-11-16 00:03] gunnarmein-ts opened #644 "Method API results != string API results"
Compare
`nerdamer.solve("x^2 = -1", "x").text()`
-> '[0.000000000000000+0.5*i,-0.000000000000000-0.5*i]'
with
`nerdamer("solve(x^2=-1,x)").text()`
-> '[i,-i]'

[2021-11-16 00:08] jarble opened #645 "ParseError when solving systems with absolute values"
On the [demo page](https://nerdamer.com/demo.html), I tried to solve this system of equations:
`solveEquations([abs(x)=8,x^2=64])`
But Nerdamer shows an error message:
`Something went wrong. Nerdamer could not parse expression!
ParseError: Cannot read properties of undefined (reading '1'): 1`
Why is Nerdamer not able to solve this system?

[2021-11-16 11:52] Yaffle commented on #482
@jarble , how do you want to represent the solution (in case there are many "points") ?

[2021-11-16 17:23] jarble commented on #482
@jarble The formula would be converted to a system of equations, and then solved using `nerdamer.solveEquations`.

[2021-11-16 17:46] Yaffle commented on #482
@jarble , ok
[code]
it is interesting, this thing throws an exeption right now.
I have my own library, where I am also solving something similar, but may be it is better to add something to nerdamer.

Can `and` and `or` operators be added to nerdamer?
Or is it better to write unitility function in javascript so the javascript API can be used for this?

[2021-11-16 17:51] jarble commented on #482
@Yaffle It throws an exception because the system has infinitely many solutions.
But it does find a solution for the example that I posted [above](http://www.nerdamer.com/demo.html?eq=solveEquations(%5Ba-1,%20(b-(2+a))*(b-(3+a))%5D)).

[2021-11-16 17:59] Yaffle commented on #482
@jarble , it is more simple if you have a single solution so

[2021-11-16 17:59] jarble commented on #482
@Yaffle So... ?

[2021-11-16 19:29] jiggzson commented on #482
@jarble, I think this example conveys your approach the best. I do believe that @Yaffle is correct that the `and` and the `or` operator would need to implemented for this.

This should have been fixed on the `dev` branch.

[2021-11-16 19:30] jiggzson commented on #645
The cause of the error has been fixed on the `dev` branch but it appears that there's still another issue that needs to be addressed since it gives `0` as the solution.

[2021-11-17 21:17] #608 closed

[2021-11-17 21:17] #625 closed

[2021-11-17 21:17] #627 closed

[2021-11-17 21:17] #628 closed

[2021-11-17 21:17] #633 closed

[2021-11-17 21:17] #635 closed

[2021-11-20 18:22] gunnarmein-ts opened #647 "Extra set of parentheses = constants get lost in expr.evaluate()"
compare
`nerdamer("sigma=1000*m").evaluate().text()`  ---> 'sigma=1000*m'
to
`nerdamer("sigma=(1000*m)").evaluate().text()` ---> 'sigma=m'

[2021-11-26 18:14] gunnarmein-ts opened #648 "Simplify error"
nerdamer("simplify(0.5*sqrt(4a+4y))").text() -> '2*sqrt(a+y)' when it should be 'sqrt(a+y)'

That's pretty horrifying. Used last all.min.js from repo. Any thoughts?

[2021-11-28 22:15] gunnarmein-ts opened #649 "Parser error"
nerdamer("y^-2*z").text()  ---> 'y^(-2*z)'

Looks like negative exponents don't have correct operator precedence.

[2021-12-06 00:30] richardbullin opened #650 "Content Security Policy (CSP) blocking due to "unsafe-eval""
When CSP is configured to help mitigate against XSS attacks, trying to take the definitive integral can cause script to be blocked.

The below example uses version 1.1.11 (1.1.12 not available?) this generates an incorrect answer (expect 1.148)
![image](https://user-images.githubusercontent.com/11023398/144770108-bf6031b7-f471-4fca-8e65-a38a75f0e09b.png)

The below example uses version 1.1.13 (dev

[2021-12-09 20:10] michaelcheers opened #651 "Problems with nerdamer.simplify and {expr}.simplify with square roots"
Review the following code examples:

[code]

So I've found three problems:
- .simplify() does not simplify `sqrt(n*a)/a` to `sqrt(n/a)`
- nerdamer.simplify converts irrational numbers into confusing fractional approximations.
- nerdamer.simplify makes a mistake in my specific example in converting `sqrt(sqrt(2)*a)` not `sqrt(2*a)`

[2021-12-09 20:16] michaelcheers opened #652 "Is it possible to register variable names to LaTeX strings?"
For example, could I register make the variable `v0` as `v{0}` to make my LaTeX prettier?

[2021-12-12 03:11] michaelcheers opened #653 "Inputting y=(1/2)*a*b^2*c^(-2) solving for y (an already solved equation) gets nerdamer stuck in an infinite loop"
Try the following code:

[code]

Even though the answer is easy for anyone to see, it still somehow gets Nerdamer stuck in an infinite loop.

[2021-12-17 02:29] gunnarmein-ts commented on #653
Michael, I have also stumbled about inconsistencies with .solveFor() - but the good news is you can use
`nerdamer('solve(y=(1/2)*a*b^2*c^(-2),y)')`
instead. Works better in every case I know.

[2021-12-17 02:33] gunnarmein-ts commented on #651
To your second point, it is not simplify() that does that, it is simply how Nerdamer represents numbers internally. .text("decimals") or simply .text() is your friend if that is what you want, instead of .toString(). As for the rest, yeah, I have given up on simplify(). Perhaps one of use should take the time to debug that, as a community contribution.

[2021-12-24 19:01] fasteddys opened #654 "GUI to enter edit equation"
Hello, can you please share how a user can enter an equation in the HTML page with this library.

Also how do we store represent it in the database.

[2022-01-23 20:06] markhats opened #655 "Another solve issue"
Hello

Just trying to do:
[code]
and I get the result:
[code]
I think it should be:
[code]
Thanks.

[2022-01-27 23:41] SomebodyLikeEveryBody opened #656 "i^i returns i instead of -i"
When we do
[code]

it returns
[code]

instead of
[code]
<img src="https://latex.codecogs.com/gif.latex?i^i=\left(1\cdot%20e^{\frac{i\pi}{2}}\right)^i=e^{\frac{\pi}{2}\cdot%20i^2}=e^{-\frac{\pi}{2}}" />

[2022-01-27 23:53] SomebodyLikeEveryBody commented on #652
Hello

I'm currently working on a parser to convert latex into nerdamer instructions, and one feature I'm working on is to be able to use "\\alpha", "f_1" or "\vec{v_1}". I will probably use kind of hashtable to send to nerdamer var names like "var0", "var1" and replace it before the display.

The project is here (https://github.com/SomebodyLikeEveryBody/Solve4MeV2), you can try it here (https://s

[2022-01-30 17:59] gunnarmein-ts commented on #648
Here is an slightly simpler case:
nerdamer("simplify(sqrt(2a+2b))").text() ===> '2*sqrt(a+b)'

[2022-01-30 19:22] gunnarmein-ts commented on #648
Martin, here is a proposed fix in Algebra.js mfactor

3017               var factors2 = new Factors(),
                                arg = __.Factor.common(symbol.args[0].clone(), factors2); // factors are put into factors2 here already

                        // GM proposed fix for sqrt simplify bug
                        // arg = __.Factor.coeffFactor(arg, factors2);

[2022-02-03 18:23] gunnarmein-ts commented on #648
[Algebra.js.zip](https://github.com/jiggzson/nerdamer/files/7997185/Algebra.js.zip)

[2022-02-05 07:58] SomebodyLikeEveryBody opened #657 "Limit of ((x^2)/(x+1))-((x^2+2)/(x+3)) in inifinity returns -infinity instead of 2"
If we do

<img src="https://latex.codecogs.com/gif.latex?\lim_{x\rightarrow\infty}\left(\frac{2\cdot%20x^2-2\cdot%20x-2}{x^2+4x+3}\right)" />

[code]

It returns -Infinity instead of 2,

and when we divide by x^2, it works

<img src="https://latex.codecogs.com/gif.latex?\lim_{x\rightarrow\infty}\left(\frac{2-\frac{2}{x}-\frac{2}{x^2}}{1+\frac{4}{x}+\frac{3}{x^2}}\right)" />

[code]

==> returns 2

[2022-02-15 21:20] SomebodyLikeEveryBody opened #658 "How to clear defined functions ?"
Hello,

as it is possible to declare variables with
[code]
and forget it with
[code]

how can we forget functions we declared using,
[code]
is there any nerdamer.clearFunctions() feature ?

Thank you !

[2022-02-16 01:05] jiggzson commented on #658
@SomebodyLikeEveryBody, you're right. There isn't a prescribed way of achieving this. Something that may have to be looked into. In the meantime, deleting it from the functions list in the parser should do.

[code]

[2022-02-16 03:56] JeremyMoeglich opened #659 "Add Types for nerdamer/all Algebra Extra Solve and Calculus"
Type definitions are currently only available for nerdamer core, adding type definitions for the other add-ons would be useful.

[2022-02-16 23:57] #659 closed

[2022-02-18 20:29] SomebodyLikeEveryBody commented on #658
@jiggzson Thank you very much !

[2022-02-20 19:19] #654 closed

[2022-03-09 16:39] magicaltoast opened #660 "Error while parsing latex"
<img src="https://render.githubusercontent.com/render/math?math=a\cdot3"> / ```a\cdot3``` is parsed as variable not as multiplication.

`buildFunction` method returns a function that looks like this
[code]

If you input
<img src="https://render.githubusercontent.com/render/math?math=3\cdot2"> / ```3\cdot2``` it generates something like this
[code]

Also, I am unable to parse any kind of sum. Throw

[2022-03-09 19:52] magicaltoast commented on #660
The multiplication error can be fixed with following regex ```replace(/\\cdot(\S)/g, '\\cdot $1')```.

[2022-03-09 20:13] magicaltoast commented on #660
mod(x, constant_value) is evaluated to 10 ?

Code generated for <img src='https://render.githubusercontent.com/render/math?math=mod\left(x,2\right)'/> / ``mod\left(x,2\right)``
[code]

Code generated for <img src='https://render.githubusercontent.com/render/math?math=mod\left(y,2\right)'/> / ``mod\left(y,2\right)``
[code]

[2022-03-23 19:47] ChocolateLoverRaj opened #661 "Function returned from `buildFunction` returns `null`"
Code to reproduce (btw I'm trying to find out when two circles will collide):
[code]
This logs `null`.

Link to StackBlitz: https://stackblitz.com/edit/nerdamer-bug?file=index.js

[2022-03-24 16:48] jiggzson commented on #661
@ChocolateLoverRaj,

I don't know which version you're using but the current version does return a function. The issue I do see however is here:
[code]
You're passing in an array so you should be using `apply`. Also keep in mind that the order of the values is not guaranteed so you should be mapping them back to an array as in the example below.

[code]
Another thing I'd like to point out is that

[2022-03-24 20:09] ChocolateLoverRaj commented on #661
Will this also change performance for calling `builtFn()`?

[2022-03-24 20:15] ChocolateLoverRaj commented on #661
Closing because I had a typo.
[code]
works.

[2022-03-24 20:15] #661 closed

[2022-03-24 20:28] jiggzson commented on #661
@ChocolateLoverRaj,

There seems to be no real impact on `buildFunction`. Also I apologize, it's not the variable names length that seems to have the impact but rather rewriting the function to eliminate the `=` sign.

[2022-04-01 17:26] peacememories commented on #659
This seems like it would make working with the library much easier, both in typescript as well as javascript (because of the autocompletion provided by the types). Why has this been closed?

[2022-04-02 10:39] JeremyMoeglich commented on #659
There is currently a work in progress pull request that rewrites the entire library in typescript

[2022-05-07 01:47] gunnarmein-ts opened #665 "dot() and cross() don't work with unknowns as parameters"
nerdamer("dot(a,b)") with a or b undefined will throw. Same with cross.

expected behavior: leave it unresolved, like sin(a).

[2022-05-07 20:46] gunnarmein-ts opened #666 "vector addition with an unknown variable"
nerdamer("a+vector(1,2,3)").toString() ---> '[1+a,2+a,3+a]'

Makes no sense at all. It could be [1+vecget(a,0), 2+vecget(a,1), 3+vecget(a,2)], or it could leave it unresolved. But this?

[2022-05-08 17:06] jiggzson commented on #666
Not really. It's pretty standard behavior actually.

Maxima:
[code]

Wolfram Alpha:
https://www.wolframalpha.com/input?i=a%2B%7B1%2C2%2C3%7D

One possible solution might be to set a flag to change this behavior.

[2022-05-08 17:08] jiggzson commented on #665
Sounds fair. I can't think of any issues this would create. I'll update this behavior.

[2022-05-08 18:00] gunnarmein-ts commented on #666
What you put into WolframAlpha there is a+ the set {1,2,3}. Adding "a" to a vector in the way you do makes no sense:

if a is a scalar, then the addition is undefined
if a is a vector, then it needs to be added component by component

What could a be that [a+1, a+2, a+3] would be the result? Nothing.

The issue is complicated here because you don't really distinguish between vectors and sets in Ne

[2022-05-10 17:31] jiggzson commented on #666
@gunnarmein-ts,

Feel free to insert `a+[1,23]` or `a+(1,2,3)`. The result will be the same. As I mentioned before, the main discussion should be on how to proceed from here.

[2022-05-10 18:50] gunnarmein-ts commented on #666
Hmm. How to proceed should be to allow vectors in symbolic computation, no?

    `nerdamer("solve([a+2,1=[4,1],a)").toString()`

should work as easily as

    `nerdamer("solve(a+2=4,a)").toString()`

and (reaching here):

    `nerdamer("solve(a+vector(1,2,3)=vector(2,3,4),a)")`

should figure out that a=[1,1,1]

But I also still think to put this on some solid foundation you need to answer the que

[2022-05-12 01:27] jiggzson commented on #666
@gunnarmein-ts, I get your point but unfortunately, that's the currently established behavior that others might currently be relying on. Additionally, I demonstrated that this behavior isn't uncommon, as both Maxima and Wolfram Alpha do the same. The way forward will probably have the be the use of some flag to disable this behavior using `nerdamer.set`

[2022-05-15 08:10] Matt0017 opened #667 "Reference error in SolveFor"
[code]

Issue occurs when trying to solve for 'y' the following:

`(((-abs(-y^2+1/2)-y^2+1/2)^(1/3)+(-y^2+1/2+abs(-y^2+1/2))^(1/3))*((1/2)*i*sqrt(3)+1/2)^2)^3-1+2*((-abs(-y^2+1/2)-y^2+1/2)^(1/3)+(-y^2+1/2+abs(-y^2+1/2))^(1/3))^2*((1/2)*i*sqrt(3)+1/2)^4`

which is the result from substituting

x = `((-abs(-y^2+1/2)-y^2+1/2)^(1/3)+(-y^2+1/2+abs(-y^2+1/2))^(1/3))*((1/2)*i*sqrt(3)+1/2)^2`
into `-1+2*x

[2022-05-17 07:38] user1704 opened #668 "Simplify"
How to simplify sqrt(2)^3=2*sqrt(2)
and
sqrt(4+4*sqrt(2))=2*sqrt(1+sqrt(2))?

[2022-05-18 01:07] Matt0017 opened #669 "Simplify Error"
Simplification yields incorrect expression
![image](https://user-images.githubusercontent.com/30434328/168936412-26aea645-42c7-4ed4-af57-8340adca6321.png)

[2022-05-18 01:08] Matt0017 commented on #669
The simplification was '(-1/27)*x^3'

[2022-05-23 02:08] Matt0017 opened #670 "HUGE error on solveFor"
a very simple

solved for x return two answers:
x=-1 (correct) and x=0 (incorrect)

[2022-05-23 02:35] Matt0017 commented on #670
Debugging I found that this was being transformed into

that first part gives the correct answer -1
but solving y for x returns 0, which may be the problem of a missing pair of parenthesis in Solve.js line 1328
` if(eq.group === S || eq.group === CB && eq.contains(solve_for)) `
in this case
`eq.group === S is true and
eq.contains(solve_for) is false`
but the whole condition is true

[2022-05-28 17:08] BOISSARD opened #671 "Errors with solveEquations"
Hello Martin,

First of all thank you for all the work on this project, I love it

I have 2 errors with the function **solveEquations** :

1. I have an issue with equation having a division on a side, it says *OperatorError : Not a prefix operator* , with these cases :
  - `nerdamer.solveEquations("A = B + C * D / 100", "A")`
  - `nerdamer.solveEquations("A = B + C * (D / 100)", "A")`

2.  I have

[2022-06-09 22:59] itmeson commented on #528
Is there a way to make the .toTeX() function also use the SCIENTIFIC_MAX_DECIMAL_PLACES setting? I can convert to text, back to a nerdamer value, then back to TeX but that can mess up the rest of the expression and reverts the number of decimal places shown to the default of 20 -- while it rounds to the number of places set in SCIENTIFIC_MAX_DECIMAL_PLACES, it still doesn't switch to scientific no

[2022-07-03 22:57] Ephraim-Bryski opened #673 "Override Physical Constants"
Hi!

`nerdamer('G=5)`

returns an error because G is a physical constant. Is there a way to override this, removing the existing definition for G and replacing it with the equation?

Thanks!

[2022-08-19 09:45] sg13041995 opened #675 "nerdamer.diff("x * sqrt(y)","x") function returning incorrect expression during partial differentiation if the constant term in the equation (in this case sqrt(y)) is under square root"
nerdamer.diff("y * sqrt(x)","y") returns => (sqrt(x^0.5));

But is should return (sqrt(x)) or (x)^0.5

So, I have conducted multiple tests and found out that, this issue is occurring if,
"The constant term during partial differentiation, in the equation or function is under square-root"

Example:
f(x,y) = the expression = y * sqrt(x)
f(x,y) = the expression = y / sqrt(x)

In this case if we try ne

[2022-08-19 10:00] sg13041995 commented on #675
In my vector field plotter and curl divergence calculator project I have applied a get around to make things work.

In my curl equation where we do (dq/dx - dp/dy) I know that in in q expression any y term will going to be constant and in p expression the x term.

So, if we have any y term under square root in q expression , I replaced that with Q. So, now in the q equation, in the place of sqrt(y

[2022-08-26 17:38] MatheNerd92 opened #676 "nerdamer.variables error"
According to documentation one should get a list of variables in an expression. For example, for trigonometric functions one get an array of characters.

[code]
The list of is variables is ["n", "s", "x"].

[2022-09-12 20:26] fadebek opened #677 "SolveEquations not solving correctly"
The following yielded an incorrect result in my codebase leading to an error. I had nerdamer solve the following:

`solveEquations(x+0.0025(abs(0-x)+abs(0-x))=105.8241145033,x)`

and it yielded no solutions. However, in [WolframAlpha](https://www.wolframalpha.com/input?i=solveEquations%28x%2B0.0025%28abs%280-x%29%2Babs%280-x%29%29%3D105.8241145033%29+) and by inspection, there clearly is a solutio

[2022-09-18 19:46] Canna71 opened #678 "Invalid latex generated for natural log"
Natural logarithmic expression containing a power generate an invalid latex.
For example:
`log(e^2)`

[2022-09-22 01:54] xream commented on #426
I'm also working on a problem with mixed fractions lately. Has this issue been fixed? Thanks.

[2022-09-25 13:55] bbmarkus commented on #426
@xream Assuming the jsfiddle is up to date, it should be always using the latest version, it appears this has not been fixed yet.

This may or may not help you, but the way I got around this problem back when this issue was discovered was simply to write a function that expanded the mixed fraction latex expression to an addition, before passing it to `convertFromLatex`.  This seemed to work well e

[2022-10-03 17:41] BOISSARD opened #679 "solveEquations not working with too complex equation"
Hello Martin,

### Introduction

First of all, thank you so much for all the work on this project, I love it.

Your project responds perfectly to a need I have for a math school project.

But I encounter a difficulty.

### My needs

I have an equation string with a list of variable.
The goal is to generate the solving function for each variable of the equation.

### Too complex equation not workin

[2022-10-04 05:36] junaun opened #680 "integration result incorrect"
when integrating 1/(cos(x)+1), the output from nerdamer is log(1+cos(x)), hasIntegral( ) return false.
The correct result should be tan(x/2) (i check the result using other integral calculator and also test with upper lower bound)
This error often occur when the expression involve trigo and fraction
![image](https://user-images.githubusercontent.com/109908180/193742475-b6059404-14aa-4ee9-b3b0-9aea

[2022-10-05 05:54] junaun commented on #680
![image](https://user-images.githubusercontent.com/109908180/193990687-6d4880d7-73af-46af-b7c8-9f276f37a806.png)
gave different result when i put a space between cos and (x) ==>[cos (x)]