[2017-11-20 20:24] jiggzson commented on #163
Moving to #247

[2017-11-20 20:24] #163 closed

[2017-11-20 20:47] jiggzson commented on #252
The in operator may have to be a function and not an actual operator. Something like
[code]

[2017-11-20 21:05] jiggzson commented on #305
You're getting this because trig and inverse functions don't do complex yet. You wouldn't by any chance have a neat little list handy would you? That would definitely help speed up implementation.

[2017-11-20 21:09] jiggzson commented on #299
This one belongs under #181

[2017-11-20 21:09] #299 closed

[2017-11-20 21:13] jiggzson commented on #184
@Happypig375 You're right. I renamed Issue #141 so I'll be moving it there. I'll be moving all documentation related issues there.

[2017-11-20 21:13] jiggzson commented on #245
moving to #141

[2017-11-20 21:13] #245 closed

[2017-11-20 21:14] jiggzson commented on #167
moving to #141

[2017-11-20 21:14] #167 closed

[2017-11-20 21:25] menzelths commented on #313
I am closing this, too. Bugfix seems to work.

[2017-11-20 21:25] #313 closed

[2017-11-20 21:26] menzelths commented on #307
PR is merged and seems to work. Closing issue.

[2017-11-20 21:26] #307 closed

[2017-11-21 01:40] jiggzson commented on #287
@Happypig375 This issue should be fixed. Keep in mind that factor is a work in progress. Try to keep all issues that you find with factor in issue #219. I'll be going down that list when I tackle factoring. When you keep issues grouped and in logical order it allows me to better schedule myself.

[2017-11-21 02:28] jiggzson commented on #310
This was fixed.

[2017-11-21 09:18] Happypig375 commented on #311
So I suspect that that this is an Android WebView issue (this is what I am using). If you don't want to continue to investigate, close this.

[2017-11-21 09:19] Happypig375 commented on #156
And also 0.7.14 when it is finished.

[2017-11-21 10:23] Happypig375 opened #318 "Invalid integer?"
sinc(π) eval=> Error: Invalid integer: 38981718325193755e-17

[2017-11-21 13:27] Happypig375 commented on #294
YES!!! nerdamer.pfactor("15!-3"), nerdamer.pfactor("15!+1") and nerdamer.pfactor("15!+11!") all give the same output as Wolfram Alpha. Thanks a lot!

[2017-11-21 13:27] #294 closed

[2017-11-21 13:32] Happypig375 commented on #210
This one is more important.
sqrt(2)*sqrt(6) should=> 4*sqrt(3)
(reference to #312)

[2017-11-21 13:32] Happypig375 commented on #312
Ayy, now the result of integrate(sqrt(8)*6^(1/2)) is on par (not quite actually, see https://github.com/jiggzson/nerdamer/issues/210#issuecomment-346027346 ) with Wolfram Alpha. Great!

[2017-11-21 13:33] #312 closed

[2017-11-21 13:51] Happypig375 opened #319 "Mode with more than one commonest value"
mode(1,2,3,1,2) should evaluate to [1,2], instead of remaining as mode(1,2,3,1,2).

[2017-11-21 13:56] Happypig375 commented on #297
nerdamer("solveEquations(x+y=8)") => [-(-8+y)]
Should the negative sign be expanded into 8+y?

---
Input:
[code]
Output:
[code]
🤣

[2017-11-21 14:01] Happypig375 commented on #250
I think that the same technique used in pfactor where the symbol is cloned then calculated can be used here.
This way, min(cos(6),sin(6),4) can be calculated as sin(6) just like Wolfram Alpha.

[2017-11-21 14:04] Happypig375 commented on #285
Now it starts throwing Error: Invalid integer: Infinity.

[2017-11-21 14:09] Happypig375 commented on #287
:ok: :ok_hand:

[2017-11-21 14:09] #287 closed

[2017-11-21 14:14] Happypig375 commented on #250
Oops, wrong issue 🤦‍ Closing.

[2017-11-21 14:14] #250 closed

[2017-11-21 14:14] Happypig375 commented on #279
https://github.com/jiggzson/nerdamer/issues/250#issuecomment-346034848

This way, min(cos(6),sin(6),4) can be calculated as sin(6) just like Wolfram Alpha.

[2017-11-21 14:18] Happypig375 commented on #292
Oh, you are following Wolfram Alpha's result (x^(-1)) I see.
However, gcd(x^-2,x^-0.5) => Error: Polynomial Expected! Received x^(1/2) should=> 1/x^2.5 according to Wolfram Alpha.

[2017-11-21 14:24] jiggzson commented on #292
I wasn't actually. I wrote out the denominator for both and then pulled the gcd. I then put back the denominator. I'll look into that. You're getting that answer because as stated it expects a polynomial.

[2017-11-21 14:26] Happypig375 commented on #290
Also log(-2,2) explodes.
log(-2,2) => 199952529166524919968532228982456542372282611811919580563445051818274654665893911159022727197411389766640164164124665122446400534156424598474842480790013910171293147288756660436916321448065342822974666658989080091/1342747117352244142241331479545853859765814028897328589561194257072559162744216412274450370376990170714806603234294879807832669177051544909

[2017-11-21 14:27] Happypig375 commented on #290
log(-2,2) case should be merged into #181. Close this?

[2017-11-21 14:30] Happypig375 commented on #292
Oh, my bad.

Thanks in advance

[2017-11-21 14:35] jiggzson commented on #279
Not really. This would for sin(6) to be evaluated. Is that what you're looking for?

[2017-11-21 14:38] jiggzson commented on #290
Sure let's move it there.

[2017-11-21 14:40] #290 closed

[2017-11-21 14:45] Happypig375 commented on #279
Like this:
Input: min(cos(6),sin(6),4)
🔽
Copy into vector [cos(6),sin(6),4]
🔽
Parse to number [0.96017...,-0.2794...,4]
🔽
Compare (slot 1 is smallest)
🔽
Look up value from input (slot 1 of input is sin(6))
🔽
Output: sin(6)

[2017-11-21 14:49] Happypig375 commented on #279
If things like complex numbers are encountered, then just remain being not evaluated or throw.

[2017-11-21 15:53] jiggzson commented on #288
This issue is actually related to #297 so I'll be moving that discussion there.

[2017-11-21 15:53] #288 closed

[2017-11-21 15:54] jiggzson commented on #293
@Happypig375 this should be fixed.

[2017-11-21 16:20] jiggzson commented on #281
I get **[π,b,c]+[d,e]**

[2017-11-21 19:33] #310 closed

[2017-11-21 20:24] #279 closed

[2017-11-21 20:24] #283 closed

[2017-11-21 20:24] #292 closed

[2017-11-21 20:24] #318 closed

[2017-11-22 04:51] jiggzson commented on #267
So do you want this to throw?

[2017-11-22 08:37] ljacqu commented on #319
Stupid question probably but what even does that do?

[2017-11-22 09:18] Happypig375 commented on #319
https://en.wikipedia.org/wiki/Mode_(statistics)

[2017-11-22 09:45] Happypig375 commented on #293
👌 :+1:

[2017-11-22 09:45] #293 closed

[2017-11-22 09:46] Happypig375 commented on #281
Hmm, good point. Will look at this later.

[2017-11-22 09:51] Happypig375 commented on #267
Yup, or remain as atan2(0, 0).

[2017-11-22 15:59] Happypig375 opened #321 "(x-1)x(x+1) => -1+x"
should=> (-1+x)*(1+x)*x

[2017-11-22 16:08] Happypig375 opened #322 "Wrong result by solve"
solve((x-1)*(x+1)*x=3x,x) => [(-1/3)*(-1)^(1/6)*24^(1/3)*sqrt(3)^(1/3)-4*(-1)^(-1/6)*24^(-1/3)*sqrt(3)^(-1/3),(1/6)*(-1)^(1/6)*(1+i*sqrt(3))*24^(1/3)*sqrt(3)^(1/3)+2*((-1)^(1/6)*24^(1/3)*sqrt(3)^(1/3))^(-1)*(-i*sqrt(3)+1),(1/6)*(-1)^(1/6)*(-i*sqrt(3)+1)*24^(1/3)*sqrt(3)^(1/3)+2*((-1)^(1/6)*24^(1/3)*sqrt(3)^(1/3))^(-1)*(1+i*sqrt(3))]
should=> [2,-2,0]

[2017-11-22 16:15] Happypig375 commented on #322
solve(sqrt(x)+sqrt(2x+1)=5,x) => []
should=> [4]

[2017-11-22 17:39] jiggzson commented on #322
@Happypig375 Thanks. Can you start closing off some of the issues that are fixed.

[2017-11-22 23:05] jiggzson commented on #286
moving to #322

[2017-11-22 23:05] #286 closed

[2017-11-22 23:05] #319 closed

[2017-11-22 23:06] jiggzson commented on #277
moving to #322

[2017-11-22 23:06] #277 closed

[2017-11-22 23:07] jiggzson commented on #274
moving to #322

[2017-11-22 23:07] #274 closed

[2017-11-23 03:36] jiggzson commented on #302
Any examples for this one?

[2017-11-23 03:50] #166 closed

[2017-11-23 03:50] jiggzson commented on #127
Moving to #322

[2017-11-23 03:50] #127 closed

[2017-11-23 03:52] jiggzson commented on #156
I've made a note of this. As stated before I'll do my best to keep up with this going forward. Closing.

[2017-11-23 03:52] #156 closed

[2017-11-23 03:54] jiggzson commented on #119
Fixed

[2017-11-23 03:54] #119 closed

[2017-11-23 03:56] jiggzson commented on #231
The lb function can be used by specifying the base with the log function. I'm going to avoid using this as this might conflict with the future plan for units.

[2017-11-23 03:56] #231 closed

[2017-11-23 03:57] jiggzson commented on #129
Already added to roadmap. Closing.

[2017-11-23 03:57] #129 closed

[2017-11-23 03:59] jiggzson commented on #230
Added to roadmap. Closing

[2017-11-23 03:59] #230 closed

[2017-11-23 04:01] jiggzson commented on #305
Related to #181 (Complex numbers). Moving there.

[2017-11-23 04:01] #305 closed

[2017-11-23 04:02] jiggzson commented on #297
Moving to #322

[2017-11-23 04:02] #297 closed

[2017-11-24 17:10] Happypig375 commented on #219
factor(x^16-1) => (-1+x)*(1+x)*(1+x^2+x^4+x^6)*(1+x^8)
factor(1+x^2+x^4+x^6) => (1+x^2)*(1+x^4)
Therefore, factor(x^16-1) should=> (-1+x)*(1+x)*(1+x^2)*(1+x^4)*(1+x^8)

[2017-11-24 17:31] Happypig375 opened #324 "Integral with abs/sign goes crazy"
integrate(abs(-2+e^x)) => integrate(abs(-2+e^x),x)
Unsolved!

integrate((e^x-2)/sign(e^x-2)) => integrate(-2*sign(-2+e^x)^(-1),x)+integrate(sign(-2+e^x),-2+e^x)
What!?

(Ref: https://github.com/tranleduy2000/ncalc/issues/23)

[2017-11-24 17:33] Happypig375 commented on #324
Wait... That should be defint lol
First one is now invalid but the second one still stands.

[2017-11-26 05:20] Happypig375 commented on #322
solve(x=2/(3-x),x)
=> [1,1.0000000000000002] (@0.7.13)
=> [2*(-x+3)^(-1)] (@0.7.14)
should=> [1,2]

[2017-11-28 10:01] Happypig375 commented on #247
pfactor(78202389238903801/240831735646702201)
=> ((21336787^2)*(23^2))^(-1)*((2803^2)*(99767^2))
(checks DECIMAL)
=> ​((529)⋅(455258479483369))/​((7856809)⋅(9953454289))

[2017-11-28 10:45] Happypig375 opened #329 "Variable length params for gcd and lcm"
Currently only 2 parameters are allowed.
More than 2 input would be really useful.

[2017-11-28 10:45] Happypig375 commented on #329
Aka loop through and apply gcd/lcm for each item.

[2017-11-28 21:11] jiggzson commented on #329
This one should be simple enough. Feel like taking a swing at this one?

[2017-11-28 21:23] jiggzson commented on #247
Sounds a little counter intuitive, doesn't it? By definition a decimal number is a*10^n. Why would 23^2 not be expanded to 529 format if you check decimal box? I'm surprised you haven't said anything about the brackets in pfactor. I mean those things redundant as heck. It's already on my TODO list.

[2017-11-29 07:55] menzelths opened #330 "Proposal: round for scientific numbers"
This is no mathematical issue but would be of great practical use for physics:

given a result like 1.23423534e-12 normally is rounded in physics with a reasonable number of valid figures, e. g. in this case 1.23e-12.

It would be nice to let round(1.23423534e-12,2) giving back this result instead of first converting the number to a decimal number and then giving back zero.

This is a "nice to hav

[2017-11-29 10:25] Happypig375 commented on #247
Why go half way then? Why don't literally return 0.32471795724474595?
It is evaluating what it should not evaluate, it should only convert fractions in the form of a/b, not stuff like a^b.

Good catch! I overlooked this. :+1:

:laughing:

Great!

[2017-11-29 11:13] Happypig375 commented on #329
I'll try.

[2017-11-29 11:35] Happypig375 opened #331 "divide(a*b^(-1)+b^(-1)*c,a+c) => 1"
should=> b^(-1)

[2017-11-29 15:30] jiggzson commented on #331
Make sure you've pulled all the recent changes. This issue was fixed. I just ran this without any problems.

[2017-11-29 15:34] jiggzson commented on #247
I don't know if I agree. It's doing the conversion on the factors. If you want the factors stripped then just call evaluate.

 I don't see how this is an issue since you're getting more not less. If you already have the desired output then just leave it as-is.

[2017-11-29 21:00] jiggzson commented on #330
@menzelths the biggest problem I see is that after the conversion to the decimal number, there's really no way of know how the number was input. All number are treated equally once they reach the parser. The only solutions I can think of is to either allow for a third parameter or to signal to the library that you want the decimal treated as a scientific number by making the second parameter negat

[2017-11-29 21:25] #321 closed

[2017-11-29 21:25] #289 closed

[2017-11-29 21:29] jiggzson commented on #202
The majority of the issues are fixed and remaining issues are part of the roadmap. Refer to roadmap or individual issues.

[2017-11-29 21:29] #202 closed

[2017-11-29 21:30] #263 closed

[2017-11-29 21:30] #246 closed

[2017-11-29 21:33] #311 closed

[2017-11-29 21:39] jiggzson commented on #284
Moving to #247

[2017-11-29 21:39] #284 closed

[2017-11-29 21:46] jiggzson commented on #196
This issue is technically fixed. The problem is that the demo still relies on the old toDecimal method which uses JS numbers instead of BigInteger numbers. Moving to demo related issue #247

[2017-11-29 21:46] #196 closed

[2017-11-29 21:48] jiggzson commented on #302
@Happypig375 Suggestions? Examples? Anything?

[2017-11-29 21:50] jiggzson commented on #281
@Happypig375 Have you looked into this? Can this be closed?

[2017-11-29 21:53] jiggzson commented on #271
This issue is related to #247 and #221 which are already being worked on. Closing.

[2017-11-29 21:53] #271 closed

[2017-11-29 22:08] jiggzson commented on #200
I'd like to call this issue a "**white rabbit**". If we start chasing issues like these we'll be in wonderland in no time. Can you give me an example of how this has affected you or your project?

[2017-11-30 02:42] Happypig375 commented on #281
Merge into #311

[2017-11-30 02:42] #281 closed

[2017-11-30 02:59] Happypig375 commented on #302
Ref: https://en.wikipedia.org/wiki/Seven-dimensional_cross_product

1. Set an setting for the basis vector (product of [1, 0, 0, 0, 0, 0, 0] and [0, 1, 0, 0, 0, 0, 0, 0]
Something like a setting called BASIS_VECTOR, like [0, 0, 1, 0, 0, 0, 0]
2. Generate multiplication table

Now if BASIS_VECTOR is [0, 0, 1, 0, 0, 0, 0],
cross([0, 1, 0, 0, 0, 0, 0],[0, 0, 0, 0, 0, 0, 1]) => [0, 0, 0, 0, -1, 0, 0]

[2017-11-30 03:05] Happypig375 commented on #200
Just a quirk that I would like to point out. Just thought that an error would be more appropriate.

So you mean that this is not a bug?

Unexpected output are generally bad.

[2017-11-30 04:02] Happypig375 opened #332 "gcd(gcd(a,b),c) => 1"
This is blocking me from implementing #329.

[2017-11-30 04:04] jiggzson commented on #329
How is that not the answer?

[2017-11-30 04:05] jiggzson commented on #332
How is that not the answer?

gcd(a,b) = 1
gcd(1, c) = 1

[2017-11-30 04:13] Happypig375 opened #333 "Named parameters, related parameters and more Geometry"
(The three 3s special issue! :tada: :clap:)

Take line as an example. Not every time two points are specified, sometimes a point and slope is given. Now line cannot be used. How are we going to solve this?
Extend the parameter list?
[code]
Usage:
[code]
Now this is ugly and ambiguous.

Named parameters will make this better:
[code]

I have thought of a few proposals of this syntax (I prefer 1 and

[2017-11-30 04:59] Happypig375 commented on #333
Related parameters in my above incomplete form should be used with setFunction:
[code]

[2017-11-30 10:27] Happypig375 commented on #332
Because you don't know what a and b even are yet.
Refer to https://github.com/jiggzson/nerdamer/issues/123#issuecomment-326306729.

[2017-11-30 10:28] Happypig375 commented on #332
Plus,
gcd(a,b) => gcd(a,b)
gcd(gcd(a,b),c) => 1
it is inconsistent.

[2017-11-30 13:19] Happypig375 commented on #332
Ref: Wolfram Alpha
gcd(gcd(a,b),c) => gcd(a,b,c) //My example
gcd(a*x,b*x) => x //Your example
gcd(1,c) => gcd(1,c) //Yourexample
gcd(8x, 12x) => 4x //Your example
gcd(a,b) => gcd(a,b) //My example

[2017-11-30 13:47] jiggzson commented on #332
@Happypig375 Honestly, this is not an option. Mucking around this definition of gcd breaks other algorithms such as integration. If you're having trouble implementing #329 then just don't worry about it. I'll take care of it.

[2017-11-30 16:01] Happypig375 commented on #322
solveEquations([sqrt(2)a-sqrt(2)c+b+d=0,a+c+sqrt(2)b-sqrt(2)d=0,a+c=0,b+d=1]) => Error: System must contain all linear equations!

All four equations are linear, but multivariate.

[2017-11-30 16:25] Happypig375 commented on #332
@jiggzon So Wolfram Alpha is wrong?

[2017-11-30 16:29] Happypig375 opened #334 "integrate(1/(x^4+1)) won't evaluate"
Just watched https://youtu.be/GZFQNsy3p1U and found out that nerdamer couldn't do this integral.

[2017-11-30 16:40] jiggzson commented on #333
I definitely like the idea of having named parameters, especially the proposed syntax. I'm not too worried about ambiguity but more about the difficulty of implementation using the current parser.

I don't know. Provide me with examples of where this is done or a proposal of how this can be supported and we'll give it a go.

Adding a geometry package shouldn't be a problem. The line function can t

[2017-11-30 16:44] jiggzson commented on #332
I never said that. It looks to me that they're using two sets of assumptions vs sticking to one. With gcd(a,b) they might be assuming 2 univariate polynomials. With gcd(ax, bx) they're probably assuming 2 multivariate polynomials. Odds are that they're choosing based on the parameters of the problem but I can't know for sure.

[2017-11-30 16:47] jiggzson commented on #322
@Happypig375 so which variable are you trying to solve for?

[2017-12-01 03:34] Happypig375 commented on #322
@jiggzson All of them. Currently solveEquations([a+b=1,a-b=2]) => [a,1.5,b,-0.5].
Therefore,
solveEquations([sqrt(2)a-sqrt(2)c+b+d=0,a+c+sqrt(2)b-sqrt(2)d=0,a+c=0,b+d=1]) should=> [[a,-1/(2 sqrt(2))], [b, 1/2], [c, 1/(2 sqrt(2))], [d, 1/2]]

[2017-12-01 03:35] Happypig375 commented on #322
Also, I think that solveEquations([a+b=1,a-b=2]) should=> [a=1.5,b=-0.5]
This is more clear about the connection between the unknown and the value.

[2017-12-01 03:38] Happypig375 commented on #247
@jiggzson Let me rephrase. DECIMAL should only convert numeric fractions to numeric decimals. Switching this on causes the return value of pfactor to lose information about the powers on primes, which is a bug.

[2017-12-01 03:40] Happypig375 commented on #332
Ok. Understood.

[2017-12-01 03:53] Happypig375 commented on #333
Just thought of an ambiguity: https://www.wolframalpha.com/input/?i=parabola+through+(1,2),(2,1),(3,3)+and+hyperbola+through+(1,2),(2,1),(3,3)
Maybe separate functions for parabolas and hyperbolas.

[2017-12-01 04:10] Happypig375 commented on #333
What about adding this during the rewrite of the parser in the upcoming 0.8.0?

[2017-12-01 04:15] Happypig375 commented on #247
solveEquations([a+b=1,a-b=2])
demo=> [[a,3/2],[b,−1/2]]
There is an extra layer of square brackets not actually present in the result.

[2017-12-01 20:59] jiggzson commented on #322
Oops. I confused it with solve for a moment. You're right. Something is causing it to incorrectly flag it as non-linear. I'll look into this.

[2017-12-01 20:59] #332 closed

[2017-12-02 04:32] Happypig375 opened #335 "LaTeX for defint"
defint(log(2cos(x/2)),-π,π,x)
Its LaTeX output looks just loke a normal function.
Use `\int_{-\pi}^{\pi} ... dx` instead.

[2017-12-02 04:46] Happypig375 opened #336 "defint(log(2cos(x/2)),-π,π,x) eval=> −0.012509423660499902"
According to http://mathworld.wolfram.com/DefiniteIntegral.html, it should evaluate to 0.

[2017-12-02 11:43] Happypig375 commented on #210
http://www.dummies.com/education/math/calculus/using-identities-to-express-a-trigonometry-function-as-a-pair-of-functions/
The trig conversion table should be somewhat helpful.

[2017-12-02 13:12] Happypig375 commented on #156
Remember to tag 0.7.14 on GitHub Releases

[2017-12-03 03:27] Happypig375 commented on #322
solve(sqrt(x)-1,x) => [] should=> [1]
solve(sqrt(x)+1,x) => [0] should=> []

[2017-12-03 06:44] Happypig375 commented on #322
solve(sqrt(x^2+1),x) => [] should=> [i, -i]
solve(sqrt(x^2-1),x) => [] should=> [1, -1]

[2017-12-03 06:46] Happypig375 commented on #322
The second argument to solve (variable to solve for) should be inferred for univariate polynomials/equations, and solve for all variables in multivariate equations like in solveEquations.

[2017-12-03 21:19] jiggzson commented on #210
@Happypig375 the list you provided contains only basic trig identities. A much more extensive conversion method which includes double angle identities, etc. is already contained in the Calculus.js add-on. I think I'll move that to the core and utilize that one. If you run into more simplifications please do share.

[2017-12-03 21:29] jiggzson commented on #336
There have been previous discussions regarding defint (see #96). I'm all open to suggestions.

[2017-12-03 21:32] jiggzson commented on #333
@Happypig375 I'm still looking at options for 0.8.0 so I'll be keeping this issue in mind.

[2017-12-04 03:42] Happypig375 commented on #336
I suggest that this is a bug and should be fixed.

[2017-12-04 12:21] jiggzson commented on #336
I seriously hope you're joking here. I'm not asking you to state the obvious. I'm asking for suggestions as to how to approach this. Again, I hope you're joking.

[2017-12-04 13:08] Happypig375 commented on #336
Quick check: Algebrite's implementation returns 0.

[2017-12-04 14:03] Happypig375 commented on #336
2nd quick check:
[code]
The above function copied from core.Math2.num_integrate returns 0. So the algorithm is correct. Where is the bug?

[2017-12-04 14:07] jiggzson commented on #336
defint(log(cos(x/2)),-pi,pi)

Wolfram Alpha:  -4.35517
Algebrite: 0
Nerdamer:  −4.3675531591186

[2017-12-04 14:11] Happypig375 commented on #336
3rd quick check:
There was an error in the 2nd quick check. I should have used Number.toPrecision instead of Math.round. Sorry!

[code]
It returns -0.01250942366046. So the bug IS here.

[2017-12-04 14:36] jiggzson commented on #336
I'm guessing that Algebrite probably applies a symmetry test and then returns zero based on that. If you're familiar with their source code can you confirm? If that's the case then I'm curious why Wolfram Alpha returns **-4.35517** for  **defint(log(cos(x/2)),-pi,pi)** since the function appears symmetric around 0.

[2017-12-04 14:57] Happypig375 commented on #336
First help wanted label ever :laughing: :tada:

[2017-12-04 16:20] jiggzson commented on #334
**integrate(1/(x^4+1))** - in progress
**integrate(acos(x)/-sqrt(1-x^2))** - invalid
**integrate(cos(x)/(1+sin(x)^3),x)** - invalid
**integrate(sin(cos(x))^2,x)**  -  invalid
**integrate(1/(x^5+1),x)** - throws
**integrate((x^2+2*x+1)/(x^3-1),x)** - throws [clone not defined]
**integrate((x^2+5)/(x^2+3*x-1),x)** - hangs

[2017-12-05 02:17] jiggzson commented on #282
When parsing an expression nerdamer creates a subs object and uses that to substitute in known values. The problem was that when setFunction was called, the first subs object was created. However when lcm was called it created a second subs object but that subs object was never passed off which caused it to use the first subs object. Fixed. Might be related to #212.

[2017-12-05 02:28] jiggzson commented on #324
Moved to #334

[2017-12-05 02:28] #324 closed

[2017-12-05 14:36] jiggzson commented on #282
@Happypig375 Special thanks for this one. This was an awesome catch.

[2017-12-05 15:45] Happypig375 commented on #334
**integrate(e^cos(x))**  eval=> hangs
**integrate(e^acos(x))** => (unsolved) eval=> (hangs)
**integrate(1/log(x))** => (invalid)
**integrate(cos(x^2),x)** eval=> (unsolved)
**integrate(1/sqrt(1+x^3))** => (invalid)

[2017-12-05 16:30] AnatolyShirykalov opened #339 "Cannot differentiate some functions"
Actual for Nerdamer 0.7.11.
I have just noticed a very strange result of differentiating:
[code]
But we can see normal behavior here:
[code]

[2017-12-05 18:57] jiggzson commented on #339
@AnatolyShirykalov the reason this is happening is because the evaluate method is called automatically when calling diff this way. Basically
[code]
is the similar to _(but not exactly the same thing as)_ calling
[code]
I believe what you're looking for is
[code]
which will give you the purely differentiated function. I am however noticing that e^x was never evaluated. Is that what you were referri

[2017-12-05 19:12] jiggzson commented on #334
@Happypig375 thanks.

[2017-12-05 20:33] #335 closed

[2017-12-05 20:36] jiggzson commented on #330
@menzelths This has been implemented on dev. To round only the coefficient, the second argument has to be negative so for instance
[code]
Is that what you had in mind?

[2017-12-05 20:38] #282 closed

[2017-12-05 20:38] #272 closed

[2017-12-05 20:38] #267 closed

[2017-12-05 20:39] jiggzson commented on #121
Done!

[2017-12-05 20:39] #121 closed

[2017-12-05 20:58] AnatolyShirykalov commented on #339
@jiggzson Thank you! That is exactly what I need.

[2017-12-05 20:59] jiggzson commented on #212
I'm revisiting this issue so let's go over this step by step one more time
[code]
I don't see the problem.

[2017-12-05 21:00] jiggzson commented on #339
No problem.

[2017-12-05 23:27] jiggzson commented on #191
Fixed in 7ce9240

[2017-12-05 23:27] #191 closed

[2017-12-06 01:21] #339 closed

[2017-12-06 01:24] Happypig375 commented on #212
Let me see...
(Not on a computer right now, so the following is just my prediction, may differ with actual output)
[code]

[2017-12-06 01:29] Happypig375 commented on #212
Use case:
[code]

[2017-12-06 01:37] jiggzson commented on #212
Ok I remember now. The problem here is that a is known at the time of setting b. There is really no way around this. The substitution occurs when the expression is evaluated.

[2017-12-06 01:42] Happypig375 commented on #212
Awh:frowning:

[2017-12-06 01:45] Happypig375 commented on #156
Bump

[2017-12-06 01:50] jiggzson commented on #212
The only solution I can think of is to implement this outside of the library and use that instead. It would definitely be more efficient since you would only check substitutions per expression. Currently substitutions are checked per token (kinda) so the overhead for doing multiple checks would be brutal.  Another problem I see is that the subs object is just that, an object. So the order isn't re

[2017-12-06 01:59] Happypig375 opened #340 "Continued fractions"
This function takes a number and returns a vector representing the continued fraction.

Definition: `continued(number, maxlength)`
Example: `continued(6/7,7) => [0, 1, 6]`
Visual representation:
6/7 = 0+1/(1+1/6)

2nd example: `continued(pi, 5) => [3,7,15,1,292]`
Visual representation:
pi = 3+1/(7+1/(15+1/(1+1/(292+1/(…)))))

[2017-12-06 02:05] Happypig375 opened #341 "Recurring decimal literals"
Similar to how Wolfram Alpha does it,
1.12341234… => 11233/9999
1.1… => 10/9

A small but useful feature.

[2017-12-06 02:40] jiggzson commented on #248
@Happypig375 I've created a method for replacing built-in functions. The syntax is as follows
[code]
The constructor takes as arguments, the existing function which can be used to extend the existing function, and the core. I've provided an example below.

[code]
The only responsibility to you would be to make sure that either a symbol, vector, or matrix is returned.

[2017-12-06 03:01] Happypig375 commented on #334
Multi-integrals (idea from Algebrite):

integral(x*y,x,y) => integral(integral(x*y,x),y) => 1/4 x^2 y^2

[2017-12-07 05:32] Happypig375 commented on #304
@jonathanmarvens
See #248 for a new, modern and simple solution

[2017-12-07 09:06] Happypig375 opened #342 "Update the wiki dependency image"
Calculus.js actually depends on Algebra.js.
However, the dependency graph does not show that.

[2017-12-07 09:11] Happypig375 commented on #156
As you remember to release on GitHub, you forgot to release on npm. Argh

[2017-12-07 10:18] Happypig375 commented on #330
Thoughts:
2nd parameter (-n) means (n+1) significant figures
Should change so that 2nd parameter (-n) means (n) significant figures?

[2017-12-07 11:24] Happypig375 commented on #334
integrate(3x/(x^6+1)) => (throws)
integrate(3x^2/(x^6+1)) => (throws)
integrate(3x^3/(x^6+1)) => (throws)
integrate(3x^4/(x^6+1)) => (throws)

[2017-12-07 12:30] Happypig375 commented on #334
integrate(1/(x^6-1)) => (throws)
integrate(1/(x^6+1)) => (throws)
integrate(1/(x^6+x)) => (throws)
integrate(1/(x^6+x^2)) => (throws)
integrate(1/(x^6+x^3)) => (throws)
integrate(1/(x^6+x^4)) => (throws)
integrate(1/(x^6+x^5)) => (throws)

[2017-12-08 08:36] Happypig375 opened #343 "undefined with getCore().Frac"
While implementing #329, I came along this:
`new nerdamer.getCore().Frac(1)` => `undefined`
`nerdamer.getCore().Frac.create(1)` => `1`

~~This results in `nerdamer.getCore().PARSER.divide(new nerdamer.getCore().Expression("(x^8+4*x^7+4*x^6+3*x^5+12*x^4+12*x^3)"), new nerdamer.getCore().Expression("(x^8+4*x^7+4*x^6+3*x^5+12*x^4+12*x^3)"))` => `undefined`, one of the failing tests in #337 where the

[2017-12-08 10:10] Happypig375 commented on #343
Here is `new Frac(1)` being used in the Symbol constructor:
https://github.com/jiggzson/nerdamer/blob/4efe6de91758cf08540ced33b9672234f3375a86/nerdamer.core.js#L1916
And here the undefined occurs:
https://github.com/Happypig375/nerdamer/blob/22d631c8cbd714ddf8d40e7f63cb922119dec4ef/Algebra.js#L2370

[2017-12-08 11:06] Happypig375 commented on #210
Thought on this:
Just like Wolfram Alpha, provide different simplifications with different criteria?
Like simplify(x/x) => [0, x <> 0] (Not x!=0 because that is factorial(x)=0)

[2017-12-08 14:27] menzelths opened #344 "calculation bug with cross productin the demo (probably also in the library)"
P:vector(9,-4,1)

S:vector(-1,1,-1)

R:vector(3,-8,2)

PR:R-P

SP:P-S

d1:cross(PR,SP)

d2:cross(vector(6,-4,1),vector(10,-5,2))

d2 gives back [-3,-2,10], which is correct, d1 results to [-3,22,70]. In the second two rows of d1 the subtraction has some problem with negative numbers.

[2017-12-08 14:34] Happypig375 commented on #344
I can CONFIRM this on dev branch.
[code]

[2017-12-09 16:02] jiggzson commented on #156
Yes. I'll release @0.7.15. I haven't released on npm for quite some time.

[2017-12-09 16:06] jiggzson commented on #344
@menzelths thanks. From your example it seems that you're expecting PR to equal [6, -4, 1]. However subtraction would be [9-3, -8--4, 1-2] = [6, -4, -1]. Correct? The last one item should be negative. Correct? I'll have this fixed soon.

[2017-12-09 16:11] jiggzson commented on #343
You're calling new on the wrong function. What you're essentially doing is
[code]
What you're looking for is

[code]

[2017-12-09 16:15] jiggzson commented on #210
Sounds good. Keep in mind that equality operators were an idea I was toying with so that's why they're not documented. I guess we can still tweak them as we go.

[2017-12-09 16:17] menzelths commented on #344
Sorry, my fault. I did a calculation error on my own. It must be: [3-9,-8--4,2-1]=[-6,-4,1].
With this result nerdamer is doing everything the correct way.
Thank you for your time :-)

[2017-12-09 16:17] #344 closed

[2017-12-09 16:17] jiggzson commented on #330
@Happypig375 The negative sign is just to signal to round that the coefficient should be rounded. Not the whole number.

I don't understand what you mean here.

[2017-12-09 16:20] jiggzson commented on #344
@menzelths No problem.

[2017-12-09 16:23] jiggzson commented on #342
This was started by @brosnanyuen. If it helps you, by all means update it.  I may have to reorganize this at some point since you made a good point when you mentioned that it would be better for laplace to be in Calculus.js. Line could be in the core or Geometry.js etc. Or maybe I'll just roll everything back into one bundle. I'm open for discussion on this one.

[2017-12-09 16:36] jiggzson commented on #343
@Happypig375 I think the undefined occurs in the getDenom method. I got bit by this as well when doing the **inverse laplace** function. I'm updating it to return **1** instead of _undefned_

[2017-12-09 19:56] menzelths commented on #330
Finally I had the possibility to check the enhancement:

for numbers smaller than 10 it is working as expected but not for numbers greater than 10.

I would like it as Happypig375 suggested, the rounding parameter determing the number of significant figures, which means:

125324142 with 2 significant figures is 1.3e8
125324142 with 4 significant figures is 1.243e8
0.0001234 with 2 significant figu

[2017-12-10 01:01] Happypig375 commented on #210
Ah, and that requires #251 to be implemented. Forgot to say.

[2017-12-10 01:35] Happypig375 commented on #342
@bronsnanyuen Do you have the original image file?

I will list out the pros and cons:

Option|Sorting every function into their respective module|Rolling everything back
-|-|-
Pros|More organisation of code and tests|Don't need to care about sorting everything; no need to have different files
Cons|Harder to maintain (more files)|GitHub will cease to display files that are too large, harder to vie

[2017-12-10 05:15] jiggzson opened #345 "solve(((x+1)*((x+1)+1))/2=n,x) gives wrong result"
Expected: +/-(sqrt(8*n+1)+3)/2
Gives: +/-(sqrt(4*n+1)+3)/2

[2017-12-10 05:19] jiggzson commented on #343
@Happypig375 Can you let me know if this issue still applies? The getDenom method should no longer return _undefined_.

[2017-12-10 05:53] Happypig375 commented on #322
Cross-ref: #345

[2017-12-10 05:53] Happypig375 commented on #345
Cross-ref: #322

[2017-12-10 05:58] Happypig375 commented on #345
Compacted reproduction:
solve((x+1)(x+2)/2=n,x) => (±sqrt(4n+1)+3)/2
solve((x+1)(x+2)=2n,x) => (±sqrt(8n+1)+3)/2

I guess that this has something to do with correctDenom from earlier.

[2017-12-10 09:39] Happypig375 opened #346 "LogTeX"
log(a,b) should output latex \log_{b}{a}
log10(a) should output latex \log_{10}{a}

[2017-12-10 15:36] jiggzson commented on #322
**solve(((x+1)*((x+1)+1))/2=n,x)**
Expected: +/-(sqrt(8n+1)+3)/2
Gives: +/-(sqrt(4n+1)+3)/2

[2017-12-10 15:36] #345 closed

[2017-12-11 09:51] Happypig375 commented on #342
@brosnanyuen (Correct spelling)
Do you have the original image file of the wiki dependency image?

[2017-12-11 13:40] Happypig375 commented on #333
A couple of questions to discuss:
- What representation would be used to represent the geometric shapes?
1. Equations
Pro: Integration with existing features, ease of understanding
Con: More difficult to implement the operations
2. Set of inequalities
Pro: Shorter representation than 1
Con: Another overload of vectors? Vectors have a lot of meanings already.
3. A new type of object
Pro: Easier to

[2017-12-12 10:01] Happypig375 opened #347 "Column number in ParseError"
I would be able to locate the error faster.
Aside from peoviding it in the error string, provide a property in ParseError so that it is easier to retrieve.

[2017-12-12 23:19] jiggzson commented on #347
Agreed. This is one of those things that I keep meaning to get to but I  keep putting off. It would help me in the demo as well since I currently just use a catch-all method for alerting the user that something went wrong.

[2017-12-13 02:35] Happypig375 opened #348 "Symbolic output for min and max"
See https://github.com/jiggzson/nerdamer/issues/279#issuecomment-346048134

[2017-12-14 14:40] jiggzson commented on #348
Cool. I'll give it a go soon.

[2017-12-14 19:28] jiggzson commented on #348
Two things.
1. This will be an optional setting. I don't mind implementing this but I do mind making this the default behavior especially given the way this is being suggested. If I'm to make this the default behavior I may have to implement something like [this](https://gist.github.com/jiggzson/f41fcbd5a0bc385d1211bd8d6f3678df) for min and max. It's actually faster than Math.min.apply in quite a

[2017-12-15 11:36] Happypig375 commented on #348
Hmmm. Valid concerns. Let me dig into this a little more.

Oh, Wolfram Alpha has a formula for min: min(a, b) = 1/2 a sgn(b - a) + 1/2 b sgn(a - b) + a/2 + b/2

Also for max: max(a, b) = 1/2 a sign(a - b) + 1/2 b sign(b - a) + a/2 + b/2

(Note: Only real inputs are defined.)

No ambiguity yeah!

However, it is possibly significantly slower than your implementation above. Any thoughts?

[2017-12-16 15:32] Happypig375 commented on #334
integrate(sin(acos(x))) => (unevaluated)
integrate(asin(cos(x))) => (explosion)
For the 2nd integral, Wolfram Alpha does not provide the simplest answer. See https://youtu.be/ph2XQ0BW_NU for a more simplified answer.

[2017-12-21 01:42] yosuke opened #349 "Symbol replacement applied to outside of the function"
Example to reproduce the problem
[code]
What I expect is
[code]
But I get
[code]

[2017-12-21 02:12] jiggzson commented on #349
@yosuke, this issue is related to #282 and has been fixed in the dev branch so if you need this issue fixed right away it's availabe. I'm currently wrapping up some minor issues on the dev branch and I'll be merging this branch to master and subsequently publishing to npm.  I just checked this and it does give the output you expect.

[2017-12-21 02:36] yosuke commented on #349
@jiggzson, thank you for the quick reply (and thank you again for the great software).
Confirmed expected behavior by checking out the dev branch.

[2017-12-21 02:36] #349 closed

[2017-12-21 02:59] jiggzson commented on #349
@yosuke, no problem and thank you.

[2017-12-21 04:15] Happypig375 opened #350 "Mega-proposal: Assumptions and sets"
To: @jiggzson Merry Christmas!!!! 🎄🎅🎁☃️❄️
Here is my "gift" 🎁 for you. 😃
(Also 350th issue special)

Note: All syntax are temporary and can be changed anytime.
Note: [EXTENSION] means that it is an extension inside this proposal, not implementing is OK.

## 1. The problem
See this: sqrt(x^2) => abs(x)
But: sqrt(i^2) => i, while abs(i) => 1
So, sqrt(i^2) is not abs(i).

Does this mean that this sim

[2017-12-21 18:43] jiggzson commented on #350
@Happypig375 Thank you for this awesome gem. It's very thorough and shows that you've given this issue a lot of thought. It's funny that you bring up the issue of assumptions since I just ran into this as well when trying to implement the inverse Laplace function. Because of its surprising complexity, the shortest route to implementation for inverse Laplace was the go the way of a "**pattern match

[2017-12-22 03:06] Happypig375 commented on #350
Yup, this is basically implementing set theory. So, a lot of work is needed, but the benefits are great.

Currently the second parameter accepts an object of known values. If that is changed, then it really is a pretty big breaking change. Suddenly, code that upgrades to this future version and uses the second parameter as an object of known values will become invalid. Maybe throwing an error with

[2017-12-22 03:11] Happypig375 commented on #221
Maybe the internal representation can use infinite series.
As far as I can remember,
almost all current nerdamer functions and constants can be represented as infinite series.
I don't remember any scenario where infinite series cannot be used to represent values.

However, this would require #134 to be implemented and sum to be moved from Calculus.js into core.js.
What do you think?

[2017-12-22 16:55] jiggzson commented on #221
almost all current nerdamer functions and constants can be represented as infinite series.

@Happypig375, correct and at some point we won't have a choice but to do so. At present some functions are already calculated in this fashion, The functions are housed in the **`Math2`** object. The catch is that because the **`Frac`** class uses a ratio of two big integers, it gets really precise. I mean "

[2017-12-22 18:09] peey opened #351 "Undocumented .eq method doesn't work with square-roots"
Hey, I found the method `.eq` on the object created by doing `nerdamer(...)`, but quickly realized that it does not work every-time.

For example, I was expecting the following to be true :

[code]

Turns out, the implementations of `eq, lt, gt, gte, lte` in [nerdamer.core.js](https://github.com/jiggzson/nerdamer/blob/79c90333e25377d9c1e8ab1d9be7f1d0f728e930/nerdamer.core.js#L1597) work only with

[2017-12-22 18:45] jiggzson commented on #351
@peey, you are correct. The default behavior does not check for constants in functions. The **`isConstant`** calls for those functions have to be updated and need to be be called with `true` as the first argument. If you update the eq function to this:
[code]
then it will return true for your example. I'll update this on the dev branch with the next commit.

Thanks.

[2017-12-23 04:32] Happypig375 commented on #351
`nerdamer("x").eq(nerdamer("x")) will be true when the subtracting method is used, but not const check then compare method.
This should be intended, right? Just checking.

[2017-12-23 04:48] jiggzson commented on #351
@Happypig375, I'm guessing you're worried about saying that Infinity = Infinity or something that's not guaranteed to be true right? I popped this into Wolfram Alpha and ironically it returns true for a=a. I guess the assumption must be that a is real.

[2017-12-23 04:51] Happypig375 commented on #343
Latest dev:
[code]
[code]
Wut?

[2017-12-23 04:55] jiggzson commented on #343
Frac does not have getDenom. Only Symbols do. Objects of the Frac class are already split into numerator and denominator.

[code]

[2017-12-23 04:59] Happypig375 commented on #351
Let me double check:
Infinity=Infinity

Result:
True

Ok, nothing unusual here.

[2017-12-23 05:02] jiggzson commented on #351
So I'm guessing that we never had a problem before when Infinity-Infinity=0. Good to know. Makes everything a lot easier.

[2017-12-23 05:05] Happypig375 commented on #351
But Infinity-Infinity is not defined
While Infinity=Infinity.

We can't say something like
Infinity+1=Infinity
Subtract Infinity from both sides
1=0

[2017-12-23 05:08] Happypig375 commented on #343
Oh, OK.
I think this can be closed now.

[2017-12-23 05:09] #343 closed

[2017-12-23 05:19] Happypig375 commented on #134
Another idea:
Instead of letting undefined pop up the calculation, a helpful error is thrown instead.

Something like:
7/sqrt(asin(0)^acos(1))+5 => Error: asin(0)^acos(1) is undefined!

[2017-12-23 13:10] peey opened #352 "coeffs: ambigious to use"
`nerdamer.coeffs` returns a nerdamer object which looks like an array when you apply `.toString()` on it and also has a `.each` which for a second led me into think that it returns an array.

I later learned that nerdamer also has vector support and this above returned value is likely a vector. Please update the documentation to say that it returns a vector and corresponding entries can be accesse

[2017-12-23 13:18] Happypig375 commented on #352
This is because #296 is fixed while the documentation is not updated.
With the bugfix of #296, the return type of coeffs has changed from JavaScript array to nerdamer vector.
So, I am cross-referencing this with #141.

[2017-12-23 13:18] Happypig375 commented on #141
Cross-referencing this with #352.

[2017-12-23 14:16] jiggzson commented on #351
@Happypig375, precisely my point. It's strange that Wolfram Alpha returns true for infinity=infinity. Since this is undefined we can't say for sure that this is true. That means that @peey method should work, and maybe more efficiently, even for infinity=infinity given that we assumed all variables to be real or better yet complex.

[2017-12-23 15:08] Happypig375 commented on #351
I am starting to think in terms of extended reals and cardinals.
Ok, so Infinity is an element of the set of extended reals (this set should be added into #350), which defines operations of Infinity.
Infinity=Infinity is true because well, they are equal!
It is the same as Infinity+1=Infinity is true, so is Infinity*2=Infinity*3...
But when we do Infinity-Infinity, it can equal to any number, sinc

[2017-12-24 12:41] Happypig375 opened #353 "Review on err and warn"
1. Console output
Maybe err and warn should output an error and warning to the JavaScript console respectively.
The code also should not throw a TypeError or something alike if a console is not present.
Like this:
[code]
[code]

2. Document err, warn and related APIs
warn is currently unused and undocumented.
Document this along with getWarnings()

3. 1st use case for warn
I can think of a first u

[2017-12-24 16:28] jiggzson commented on #199
This would give the impression that i is a prime number.

[2017-12-24 17:59] jiggzson commented on #147
I think there's confusion due to the naming of the methods. I don't think you'd be asking about a getFunction if it was called declareFunction instead of setFunction. Same goes for register. I've added a getConstant method and a get method since that makes sense. I definitely wouldn't want to add a getFunction method since this would give the impression that the person is getting back a function a

[2017-12-24 20:58] jiggzson commented on #255
@Happypig375, this issue belongs under #322. Would you agree? Either that or we have to pick a better name since I keep overlooking this issue.

[2017-12-24 23:42] jiggzson commented on #353
I'd like to add to this issue and say that Errors need to be cleaned up in general. Generic errors need to be replaced with specific errors.

[2017-12-25 00:08] Happypig375 commented on #199
You missed the i. It is 2^3+2^3**i**, not 2^3+2^3.

[2017-12-25 00:11] Happypig375 commented on #147
Okay.
Probably need more documentation to specify this.

[2017-12-25 00:13] Happypig375 commented on #255
Hmm...
What about use cases for #350?

[2017-12-25 00:18] Happypig375 commented on #353
Ah, and also document the nerdamer-thrown errors (nersamer.getCore().exceptions.ParseError etc)

[2017-12-25 00:43] #199 closed

[2017-12-25 00:49] Happypig375 commented on #199
pfactor(1) and pfactor(0) do not give correct primes either.

[2017-12-25 00:51] jiggzson commented on #199
They give 1 and 0. What did you expect it to give?

[2017-12-25 00:53] Happypig375 commented on #199
If pfactor(1) => 1 and pfactor(0) => 0,
then pfactor(8+8i) might evaluate to 8+8i or something.
The obviously not-prime 8 can still be seen though.
So (2^3)+(2^3)i is suggested.

[2017-12-27 17:39] jiggzson commented on #348
@Happypig375, I addressed this issue but right now it requires yet another setting :disappointed:. It does add a bit of overhead but it's acceptable so I'm not opposed to making this the default behavior. I'd like to test it a bit more before I do so. If you have the time that would be awesome if not the way to achieve this for the time being is
[code]
I'd venture to say that this would be the pre

[2017-12-27 17:39] #346 closed

[2017-12-27 17:43] jiggzson commented on #211
@Happypig375. Fixed!

[2017-12-27 17:45] jiggzson commented on #147
@Happypig375 noted. I'll make a note under #141. This should also include me making a note of all options for nerdamer.set if I haven't already mentioned this in another issue. I'll start working on a list.

[2017-12-27 17:48] jiggzson commented on #134
@Happypig375. This should be done. Undefined throws and `UndefinedError` and the errors are stored in core.exceptions.

[2017-12-27 17:52] jiggzson commented on #330
@menzelths, There currently is no way to tell the library to return the result in scientific notation. I guess I can create a function called **scientific** and do something like:

[code]

[2017-12-27 20:13] Happypig375 commented on #211
Ok
Closing for now, test later.

[2017-12-27 20:13] #211 closed

[2017-12-28 03:11] Happypig375 opened #354 "Pending issues with divide"
1. Calling div with any parameters result in stack overflow
2. factor(sqrt(4\*x^2\*y+4\*x^2)) => 1
3. coeffs(a\*b*x^2+c\*x+d, x) => *(stack overflow)*
4. diff(sqrt(x)-1/sqrt(x),x) => *(Error: Polynomial Expected! Received sqrt(x))*
5. integrate(asin(a*x), x) => *(stack overflow)*
6. nerdamer("((3+y)*2-(cos(x)*4+z))", {x: 2.1, y: 3.3, z: 1}).evaluate().text() => *(stack overflow)*
7) Nerdamer core

[2017-12-28 16:40] #147 closed

[2017-12-28 16:40] #248 closed

[2017-12-29 13:52] Happypig375 commented on #90
The npm packages are in need of updating. The last npm version is 0.7.11

[2017-12-29 14:08] Happypig375 commented on #334
integrate(1/(sin(x)+cos(x))^2) => (cos(x)+sin(x))^(-1) should=> (cos(x)+sin(x))^(-1)*sin(x)

[2017-12-29 16:10] jiggzson commented on #334
My next major push will be for integrate, divide, and partial fractions. Divide and partial fractions because so much depends on them e.g. factor, inverse Laplace, integrate.

[2017-12-29 16:11] jiggzson commented on #90
Updated to 0.7.15

[2017-12-30 05:46] Happypig375 commented on #350
Another use case for this: Digit puzzles!

&nbsp;&nbsp;&nbsp;AAA
&nbsp;&nbsp;&nbsp;BBB
+CCC
\-------
BAAC

Input:
[code]
or
[code]
Output:
[code]
or if https://github.com/jiggzson/nerdamer/issues/322#issuecomment-348392647 is implemented
[code]
P.S. Should digit literals (so I could write AAA+BBB+CCC=BAAC) be added? (Syntax is a problem)

[2017-12-30 06:07] Happypig375 commented on #203
If this were to be implemented, the syntaxes should be modified to be unified.
One possible syntax is:
[code]
to match the new :<, :in etc.

Another possible syntax is the above but x:6, f(x):x^2 etc. are also permitted.

What do you think?

[2017-12-30 06:12] jiggzson commented on #203
Yes. I remember us discussing this before and I'm going to reopen this. The idea was to revisit this during the parser rewrite. I'm still debating the rewrite since I strongly feel that I can still use the current algorithm with a few tweaks.

[2017-12-30 13:11] Happypig375 opened #357 "Improve rounding and large numbers"
By rounding, I do not mean round(), but rather rounding errors.
Rounding errors hurt numeric accuracy and especially become obvious when the input numbers are large.

For example:

In/Out:  from Demo, all three options checked, version 0.7.15
Expected: from Wolfram Alpha

In|Out|Expected
-|-|-
sinc(π)|3.898171832519376e−17|0
sin((20!-1)pi)|−0.9986151560496079|0
sin(20!-1)|0.4012031156704558|-0.554

[2017-12-30 17:39] jiggzson commented on #357
Rounding errors and large numbers present a special challenge. The first is, as I may have mentioned before, that nerdamer stores numbers as a fraction of integers which can cause both the numerator and denominator to get ridiculously large. There are ways to mitigate this but all have a price. One way will be #221.

Issues like #269 are unacceptable and need to be fixed but 700! doesn't really bo

[2017-12-31 02:28] Happypig375 commented on #357
So I guess the picked option is 3. Ok.

[2017-12-31 02:43] jiggzson commented on #357
Yes. Three is the leading candidate since so far it's shown the be the most efficient but the others might still come in handy. Yes sinc(π)<>0 is very much still and issue and I'd like to just detect and return 0 based on the input being π. Having looked at other math packages and read several math algorithms, this approach is not uncommon at all. Why calculate something if you already know the an

[2017-12-31 02:44] jiggzson commented on #357
As addendum to above: This is what I meant by compiling a list of known values.

[2017-12-31 03:15] jiggzson commented on #209
The helper functions for this have been created. I created new names since I found the negative indexing a bit confusing. Below are the examples
[code]
The above outputs

[code]

[2017-12-31 03:17] jiggzson commented on #352
@peey This has been updated on the dev branch and coeffs always returns a vector. I've also updated the documentation on the gh-pages_dev branch. Thanks for reporting.

[2017-12-31 03:19] jiggzson commented on #304
@jonathanmarvens, were any of the solutions provided above helpful?

[2017-12-31 03:21] jiggzson commented on #213
@Happypig375, this issue should be fixed.

[2017-12-31 03:23] #134 closed

[2017-12-31 03:24] jiggzson commented on #212
@Happypig375, have you had a change to think this one over?

[2017-12-31 03:30] Happypig375 commented on #357
A list of known values...
I am thinking of adding the rest of the values of trigonometric constants [in here](https://en.wikipedia.org/wiki/Trigonometric_constants_expressed_in_real_radicals?wprov=sfla1).

[2017-12-31 05:53] jiggzson commented on #357
@Happypig375, agreed. That perfect actually.

[2017-12-31 06:47] Happypig375 commented on #247
"Try it out" button is not present on home page when viewed on mobile
![Screenshot](https://i.imgur.com/jFD9Vbw.png)

Expand button not aligned with other buttons when screen width is too small
![Screenshot](https://i.imgur.com/sUEXuf8.png)

[2017-12-31 12:31] Happypig375 commented on #219
6. Extra hard factorization

In|Current Behaviour|Expected
-|-|-
factor(3x^3 - x^2y +6x^2y - 2x y^2 + 3x y^2 - y^3)|*Unfactored*|(3x-y)(x+y)^2
factor((x + 4)^3 - 9x - 36)|*Unfactored*|(x + 4)(x + 1)(x + 7)
factor(x^2+2x+1-y^2)|**Outputs 1**|(x + 1 - y)(x + 1 + y)
factor(x^2 - 6x + 9 - 4y^2)|**Outputs 1**|(x - 3 - 2y)(x - 3 + 2y)
factor(a^2 - b^2 - 10b - 25)|**Outputs 1**|(a - b - 5)(a + b + 5)
fac

[2017-12-31 13:18] Happypig375 commented on #212
Something like this:
Don't substitute variables immediately when setVar is called

When an expression is parsed:
Copy all substitutions into temporary variable
For each substitution in that variable:
Substitute inside each substitution and the expression
Then read the substituted expression

E.g (using #203 syntax)
a^2+b, a:=4c, b:=2a+6c+d, c:=d/2, d:=44
(4c)^2+b, b:=2(4c)+6c+d, c:=d/2, d:=44
16c^

[2017-12-31 14:30] Happypig375 commented on #236
While #134 and #148 are closed, this is still not implemented.
sum(1/(2^x),x,1,Infinity) won't evaluate.

[2017-12-31 15:38] Happypig375 opened #358 "Pending LaTeX issues"
Here are some new LaTeX for the new year.
Infinity LaTeX=> \\infty
sum(a,b,c,d) LaTeX=> \\sum_{b=c}^{d} a
product(a,b,c,d) LaTeX=> \\prod_{b=c}^{d} a
nthroot(a,b) LaTeX=> \\sqrt[b]{a}
mod(a,b) LaTeX=> a \\bmod b
realpart(a) LaTeX=> \\operatorname{Re}(a)
imagpart(a) LaTeX=> \\operatorname{Im}(a)

Written 2017-12-31 23:38 UTC+8
Happy new year!
:2nd_place_medal: :zero: :1st_place_medal: :8ball: :tada

[2017-12-31 22:21] #352 closed

[2018-01-01 09:38] Happypig375 commented on #322
solve(x^x^x^2018=2018,x) => [] should=> 2018^(1/2018)

See https://youtu.be/UNwhaN2s2ww

[2018-01-01 11:24] Happypig375 commented on #210
((-1/3)\*cos(x)\*sin(x)^2+(-2/3)\*cos(x))-(-cos(x)+(1/3)cos(x)^3) => (-1/3)\*cos(x)\*sin(x)^2+(-1/3)\*cos(x)^3+(1/3)\*cos(x) should=> 0

[2018-01-01 11:49] Happypig375 commented on #322
solve(sqrt(10x+186)=x+9,x) => [7.000000000000002,7,6.999999999999999] should=> [7]

[2018-01-01 13:05] Happypig375 commented on #322
solve(x^3+8=x^2+6,x) eval=> [−0.9999999999999996,0.9999999999999999⋅i+1,−0.9999999999999999⋅i+1] should=> [-1,1+i,1-i]

[2018-01-01 13:09] Happypig375 commented on #322
Also, the solve function itself looks like the variable x is assumed when the 2nd argument is not provided.

1. The minimum number of arguments needed to pass to solve should be 1 instead of 2.
2. If the equation given is in one unknown, then that unknoen should be assumed the variable to solve, and return to using x if there are multiple variables

[2018-01-02 13:55] Happypig375 commented on #210
log(1+x)-log(1-x)-log((1+x)/(1-x)) should=> 0

Thought:
Maybe defining rules (e.g. replace("log(x)-log(y)", "log(x/y)")) for the simplifier in the parser would help organise and be easier to add new rules.

[2018-01-02 17:43] jiggzson commented on #210
Nerdamer does not use a rule based parser. Remember? Are you talking about when we switch to version 8? Are you familiar when any of the existing JavaScript rule based parsers out there?

[2018-01-02 18:05] Happypig375 commented on #210
0.8, actually. ( ͡° ͜ʖ ͡°)

Nope, the only JavaScript library that I am familiar with is literally nerdamer. My natural programming language is C#.

[2018-01-03 20:48] jiggzson commented on #351
@peey, a fix for this was added in v0.7.15. Did that solve your issue?

[2018-01-03 20:49] jiggzson commented on #358
Fixed on dev branch. Happy new year to you too!

[2018-01-03 22:12] jiggzson commented on #342
@Happypig375, Seeing as @brosnanyuen is not responsive do you want to just take down or replace the image?

[2018-01-04 03:10] jiggzson commented on #239
Correction: **(sqrt(7)+3sqrt(2))(sqrt(7)-3sqrt(2))** gives **(-3*sqrt(2)+sqrt(7))*(3*sqrt(2)+sqrt(7))** not 0.

I guess some of these can be simplified a bit more but it's going to break quite a few tests. Out of curiosity, why do you keep mentioning _Algebrite_ in your issues?

[2018-01-04 09:14] Happypig375 commented on #322
Missing active label here 😃

[2018-01-04 09:38] Happypig375 commented on #358
Hmmm....
nerdamer outputs inline math mode latex, so things like the summation operator do not look too good.

Try these:
sum(a,b,c,d) LaTeX=> \\sum\\limits_{b=c}^{d} a
product(a,b,c,d) LaTeX=> \prod\\limits_{b=c}^{d} a

[2018-01-04 10:29] Happypig375 commented on #342
Take a look at the new home page 😄

[2018-01-04 10:32] Happypig375 commented on #342
I think that https://github.com/jiggzson/nerdamer/wiki/nerdamer.core.js should be moved to the nerdamer website. It will be totally forgotten if it is left in the wiki.

[2018-01-04 10:51] Happypig375 commented on #209
Good. Looks amazing. :+1:

Neat detail about immutability about these functions to not set traps for people 😆

[2018-01-04 10:51] #209 closed

[2018-01-04 10:58] Happypig375 commented on #239
Might be a change after I have posted this. I don't know.

Tests prevent bugs, not block enhancements 😅

I didn't keep mentioning it, just here and there. (See https://github.com/jiggzson/nerdamer/issues?q=Algebrite+author%3AHappypig375, just 14 compared to like what, 100s of issues?)

Ok, I will still talk about this.

I first saw Algebrite on the Nerdamer website.
Since these two basically do th

[2018-01-04 13:41] jiggzson commented on #239
Agreed but who's going to do the updating and verification of accuracy? If this breaks enough tests I can live with the current results.

As I mentioned I was just curious what the motivation was behind creating those. Now I know. :smile:

[2018-01-04 13:43] jiggzson commented on #209
Thanks. I added the fact that it returns a new matrix to gh-pages_dev branch.

[2018-01-04 14:12] jiggzson commented on #342
Nice. Probably a little easier to maintain.

[2018-01-04 15:19] Happypig375 commented on #239
Maybe I will do this myself when 0.8 is here then.

The more you know... ( ͡° ͜ʖ ͡°)

[2018-01-04 15:23] Happypig375 commented on #342
And https://github.com/jiggzson/nerdamer/wiki/Versions...
That is very outdated.
Should it be updated or something?

[2018-01-04 15:23] Happypig375 commented on #342
Oops

[2018-01-05 17:32] Happypig375 commented on #334
integrate(cos(log(x))) => (unevaluated) should=> x/2\*(cos(log(x))+sin(log(x)))
integrate(sin(log(x))) => (unevaluated) should=> x/2\*(sin(log(x))-cos(log(x)))

See https://youtu.be/WgOzdcvPb-k

[2018-01-06 03:07] Happypig375 commented on #358
https://github.com/jiggzson/nerdamer/blob/58a09f61486e9441c90ed56d1ca8a5e052ff0434/nerdamer.core.js#L6656

Escape the backslashes.

[2018-01-06 04:01] peey commented on #351
Yes, v0.7.15 solves my original issue - `.eq` works. And I also tested that `.lt` and `.gt` work too.

However, I tested `.gte` and `.lte` and they still give errors, namely that `this.greaterThan` and `this.lessThan` are not defined:

[code]

In addition to this, I ran some tests to verify if `.lt` and `.gt` are working correctly. You may use them to add to the unit testing spec if needed:

[code

[2018-01-06 04:16] peey commented on #239
I was about to open a separate issue for this but I found this thread. I have observed some problems with sqrt too.

Basically the issue is that if I have an expression which looks like `sqrt(2*sqrt(5))` then it's being wrongly simplified to `sqrt(sqrt(5))`. Same for `sqrt(2*sqrt(5))` which is being simplified to `sqrt(sqrt(5))`.

[code]

Current workaround I'm using until this is fixed is to use

[2018-01-06 04:19] peey commented on #239
Some more neurotic results. I think the issue is in the code which simplifies nested powers, it's working incorrectly.

[code]

[2018-01-06 04:26] peey opened #360 "Issue with multiplication in nested square roots"
Basically the issue is that if I have an expression which looks like `sqrt(2*sqrt(5))` then it's being wrongly simplified to `sqrt(sqrt(5))`. Same for `sqrt(2*sqrt(5))` which is being simplified to `sqrt(sqrt(5))`.

[code]

Current workaround I'm using until this is fixed is to use `b = nerdamer("sqrt(k*sqrt(5))")` and then use `.sub` to substitute my value of `k`. Or simply avoid writing nested `

[2018-01-06 04:27] peey commented on #360
I first posted this as a comment to https://github.com/jiggzson/nerdamer/issues/239, but I decided to make a separate issue since nerdamer is actually giving correct results in that issue, albeit not simplifying it as much as it could.

In this issue the computation by nerdamer is incorrect

[2018-01-06 06:29] jiggzson commented on #360
Fixed! Thanks. It's crazy how long this one has been in there.

[2018-01-06 06:30] jiggzson commented on #351
I'll fix gte and lte. Thanks for the tests.

[2018-01-06 06:31] jiggzson commented on #358
I'll take care of this with the next commit.

[2018-01-06 12:43] peey commented on #360
Awesome!

[2018-01-06 12:43] #360 closed

[2018-01-09 15:04] Happypig375 commented on #358
Proposal hijacked :smiling_imp:

diff(nthroot(x,3),x,3) LaTeX=> \\frac{d^3}{dx^3}(\\sqrt[3]{x})

[2018-01-10 02:07] jiggzson commented on #336
I found [this (https://github.com/scijs/integrate-adaptive-simpson)](https://github.com/scijs/integrate-adaptive-simpson) hidden beauty that seems to solve our problems. It replaces the existing defint function.

[2018-01-10 08:45] Happypig375 opened #362 "nthroot becomes nthpower"
nthroot(2,2) => 4
nthroot(3,3) => 27

¯\\\_(ツ)\_/¯

[2018-01-10 09:07] jiggzson commented on #362
Fixed.

On Wed, Jan 10, 2018 at 2:45 AM, Happypig375 <notifications@github.com>
wrote:

[2018-01-10 11:17] Happypig375 opened #364 "nerdamer.com is down?"

[2018-01-10 11:19] Happypig375 commented on #362
Wow didn't expect you at this time :smiley:
Anyways nerdamer.com is down so maybe later I will verify this.

[2018-01-10 13:57] Happypig375 commented on #364
After 3 hours, it is back up. Yay!

[2018-01-10 13:57] #364 closed

[2018-01-11 12:54] jiggzson commented on #322
I'll fix this. Additionally I've extended the symbolic range of Solve but solve is in dire need of unit tests.

[2018-01-11 13:46] Happypig375 commented on #362
Yup, fixed.
But, can nthroot only evaluate when numer option or evaluate method is used?
This makes nthroot in line with sqrt.

[2018-01-11 13:51] Happypig375 commented on #236
sum(1/(2^x),x,1,Infinity) should=> 1

[2018-01-11 14:03] jiggzson commented on #362
No problem.

[2018-01-12 15:38] Happypig375 commented on #236
Request reopen

[2018-01-12 17:18] #362 closed

[2018-01-12 22:43] jiggzson commented on #336
Fixed on dev branch.

[2018-01-12 22:43] #336 closed

[2018-01-12 22:43] jiggzson commented on #331
Fixed on dev branch.

[2018-01-12 22:43] #331 closed

[2018-01-13 04:59] jiggzson commented on #322
@Happypig375, automatically assuming the variable won't work at the moment since solve is used for various cases including systems of equations. I'm planning to refactor Solve in the near future so I'll go ahead and take care of it then.

[2018-01-13 09:46] Happypig375 commented on #285
sum(e^(-x^2*π/9),x,1,100) => Error: Invalid integer: Infinity

[2018-01-13 09:46] Happypig375 commented on #285
sum(e^(-x^2*π/9),x,1,100) => Error: Invalid integer: Infinity

[2018-01-13 09:46] Happypig375 commented on #285
sum(e^(-x^2*π/9),x,1,100) => Error: Invalid integer: Infinity

[2018-01-13 10:00] Happypig375 opened #366 "pfactoring a product of factorials"
pfactor(product(n!,n,1,10)) => (2^12)\*(5^12)\*(733)\*(9084047181589) should=> (2^38)\*(3^17)\*(5^7)\*(7^4)

[2018-01-13 15:04] jiggzson commented on #366
Both this one and #285 are more than likely related. Both functions fall back to JavaScript when the expression contains 1 variable. I'll just stick to using the symbolic layer of nerdamer.

[2018-01-13 16:01] Happypig375 commented on #334
Putting here before I forget:
A new test case for defint:
defint(x(x+1)/2,-1,0) => -1/12

[2018-01-13 19:39] jiggzson commented on #236
Aren't we getting a bit into limits here?

[2018-01-13 19:55] jiggzson commented on #285
@Happypig375, this one is another one of those issues that arises because it's out of JavaScript's numeric "comfort zone". I've started the move away from JavaScript decimals but I've set quite a few traps for myself. Because JavaScript's decimal places is somewhere around 20, I have to return a string for increased precision. Because of this, code like,
[code]
now returns **11** if _a_ equals **1

[2018-01-14 02:20] Happypig375 commented on #285
I think toDecimal should always return a number despite precision loss. There is already two functions for converting an expression to a string, namely text (as decimals) and toString (as fractions). Why should toDecimal duplicate their functionality?

What I am trying to achieve have all been implemented, now the only thing left is satisfying the tests.

You mean to actively seek functions that a

[2018-01-14 02:41] Happypig375 commented on #236
True, but when we talk about infinite series/products/integrals, we do not write things like limit(sum(1/(2^n),n,1,x),x,Infinity), but we instead write sum(1/(2^n),n,1,Infinity).
The implementation could use some limits though.

[2018-01-14 03:30] jiggzson commented on #285
@Happypig375, toDecimal does not duplicate their functionality. Multipliers/coefficients are stored in an object of the `Frac` class which carries as it's denominator and numerator a BigInteger. The **toDecimal** method converts it back to a decimal but previously did it by just dividing the numerator by the denominator. This caused severe precision loss. I've replaced it with a function which cal

[2018-01-14 05:20] Happypig375 commented on #336
@jiggzson
defint(sqrt(1+x^2),-1,1) eval=> 1.762747174039085896900904314654630624291 should=> 2.295587149392638074034298
GG.

[2018-01-14 05:29] jiggzson commented on #334
integrate(sqrt(1+x^2),x) [invalid]

[2018-01-14 09:30] Happypig375 commented on #322
Absolutely wrong answer by solve:
solve(x^3-10x^2+31x-30,x)
should return [2,3,5]

[2018-01-14 11:17] Happypig375 opened #367 "Partial fraction not evaluated"
partfrac((4k-1)/(k(k+2))) should=> -1/k+9/(k+2)

[2018-01-14 17:52] jiggzson commented on #322
Have you verified the answer? The result you get is:
A. Ugly
B. Needlessly complex
C. 100% correct
The problem is that nerdamer does not  simplify complex numbers efficiently and that is something I'm currently working on. If I solve it numerically I get the right answer right away. Would defaulting to that solve your problem? The downside is that you don't get nice algebraic answers anymore whene

[2018-01-14 17:54] jiggzson commented on #367
This was specified in c25cad9f280b29647c73945b89a163d799d1a702 but I specified the wrong issue number in the commit message.

[2018-01-14 17:54] jiggzson commented on #366
Fixed on dev branch.

[2018-01-15 03:40] Happypig375 commented on #367
c25cad9: Rolling back solve
I think you referenced the wrong commit.

[2018-01-15 03:53] Happypig375 commented on #322
A. Ugly
B. Needlessly complex
C. 100% correct

A. Evaluate can't simplify it
B. The length exceeds Wolfram Alpha's input limit

How can I verify the answer when I don't even know what to do with it?

Ok

Just fix it.

[2018-01-15 03:57] Happypig375 commented on #285
So it is for internal use for passing numbers between the symbolic layer and numeric layer. Ok.

[2018-01-15 03:59] Happypig375 commented on #366
pfactor(product(n!,n,1,30)) => Error: 79959631528770670600322037454897824976792430707106611658531105568420623057823058204406300276129173697769238298117257446827525920399207590372612824866949329475045338094293229818656245740234951168513312204538663055609170465072773314478245835098717506292940800000000000000000000000000000000000000000000000000000000000000000000 is not a valid variable name

[2018-01-15 04:01] Happypig375 commented on #367
It is still fixed though. Closing.

[2018-01-15 04:01] #367 closed

[2018-01-15 10:48] Happypig375 opened #368 "A gcd bug that I found during #337"
gcd(a^2\*b\*c,a\*b^2\*c) => a\*b^3\*c

Also,
nerdamer("a^2\*b").symbol.isPoly() returns false.
It seems like that isPoly() only checks for univariate polynomials, but not multivariate ones. Is this intended?

[2018-01-15 10:53] Happypig375 commented on #368
nerdamer("a^2*b").symbol.isPoly() returns false.
It seems like that isPoly() only checks for univariate polynomials, but not multivariate ones. Is this intended?

Maybe only the PL group counts as polynomials.

[2018-01-15 10:57] Happypig375 commented on #368
Nvm, it is just missing an invert() for q.getDenom() at
https://github.com/jiggzson/nerdamer/blob/8f8172f95bb3f9ef448962c6efbbbf21ecabf59d/Algebra.js#L2581
Fixing myself in #337. Closing!

[2018-01-15 10:57] #368 closed

[2018-01-15 19:16] jiggzson commented on #322
@Happypig375, fixing this is a little more involved than it might appear. One might be tempted to solve this numerically but then you end up with a tiny imaginary part for all the answers which is not ideal. Not to mention that the real part will now have rounding errors. Until I can successfully simplify `[(-1/3)*(-20+18*i*sqrt(3))^(1/3)*2^(-1/3)+(-7/3)*(-20+18*i*sqrt(3))^(-1/3)*2^(1/3)+10/3,(1/6

[2018-01-16 00:11] jiggzson commented on #216
@Happypig375, these issues are fixed. Let's place any remaining issues with solve under #322

[2018-01-16 09:40] Happypig375 commented on #322
I think that this can easily solved by implementing cube root for complex numbers. Ideas?

[2018-01-16 09:40] Happypig375 commented on #216
Ok

[2018-01-16 09:40] #216 closed

[2018-01-16 13:02] Happypig375 opened #369 "Symbolic factorials"
https://youtu.be/dBmApl6gkII
(1/2)! can=> sqrt(pi)/2

Two possible implementations:
A. Detect special values in factorial function
Pro: Simple to implement
Con: Need to add new value in code every time a new symbolic answer is found

B. Override factorial function in Calculus.js to use integration
Pro: Answer will be as symbolic as possible
Con: Implementation will be complex, need to wait until d

[2018-01-16 13:46] jiggzson commented on #369
I don't mind detecting special values. If integrate was complete I wouldn't mind relying on it but there's still plenty of work to be done on it. A list of those special values would be very helpful.

[2018-01-16 13:53] jiggzson commented on #322
That's what I initially thought myself. I implemented nth root for complex numbers which might still need some final touch-ups but when doing this one of the roots becomes
`0.000000000000000221377340243793938154443⋅i+1.999999999999999555910790149937482438160`. This has rounding errors in both the real and imaginary part. I can solve this algebraically at which point this error goes away but that r

[2018-01-16 14:24] Happypig375 commented on #322
I think I saw where the rounding error comes from - using Math.sin and Math.cos inside Parser.pow. The conversion between Frac and Javascript Number is what causes the error.

[2018-01-16 14:47] jiggzson commented on #322
I think that exacerbates the problem but doesn't eliminate it from what I remember. I'll give it a go later so let's see. Additionally, I still need to work on eliminating rounding errors in pow.

[2018-01-16 14:53] Happypig375 commented on #369
So far I have only found a formula for half factorials on Wikipedia... Might still worth implementing.

[2018-01-16 15:56] jiggzson commented on #342
Do we still need this one?

[2018-01-17 09:25] Happypig375 commented on #342
https://github.com/jiggzson/nerdamer/issues/342#issuecomment-355249452:

This one is still not yet done.

[2018-01-17 10:46] Happypig375 commented on #369
I see that only the (1/2)! is implemented. By the formula for half factorial*s*, I refer to this formula:
![Wiki image](https://wikimedia.org/api/rest_v1/media/math/render/svg/b0bfcd4677abc8eb0581785f2241f8cb1643573a)

[2018-01-17 13:53] jiggzson commented on #342
@Happypig375, It was Brosnan's intent to document the internal's of nerdamer hence the reason for that wiki page. However I already provide the user a list of reserved names with nerdamer.reserved() and err is already covered under #353 so there's no reason to keep this issue open.

[2018-01-17 14:27] jiggzson commented on #369
I see. I'll dig into this a little deeper at a later date. Thanks.

[2018-01-17 15:09] Happypig375 opened #372 "gcd: The TODOs"
A couple of leftovers from #337.
gcd(a^a,a^(a-1)) => a should=> a^(a-1)

My implementation for gcd of EX is mainly targetted for gcd(2^a,6^a) => 2^a

And Wolfram Alpha gives gcd(2^a,6^(a-2)) => 2^(a-2)/9

What!?

[2018-01-17 21:03] jiggzson commented on #358
[code]
The text is correct but he LaTeX is not. However
[code]
The LaTeX is correct.

[2018-01-18 11:14] Happypig375 commented on #358
2_*a
2 \cdot _ \cdot a
(See it in the demo, it is weird)

[2018-01-18 14:17] Happypig375 commented on #334
defint(log(x),0,1) [throws]
should=> -1
More info: https://youtu.be/5RhbrPAlx2E

integrate((sin(x)+2cos(x))/(3sin(x)+4cos(x))) [explosion]
More info: https://youtu.be/H2PtO5ayHl8

[2018-01-18 14:25] jiggzson commented on #334
These explosions happen because the library applies integration by parts and encounters integrals it doesn't know how to solve yet. In this case it's `integrate((3*sin(x)+4*cos(x))^(-1),x),x)`

[2018-01-19 07:51] Happypig375 opened #375 "Can't parse big integers"
nerdamer("10^400") => Infinity
nerdamer("1e400") => Uncaught Error: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

[2018-01-19 08:25] Happypig375 opened #377 "(-5(x/2-5)/4)^0 => ((1/2)*x-5)^0"
But ((1/2)*x-5)^0 => 1

[2018-01-19 08:39] Happypig375 opened #378 "-(a+1)=(a+3)^2 throws"
-(a+1)=(a+3)^2 => TypeError: e.negate is not a function

[2018-01-19 08:39] Happypig375 commented on #378
(-a-1)=(a+3)^2 works.

[2018-01-19 14:51] jiggzson commented on #375
This is already on the roadmap. This and several of the other issues previously discussed are part of the movement to incorporate big numbers.

[2018-01-19 14:51] #375 closed

[2018-01-19 15:11] jiggzson commented on #377
This was one of the cases in 0.5.7 but I never added a unit test I guess. Good catch. Fixed.

[2018-01-19 15:11] #377 closed

[2018-01-19 15:37] jiggzson commented on #378
Fixed on dev.

[2018-01-19 15:37] #378 closed

[2018-01-19 15:44] jiggzson commented on #366
Partially fixed. I need a better algorithm for factoring numbers this big. This would also fall under big numbers.

[2018-01-19 15:46] jiggzson commented on #221
@Happypig375, Let's discuss big numbers here.

[2018-01-19 15:47] jiggzson commented on #366
moving to #221

[2018-01-19 15:47] #366 closed

[2018-01-19 15:48] #342 closed

[2018-01-20 04:12] Happypig375 commented on #358
nerdamer.convertToLaTeX("1e400") => "Infinity"

Cross-link: #221

[2018-01-20 04:13] Happypig375 commented on #221
Cross-link: https://github.com/jiggzson/nerdamer/issues/358#issuecomment-359143708

[2018-01-20 09:03] Happypig375 commented on #358
sin, cos, tan, cot, sec, csc, sinh, cosh, tanh and coth all have their respective latex command.
They can be used instead of mathrm.

Also, maybe asin, acos etc should be displayed as arcsin, arcos, arctan etc. or sin^{-1}, cos^{-1} etc.

[2018-01-20 10:55] Happypig375 commented on #358
nerdamer.convertToLaTeX("matrix(1,2,3)") => "\mathrm{matrix}\left(1,,,2,,,3\right)"

render=> ![Rendered image](https://user-images.githubusercontent.com/19922066/35182614-669d1dc0-fe13-11e7-9508-67857065a4dd.png)

This is different from demo. Can the changes in demo be ported over?

[2018-01-20 15:01] Happypig375 opened #379 "Sort returns same value for multiplication and addition"
sort(a+b) => [a,b]
sort(a*b) => [a,b]
Maybe unintended?

P.S. What was the use case for sort again?

[2018-01-20 15:06] Happypig375 commented on #244
I just recalled this issue today.
I think PI and E duplicate the purpose of pi and e.
The whole point of symbolic math is calculating exact values.
If a numeric approximation is needed, call evaluate().
Why use PI and E then?

[2018-01-20 18:57] jiggzson commented on #379
Yes that is intentional. It was supposed to give the ability to sort factors, coeffs, and vectors but it's not very well thought out. I'm going to disable it in the demo for now until I can give it a bit more thought.

[2018-01-20 19:15] jiggzson commented on #244
You're right. This just shows the evolution of the library. It's slowly getting less dependent on JavaScript. I'll think about how to cleanly remove this.

[2018-01-20 19:29] jiggzson opened #380 "mode function give incorrect results for symbolics"
`mode(x, r+1, 21, tan(x), r+1)` incorrectly gives `mode(1+r,x)`

[2018-01-21 03:12] Happypig375 opened #382 "Misleading error message when division by Infinity"
1/Infinity => Error: Infinity/Infinity is not defined!

Also it should throw UndefinedError instead of general Error, but this should not be an error anyways.

[2018-01-21 03:14] Happypig375 commented on #382
Infinity^(-1) works though.

[2018-01-21 14:31] Happypig375 commented on #334
defint((x^4)(1-x)^4/(1+x^4),0,1) can=> 22/7-pi
Also it shouldn't give numeric approximation too quickly, should wait for evaluate()

[2018-01-22 11:28] Happypig375 opened #383 "sqcomp(x^2+4x) => 4*x+x^2"
Reason:
https://github.com/jiggzson/nerdamer/blob/a4c9209e883753fcad476ac022d98a41cf969e6d/Algebra.js#L3306-L3308

4*x+x^2 is group PL thus gets rejected.
I don't know if accepting PL is also ok since cos(x)+cos(x)^y is also in group PL.

[2018-01-23 11:20] Happypig375 commented on #358
diff(sinc(x),x,2)
Can generate LaTeX
\frac{d^2}{dx^2}(\mathrm{sinc(x)})

Also diff(sinc(x),x,2) should not expand. It should stay like this if can't be evaluated.

[2018-01-23 11:29] Happypig375 commented on #334
integrate(2^(log(x))) should=> (x*2^log(x))/(log(2)+1)

Refer to https://youtu.be/7uq6DQsG8KQ

[2018-01-24 10:44] Happypig375 commented on #219
#261: factor(6(2a+2)) => (1+a)*(2)
Still NOT fixed!

[2018-01-24 10:57] Happypig375 commented on #219
https://github.com/jiggzson/nerdamer/issues/219#issue-255288788: factor(3(x^2+y^2)+6a(x^2+y^2))
It factors into 3(2a+1)(x+y)(x-y). Strange...

[2018-01-24 11:00] Happypig375 commented on #219
Please do check if all the above are all fixed. These needs to be cleaned up.

[2018-01-24 11:14] Happypig375 commented on #322
The workaround earlier is not useful when fractional answers are there...
solve(8x^3-26x^2+3x+9,x) should=> [3,3/4,-1/2]
It currently produces `[(-1/24)*(-13984+15120*i*sqrt(3))^(1/3)*2^(-1/3)+(-151/6)*(-13984+15120*i*sqrt(3))^(-1/3)*2^(1/3)+13/12,(1/48)*(-13984+15120*i*sqrt(3))^(1/3)*(1+i*sqrt(3))*2^(-1/3)+(151/12)*((-13984+15120*i*sqrt(3))^(1/3)*2^(-1/3))^(-1)*(-i*sqrt(3)+1)+13/12,(1/48)*(-13984

[2018-01-24 11:18] Happypig375 opened #386 "Coeffs ignores constant symbols that are not the target"
coeffs(x+A+1,x) => [1,1] should=> [A+1,1]

[2018-01-24 11:22] Happypig375 commented on #322
Also this.
solve(x^3-1/2x^2-13/2x-3,x) => `[(-1/3)*((315/4)*i*sqrt(3)-221/2)^(1/3)*2^(-1/3)+(-79/12)*((315/4)*i*sqrt(3)-221/2)^(-1/3)*2^(1/3)+1/6,(1/6)*((315/4)*i*sqrt(3)-221/2)^(1/3)*(1+i*sqrt(3))*2^(-1/3)+(79/24)*(((315/4)*i*sqrt(3)-221/2)^(1/3)*2^(-1/3))^(-1)*(-i*sqrt(3)+1)+1/6,(1/6)*((315/4)*i*sqrt(3)-221/2)^(1/3)*(-i*sqrt(3)+1)*2^(-1/3)+(79/24)*(((315/4)*i*sqrt(3)-221/2)^(1/3)*2^(-1/3))^(-1)*

[2018-01-24 11:25] Happypig375 commented on #322
And the quartic equations
solve(sqrt(sqrt(x))+sqrt(sqrt(881))=9,x) => [159.165753255588098206102369881636862489634] can=>[7442 - 2916 881^(1/4) + 486 sqrt(881) - 36 881^(3/4)]

[2018-01-24 11:27] Happypig375 commented on #322
Where did solving in terms of other variables go?
solve(sqrt(x^2-p)+2sqrt(x^2-1),x) => [] should=> [sqrt(4 - p)/sqrt(3),-sqrt(4 - p)/sqrt(3)]

[2018-01-24 20:57] menzelths commented on #330
Finally being back on github :-)

I think implementing something like "scientific(1.3234,4)" would perfectly fit the needs of physicians with the second argument being the number of valid figures.

Examples would be:

scientific(12342152351,3) gets 1.23e10
scientific(0.1231231313,4) gets 1.231e-1

The results should translate to the following tex representations: 1.23 \cdot 10^10 and 1.231 \cdot 1

[2018-01-25 23:16] jiggzson commented on #322
Hmmm.... I'll take a look it.

[2018-01-25 23:18] jiggzson commented on #383
You're right but I can do a check  for it. I overlooked this one. Thanks.

[2018-01-25 23:19] jiggzson commented on #358
Also `sinc` has a derivative so that should be added. In fact the derivative for all supported functions should be added if they have a derivative.

[2018-01-25 23:20] jiggzson commented on #334
@Happypig375. Good one. Thanks.

[2018-01-26 04:11] Happypig375 commented on #383
I think that cos(x)+sin(y) is also in group CP? So the some checking may need to be done.

[2018-01-26 15:45] Happypig375 commented on #334
defint(sinc(x),-1,1) => TypeError: x.equals is not a function

[2018-01-28 11:58] Happypig375 opened #388 "Spaces before/after variables"
nerdamer(" x").toString() throws
nerdamer("x ").toString() throws

I think back in 0.7.13 this was allowed and returns "x".

[2018-01-28 12:05] Happypig375 opened #389 "Sum throws after hanging for a while (3 minutes on my phone)"
sum(floor(4x/2013),x,1,8048/4) throws=> RangeError: Invalid string length should=> 3018

[2018-01-28 14:38] Happypig375 opened #390 "Question on order of parameters of logarithm"
Currently nerdamer uses log(number, base).
However, both my calculator and Wolfram Alpha use log(base, number).

Should we switch?

[2018-01-29 10:29] Happypig375 commented on #322
solve(x^(2i)=-x,x) => []
It should have two numerical solutions according to Wolfram Alpha.

[2018-01-29 16:05] Happypig375 commented on #334
Watch how nerdamer renders this integral in demo lol, it doubles the top term's power

integrate((x^4/(1+x^6))^2)

It should be -x^3/(6(1+x^6))+1/6atan(x^3)
Refer to https://youtu.be/XhJqhE9Fyy8

[2018-01-29 16:15] Happypig375 commented on #334
A really tricky integral:
integrate(sqrt(tan(x))/sin(2x)) should=> sqrt(tan(x))

Refer to https://youtu.be/Xeg5mzydmaM

[2018-01-30 15:14] Happypig375 commented on #334
New test case:
defint(cos(π*x)^2+cos(π*x)/2,5,21) => 8

I hate when GitHub decided to deprecate the Android browser and telling me to use Chrome. Chrome hangs even when it loads a file as small as calculus.spec.js! Now I cannot submit PRS on mobile anymore :cry:

[2018-01-30 18:34] jiggzson commented on #334
I know. I think it's related to partial fractions. I already have it on the TODO list.

This one has me scratching my head since it seems that the integral gets pulled correctly.

[2018-01-31 08:36] Happypig375 commented on #334
I suspect that nerdamer doesn't recognize π as a constant and treats it as a variable. What's even worse is that specifying the variable results in ((1/2)*cos(21)+cos(21)^2)*x-((1/2)*cos(5)+cos(5)^2)*x

??? It works in the demo though.

[2018-01-31 10:18] Happypig375 commented on #322
solve(x\*log(x),x) => [1,0]
0 is not valid since 0\*log(0) is 0\*-Infinity which is undefined.

[2018-01-31 10:20] Happypig375 commented on #322
solve(x^2=x^-2,x) => [1,e^((1/2)*i*pi),e^(i*pi),e^((3/2)*i*pi)] => [1,i,-1,i]

I have to re-enter the first output to simplify the answer. It can be simplified in one go.

[2018-02-04 10:45] menzelths opened #392 "Problem with demo"
B2(a,b,c):=(factorial(a)/factorial(c)/factorial(a-c))*b^c *(1-b)^(a-c)
sum(B2(20,0.1,k),k,0,10)

does not work properly and results to 0. Choosing another value for the probability than 0.1 doesn't make any problems.

?

[2018-02-04 11:53] Happypig375 commented on #392
For me, demo gives 0.999999291139366127200939483377813072286. So I cannot verify this.

However, I also encountered a bug:
sum(B2(20,0.01,k),k,0,10) => 1.000000000000000888178419700125232338905

I suspect that this should not exceed 1.

[2018-02-04 11:59] Happypig375 commented on #392
Also, a Combination function would be useful here.

Maybe I will write an issue about implementing combinatorics later.

[2018-02-06 14:13] Happypig375 commented on #334
integrate(sin(101x)sin(x)^99) => (-1/200)\*sin(100\*x)+(1/204)\*sin(102\*x) should=> 1/100 sin(100 x) sin^100(x)

[2018-02-06 14:13] Happypig375 commented on #334
Ref: https://youtu.be/kDG5Z0pyi8c

[2018-02-06 14:25] Happypig375 commented on #334
defint(product(cos(n*x),n,1,m),0,2pi) throws=> TypeError: Cannot read property 'clone' of undefined

Used in https://youtu.be/8RLUOOZdVKU.
Pending enhancement to write: modulo arithmetic and solving them

[2018-02-06 14:51] Happypig375 commented on #334
defint(sqrt(abs(x)^3),-3,5) can=> 18/5sqrt(3)+10sqrt(5)

[2018-02-06 14:51] Happypig375 commented on #334
Ref: https://youtu.be/5-6T2nlBaDU

[2018-02-09 03:55] Happypig375 commented on #334
diff(integrate(x^2/(a+b\*x))) => (a+b\*x)^(-1)\*a^2\*b^(-1)-x+2\*a\*b^(-1)\*log(a+b\*x)
diff(integrate(1/(9+(-25)\*x^3))) throws=> TypeError: Cannot read property 'clone' of undefined
diff(integrate(1/((-9)-x^2))) => (1/3)\*((1/9)\*x^2+1)^(-1)
diff(integrate(1/sqrt((-9)-x^2))) throws=> TypeError: Cannot read property 'clone' of undefined
diff(integrate(1/x^3\*1/sqrt(x^2-4))) throws=> TypeError: Ca

[2018-02-10 03:29] jiggzson commented on #392
@menzelths, I get 0.999999291139366127200939483377813072286 as well. Are you running with any custom settings?

I suspect that this should not exceed 1.

@Happypig375. I'll have to look into this.

[2018-02-10 03:31] jiggzson commented on #322
@Happypig375, why is this a problem?

[2018-02-10 03:46] Happypig375 commented on #392
@menzelths Also is your nerdamer up-to-date?

[2018-02-10 03:49] Happypig375 commented on #322
solve(x^2=x^-2,x) should directly give [1,i,-1,i].

[2018-02-19 13:58] Happypig375 opened #393 "exp(x) and e^x should be considered equal"
exp(x)-e^x should=> 0

[2018-02-19 16:50] Happypig375 opened #394 "Precision of pi and e"
In demo:
pi eval=> 3.141592653589793160283277184204067484045
should=> 3.141592653589793238462643383279502884197

e eval=> 2.718281828459045047395137979434007971044
should=> 2.718281828459045235360287471352662497757

In master/dev:
pi eval=> 3.141592653589793
e eval=> 2.718281828459045

My guess:
text() calls valueOf() when decimals are requested, but valueOf() returns a JavaScript Number.
So, Sett

[2018-02-19 17:49] Happypig375 opened #395 "Exponentiation and common logarithms"
For 1.0, I suggest a few breaking changes:
log(x) => ln(x)
log10(x) => log(x)
log(x,base) => log(base,x) //Maybe?
This will hopefully avoid future confusions like #231.

The core is going to get a rewrite anyways so why not do this at the same time?
(Maybe I will send a PR myself for this)

Now for the big thing. I don't have a lot of time to clean this up so sorry for this unorganised table.

Giv

[2018-02-19 18:23] jiggzson commented on #394
Good catch! Thinking back, I remember this exact problem being the reason I didn't want to go to variable precision decimals. The solution would probably be to carry a higher precision value of pi and e, and calculate and cache it once this number is exceeded.

[2018-02-19 18:26] jiggzson commented on #395
Switching from log to ln is not just a breaking change for the library but for outside of the library as well. Currently the library, for the most part, is compatible with other libraries. This would change that. One solution I can think of is to give the option of setting a default for the log and log10 functions through the set function using a flag. The library would then be referencing these v

[2018-02-20 02:05] Happypig375 commented on #394
I think I suggested using infinite sums internally a while ago.
That can also help, not just pi and e, most functions can benefit from this too.

[2018-02-20 02:30] Happypig375 commented on #395
I don't understand why most libraries out there use log as the natural log instead of the common log.
Why define the log in a new way that does not match Mathematics?

Anyways, the setting you suggested is still a viable solution.

[2018-02-20 03:00] Happypig375 commented on #322
Here is one where even Wolfram Alpha can't simplify:
solve(-8x^3+6x-1=0,x) should=> [sin(pi/18),sin(5pi/18),sin(-7pi/18)]

See https://youtu.be/JqagcCrdpQQ

[2018-02-20 04:37] colehaus opened #396 "integrate and defint drop multiplicative constants outside of parentheses"
At http://nerdamer.com/demo.html, `integrate(x+1)` results in `x^2/2 + x` which is all fine and good. However,`integrate((x+1)/100)` also results `x^2/2 + x`. The same problem occurs with `defint`.

[2018-02-20 05:05] Happypig375 commented on #396
integrate(x/100+1/100) works though.

[2018-02-20 05:19] colehaus commented on #396
Correct, but that behavior was certainly surprising to me.

[2018-02-20 05:23] colehaus opened #397 "nerdamer.convertToLaTeX(exp) and nerdamer(exp) seem to expect defint arguments in different orders"
It seems like `nerdamer.convertToLaTeX('defint(x, x, 0, 1)')` is the only acceptable argument order for `convertToLatex` while `nerdamer('defint(x, 0, 1, x)')` is the only acceptable argument order for `nerdamer`. Notice that the `x` specifying the variable of integration comes before the integration limits in the first case and after in the second case.

[2018-02-20 08:39] Happypig375 commented on #395
Given|Expected|Do|ne?
-|-|-|-
solve(4(7^(2x))=15,x)|[(1+log(3)-3log(2))/(2log(7))]||<li>[ ] </li>
solve(5^(x-2)=3^x,x)|[(2-2log(2))/(1-log(2)-log(3))]||<li>[ ] </li>
solve(5^(3x)=4^(2x-1),x)|[(2log(2))/(7log(2)-3)]||<li>[ ] </li>
solve(log(x*y)=2,y)|[100/x]||<li>[ ] </li>
solve(log(y)/log(x)=1/3,y)|[x^(1/3)]||<li>[ ] </li>

Note:
log(5)
=log(10/2)
=log(10)-log(2)
=1-log(2)

Always convert log(5) t

[2018-02-20 14:00] jiggzson commented on #396
@colehaus, thanks for bringing this to my attention. I'll fix this.

[2018-02-20 14:02] jiggzson commented on #397
@colehaus, I'll look into this. Thanks.

[2018-02-21 02:23] jiggzson commented on #396
@colehaus, fixed.

[2018-02-21 02:38] Happypig375 commented on #396
@jiggzson This change is not reflected in the demo though. Should the demo be made to track the master branch?

[2018-02-21 12:56] jiggzson commented on #396
@Happypig375, we can go that route too. Have the demo pull directly from master instead of manually updating it. Similar to how's it's done with the dev demo.

[2018-02-22 06:44] Happypig375 commented on #334
New test case:
defint(sqrt(log(9-x))/(sqrt(log(9-x))+sqrt(log(x+3))),2,4) => 1

[2018-02-27 04:48] menzelths commented on #392
Now it is and the error does not occur any more.
Thanks.

[2018-02-27 04:48] #392 closed

[2018-02-28 11:58] Happypig375 opened #398 "1/sin(x) etc should convert to their reciporcals"
aka
1/sin(x) should=> csc(x)
1/cos(x) should=> sec(x)
1/tan(x) should=> cot(x)
1/csc(x) should=> sin(x)
1/sec(x) should=> cos(x)
1/cot(x) should=> tan(x)
1/sinh(x) should=> csch(x)
1/cosh(x) should=> sech(x)
1/tanh(x) should=> coth(x)
1/csch(x) should=> sinh(x)
1/sech(x) should=> cosh(x)
1/coth(x) should=> tanh(x)

[2018-02-28 12:01] Happypig375 opened #399 "sin(x)/x and sinc(x) should be considered equal"
sin(x)/x-sinc(x) should=> 0

[2018-03-01 02:01] jiggzson commented on #399
Similar to #393. Sinc(x) should just return sin(x)/x on evaluate.

[2018-03-01 02:05] jiggzson commented on #398
This one is tricky. I actually played with this in the past but didn't like the results. I especially ran into problems with derivatives if I remember correctly since `sin(x)*(1/sin(x))` doesn't simplify if `1/sin(x)` gets converted to `csc(x)`. The solution to this may likely end up being similar to #393 & #399 which is to do the conversion only when evaluate is called. The only problem then is i

[2018-03-01 02:42] Happypig375 commented on #398
What about:
sin(x)\*csc(x) should=> 1
cos(x)\*sec(x) should=> 1
tan(x)\*cot(x) should=> 1
sinh(x)\*csch(x) should=> 1
cosh(x)\*sech(x) should=> 1
tanh(x)\*coth(x) should=> 1

?

[2018-03-01 02:47] Happypig375 commented on #219
factor(x^a+2x^(a-1)+1x^(a-2)) => (2\*x^(-1-NaN+a)+x^(-2-NaN+a)+x^(-NaN+a))\*x^NaN

!?!??!?!??!?!??!?!??!?!

[2018-03-06 02:00] yosuke opened #401 "expansion of fraction inside sqrt"
What I expect:
[code]
What I get:
[code]

This is probably because the fraction inside the sqrt is expanded as follows:
[code]

I think the resulting formula should be "sqrt(a)*(sqrt(b)^(-1))". But even if I assume I got the correct formula, I still cannot get the expected result:
[code]

Tested on http://nerdamer.com/demo_dev.html

[2018-03-06 05:09] Happypig375 commented on #401
According to Wolfram Alpha,
sqrt(a/b) == sqrt(a)\*sqrt(b^(-1)) == sqrt(a)\*(sqrt(b)^(-1))
when a and b are positive.
This transformation is not valid for negative and complex numbers though, which you are doing.
This should be addressed in #350, although this one specific transformation can be temporarily disabled until that is implemented.

The fact that (-i+6123233995736766/100000000000000000000

[2018-03-06 06:09] yosuke commented on #401
Just find out the explanation on why "sqrt(a)(sqrt(b)^(-1))" can only stand when both a and b are positive:

https://math.stackexchange.com/questions/1274167/imaginary-fraction-square-root

Realized confirming both fraction element when transforming the formula is the right way.

[2018-03-06 13:34] jiggzson commented on #401
@yosuke, since the transformation to sqrt(a)\*(sqrt(b)^(-1)) requires no additional conditions, I would think that this would be the better route. Make the switch is not difficult at all. The one that I find interesting is nerdamer('sqrt(a)\*(sqrt(b)^(-1))').evaluate({a:-1,b:-1}).toString(). I'm really curious what led to that. I'm hoping to get to this one soon.

[2018-03-06 13:34] #396 closed

[2018-03-06 13:40] Happypig375 commented on #401
http://www.wolframalpha.com/input/?i=sqrt(a%2Fb)-sqrt(a)*(sqrt(b)%5E(-1))
Nope, it still requires that a and b are positive.

[2018-03-06 13:44] jiggzson commented on #401
Interesting. I'll take a look at this a little later. It seems this transform is a little more complicated than I thought.

[2018-03-06 23:49] yosuke commented on #401
@jiggzson @Happypig375
For the bug part, I found this additional very strange behavior:
[code]
[code]
Both with same equation.

[2018-03-06 23:52] yosuke commented on #401
The second example can be actually simplified to:
[code]

[2018-03-07 00:34] jiggzson commented on #401
Ahhh. Captain Floating-Point-Errors strikes again. That isolates the problem and explains the strange results. I'll take care of both. @Happypig375 mentioned that the positive constraint exists for both transformation cases. I haven't had a chance to look into this but hopefully I can resolve that issue as well.
Thanks.

[2018-03-07 02:52] jiggzson commented on #401
@yosuke, ironically this one is related to #394. It appears that in order to fix this issue I need to first tackle that one. The problem is due to the fact that when evaluate is called the library switches to handling everything numerically and the precision problems start to pop up. Those are very very frustrating by the way.

I've pushed a partial fix which changes the way `sqrt` handles fractio

[2018-03-07 04:47] yosuke commented on #401
@jiggzson Thank you for the info. and no problem at all.

I have following very dirty workaround, which keep me safe from this issue (I currently don't need imaginary number).
[code]

[2018-03-09 17:24] jiggzson commented on #401
Awesome. Doesn't this solution get rid of numeric solutions altogether though?

[2018-03-10 04:49] yosuke commented on #401
Thank you for making clear. Yes, my evil workaround only prevent me from expanding sqrt which contains negative numbers, but does not solve the arithmetic  precision problem.

I found the following workaround may work for the precision issue for this specific problem:
[code]
Although, this is clearly not the absolute solution. Because the result is not proved to be stable for all the numbers.

I j

[2018-05-03 18:30] Alzy opened #403 "Is there any way to create multiple instances of nerdamer?"
I'm trying to create multiple instances of nerdamer so I can evaluate and store expressions in separate objects. This way both objects contain separate histories and variables; ie: if I assign variable **x** as 5 in one instance and **x** as 7 in the other, one will not overwrite the other.

I've tried using

`var a = new nerdamer`

and

`var a = new nerdamer()`

but neither solution works.

[2018-05-05 04:29] Happypig375 commented on #403
I think you will have to run the script twice for now; nerdamer is not designed for parallel usage.

like this:
[code]

[2018-05-05 09:21] Happypig375 opened #404 "404: precision loss not found"
## 0. TL;DR
This proposal is my take on supporting arbitrary precise decimals, through a new BigDecimal data type along with library support for its operations. Bonuses included. Also fixes buildFunction().

## 1. Problem
Nerdamer uses native JavaScript Numbers which restricts Nerdamer's ability to achieve a high decimal precision. This proposal attempts to solve that using a BigDecimal data type

[2018-05-05 09:26] Happypig375 opened #405 "List of issues before temporary leaving nerdamer"
1. [A bunch of new tests](https://github.com/Happypig375/nerdamer/wiki/Tests)
2. [Bug report](https://github.com/Happypig375/nerdamer/wiki/Draft:-Never-use-special-names-that-can-collide-with-variables-(filler-for-%23403-if-necessary))
3. [Unfinished piecewise functions proposal](https://github.com/Happypig375/nerdamer/wiki/Draft:-Piecewise-functions-(%23400))
4. [This list continues here](https:/

[2018-05-07 18:49] jiggzson commented on #405
@Happypig375, I really appreciate the work you've done with issue #404 (although the clone issue is not a trivial problem). I my self have recently been on a hiatus due to personal issue, so I completely understand you needing to take a break. Hopefully when I do get the time to continue work on the library, you'll be available again. Thanks again.

[2018-05-07 19:45] jiggzson commented on #404
@Happypig375, thanks for the insightful review. A few points:

1.  Item 3 is only a temporary fix. I guess it would improve readability but it still doesn't eliminate clone being called unnecessarily. The ideal solution would be just that, to determine when clone is needed. My initial thought was that cloning wasn't need at all but I quickly learned otherwise and this patch has been the running so

[2018-05-07 22:07] jiggzson commented on #403
@Alzy, the solution provided by @Happypig375  is more than likely your best bet. The other alternative is to keep two objects with know variables and pass those for nerdamer to process. Consider the example below.

[code]
Would something like that work?

[2018-05-08 09:15] Happypig375 commented on #405
Definitely.

[2018-05-08 09:53] Happypig375 commented on #404
1. The idea here is to follow https://github.com/jiggzson/nerdamer/pull/337#issuecomment-353820872 and only minimize clone()s when a notable performance difference is present.
2. This proposal attempts to implement BigNumbers (BigDecimals) in terms of BigIntegers instead of strings, and [BigInteger.js is pretty fast for arithmetic operations](http://peterolson.github.io/BigInteger.js/benchmark/),

[2018-05-08 21:24] #403 closed, assigned to nobody

[2018-07-23 12:19] Happypig375 opened #406 "Any activity here?"
Closing in on my 1st anniversary here, I am sad to see that there is little to no activity nowadays.

If there is no response, I will be considering to port this into a module in Https://github.com/verybadcat/CSharpMath.

[2018-07-24 21:16] jiggzson commented on #406
@Happypig375, the lack of activity is due to the lack of time on my behalf. I honestly thought I'd be freed up at this point. The last thing I'd want is for your project to held up but unfortunately there's not much I can do until I get spare time again. I'm hoping this will be around the beginning of November.

Are you planning on porting nerdamer to that library?

[2018-07-25 02:41] jiggzson commented on #406
Exciting! Maybe we can look into this when preparing nerdamer for version 1.0. I'll be doing some serious refactoring and commenting so these two items can be done concurrently. I'll also get the opportunity to learn C#. I never got passed a few simple examples with C#. The only thing is that I doubt I'll be doing it on Github. I'm considering moving this project to Gitlab. Nothing to do with the

[2018-07-25 04:06] Happypig375 commented on #406
My initial thought is that since JavaScript and C# are similar in syntax, an automatic conversion tool can be written. The return type of every function can be determined through documentation in comments preceding it.

[2018-07-25 04:14] jiggzson commented on #406
Interesting. The biggest problem I can foresee is that the documentation isn't consistent which is one of the things I hope to fix.

[2018-10-04 20:11] OJIEHb opened #408 "Problem with sum() and vecget()"
Hi, I tried to calculate sum of vector part.
For example:
`const nerdamer = require('nerdamer/all');`

`nerdamer.setVar('x', 'vector(4,1,6,3,1)');`
`let e = nerdamer('sum(vecget(x, i), i, 1, 3)');`
But I receive

Is it possible to do this operation via using nerdamer?

[2018-10-05 22:50] jiggzson commented on #408
@OJIEHb, thanks for reporting this. Your example should work so this is a bug. I'll look into this. I'm hoping to resume development at the beginning of next month so I'm hoping to get this shortly after that.

[2018-10-11 19:22] Yaffle opened #409 "BigInteger.js needs to be updated"
`factor(3825123056546413051)` returns incorrect result because the `isPrime` was buggy in the dependency - https://github.com/peterolson/BigInteger.js/pull/151

[2018-10-15 01:10] FilipeAC opened #410 "Wrong analytical answer of linear system"
I was trying to solve a system of linear equations analytically and nerdamer seems to return the wrong answer. This piece of code

`var sol = nerdamer.solveEquations(['c = x2*G1','x2 = x1 -H1*c','x1 = R - H2*c'],['c','x1','x2']);`

returns "-(1+G1*H1+G1*H2)^(-1)*G1*R" for sol[0][1] (value of variable c) which is wrong due to the negative sign. I checked the code (copied and pasted) on wolfram alph

[2018-10-15 13:49] jiggzson commented on #409
@Yaffle, thanks for bringing that to my attention. I'll make sure to update this. Going forward I would like to provide the ability to use your own BigInteger library by overriding the default one. This is one of the items on my TODO list for the next update.

[2018-10-15 13:53] jiggzson commented on #410
@FilipeAC, since all the signs are flipped I suspect that nerdamer is forgetting to correct the sign for the solutions which is one of the things that solveEquations is supposed to do. I'll take a look at this and I'll correct this with the next update. Thanks.

[2018-10-15 14:43] Yaffle commented on #409
@jiggzson , peterolson/BigInteger.js is pretty good, popular and provides `isPrime`, also JavaScript has native `BigInt` now ans so js libs become needless.

by the way, I was searching for the integer factorization in js - thanks for the code

[2018-10-27 16:37] jiggzson commented on #409
@Yaffle, no problem. I noticed that you have a BigInt library as well. How similar is it (mostly the API) to the one that nerdamer is currently using? I noticed that you have some benchmark tests but I'm having hard time interpreting the layout.

[2018-10-27 16:55] Yaffle commented on #409
Yaffle/BigInteger provides only the +,-,*,/,%, conversion from and to string;
while you are using the `isPrime` from peterolson/BigInteger.js, and, may be, something else.
The benchmark values are comparable.

[2018-10-27 17:08] jiggzson commented on #409
I see. I'm probably going to have to write my own `isPrime` function in the near future, especially since JavaScript is getting native `BigInt` and maybe even `BigDecimal` support in the near future. I doubt they'll have an `isPrime` function built in. Speaking of which, it doesn't seem to be officially supported at the moment. Do you know anything about that?

[2018-10-27 17:12] Yaffle commented on #409
I have "extracted" their implementation and converted to use native `BigInt`:
[code]
Not sure if it is not buggy.

[2018-10-27 17:16] jiggzson commented on #409
@Yaffle, thanks!

[2018-10-28 22:06] jiggzson commented on #410
@FilipeAC, I finally got a chance to look at this problem. Using your example
[code]
Using the solutions I took the equation `c=x2*G1' and substituted in the values which results in the expression `((-(1+G1*H1+G1*H2)^(-1)*R)*G1)-(-(1+G1*H1+G1*H2)^(-1)*G1*R)`.

Feeding that back into nerdamer

[code]
It seems that the output is correct. Do you agree?

[2018-10-29 00:34] jiggzson commented on #408
@OJIEHb, this bug seems to be related to the parser. I'm in the process of rewriting the parser and I hope to be done with that soon. I'll be addressing this issue in the process of doing so.

[2018-10-29 00:35] #406 closed

[2018-10-29 00:42] jiggzson commented on #390
@Happypig375, I think the reason I chose that order is because the base is optional. Making the base the first parameter would require me to check the number of arguments and then proceed accordingly. I think the best way forward is to leave this one as-is.

[2018-10-29 06:43] OJIEHb commented on #408
@jiggzson , thanks))

[2018-10-29 17:46] jiggzson commented on #399
Fixed on dev branch.

[2018-10-29 17:46] #399 closed

[2018-10-29 17:55] jiggzson commented on #393
Just like issue #399, this was fixed on dev branch. Thanks again @Happypig375.

[2018-10-29 17:55] #393 closed

[2018-10-30 01:42] jiggzson commented on #394
moving to #404

[2018-10-30 01:42] #394 closed

[2018-10-30 01:43] #390 closed

[2018-10-30 01:43] #348 closed

[2018-10-30 01:45] jiggzson commented on #155
Moving to #183

[2018-10-30 01:47] jiggzson commented on #351
The tests were added. Closing.

[2018-10-30 01:47] #351 closed

[2018-10-30 01:49] jiggzson commented on #357
Moving to #221. Closing.

[2018-10-30 01:49] #357 closed

[2018-10-30 11:35] jiggzson commented on #155
Agreed. I got a little confused. There a way too many duplicate issues and I need to clean them up so I can come up with a plan of action.

[2018-10-31 01:31] jiggzson commented on #329
@Happypig375, was this one ever resolved?

[2018-10-31 01:33] #304 closed

[2018-10-31 01:36] jiggzson commented on #379
I'll be abandoning sort function with the upcoming version. This function serves no purpose.

[2018-10-31 01:46] jiggzson commented on #221
@Happypig375, this seems to be a repeating issue. It's clear that nerdamer needs better BigNumber support and this issue is being worked on. It just seems to be spread over multiple issues. I'm moving this issue to #404 and all other issues related to BigNumber support.

[2018-10-31 01:46] #221 closed

[2018-10-31 10:45] #213 closed

[2018-10-31 17:37] #379 closed

[2018-11-01 01:14] jiggzson commented on #182
@Happypig375, I've been trying different ways of implementing this during the rewrite but there are two major problems.
1. close and open brackets are the same (assuming space denotes close)
2. close bracket might not exist at all

Every solution I've tried either requires me to implement a different parser/parsing algorithm which would require a complete rewrite of the library (something I'm in n

[2018-11-01 10:09] Happypig375 commented on #182
It seems that Wolfram Alpha is following such a rule:
If the first non-whitespace character is not a bracket, then read until the next whitespace that is not consumed by another function and on the same bracket level.
E.g.

In|Out
-|-
sin x|sin(x)
sin x sin x|sin(x)sin(x)
sin sin x|sin(sin(x))
sin 2x|sin(2x)
sin 2 x|sin(2)x
sin x2|sin(x2)
sin x 2|sin(x) 2

[2018-11-01 18:37] ljacqu commented on #182
Just to weigh in, I assume that the burden on the code base to support this in a long-term, maintainable way is not worth the gain.

[2018-11-02 00:43] jiggzson commented on #182
@ljacqu, that was my point exactly. I was excited with the initial run but then all kinds of strange bugs crept in. Had the underlying parser implementation been a bit more robust I probably would have been a much easier task but making the switch at this point quite a large undertaking. @Happypig375, I have been giving it a bit more thought and I might be able to manipulate the input string a bit

[2018-11-09 22:11] CosmoVibe opened #411 "Incorrect Multiplying of -1"
Attempting to multiply -1 to something like x-1 should result in some form of 1-x.

nerdamer('expand(-1*(x-1))').toString()
// "-1+x"

I've tested this with both the imported library as well as on the demo page on your website. In addition, I've also checked with various other forms, such as:
(-1+x)\*(-1)
-2\*(x-1)/2
These all output "x-1" or "-1+x".
It should be noted that amusingly, -2\*(x-1) ex

[2018-11-10 21:05] jiggzson commented on #411
@CosmoVibe. Its sounds like it's an issue with the expand function. I'll look into this. Thanks for reporting.

[2018-11-11 03:34] jiggzson commented on #269
Moving to #404

[2018-11-11 03:34] #269 closed

[2018-11-11 05:47] Happypig375 commented on #388
Great. This is an easy one to test so this is closable now.

[2018-11-11 05:47] #388 closed

[2018-11-11 19:45] jiggzson commented on #212
@Happypig375, I went over this one again during version 0.8.0 and this introduces  quite a bit of computation for something that can be handled outside the library. I'm closing this issue and recommending that this is handled by storing the values outside of the library and then overriding them each time as needed. The amount of effort and computation to accomplish this is trivial.

[2018-11-11 19:45] #212 closed

[2018-11-15 01:44] #380 closed

[2018-11-15 01:44] #382 closed

[2018-11-15 01:44] #409 closed

[2018-11-15 01:44] jiggzson commented on #411
Fixed in 0.8.0

[2018-11-15 01:45] jiggzson commented on #401
@yosuke, this should be fixed. Thanks for your patience.

[2018-11-15 01:45] jiggzson commented on #397
Fixed.

[2018-11-15 01:45] #397 closed

[2018-11-15 01:46] jiggzson commented on #389
@Happypig375, this should be fixed.

[2018-11-15 01:46] jiggzson commented on #398
Fixed.

[2018-11-15 01:46] jiggzson commented on #386
Fixed.

[2018-11-15 01:46] jiggzson commented on #383
Fixed.

[2018-11-15 01:47] jiggzson commented on #285
Fixed.

[2018-11-15 01:48] jiggzson commented on #408
@OJIEHb, fixed.

[2018-11-15 01:48] jiggzson commented on #203
@Happypig375, added.

[2018-11-15 01:49] jiggzson commented on #131
@Happypig375, added. It works but still a little buggy in my opinion. I'll need to test this a bit in the future.

[2018-11-15 01:50] jiggzson commented on #130
@Happypig375, fixed.

[2018-11-15 04:53] CosmoVibe opened #413 "Unable to correctly evaluate inverse denominators"
I opened the issue with multiplying with -1, so I'm currently testing these from the 0.8.0 version.

The multiplication with -1 now works, but it still doesn't expand properly when evaluating these in the denominators.

Some examples:

nerdamer('x/(x-1)').eq('-x/(1-x)')
// false, should be true
nerdamer('expand(x/(x-1))').eq('expand(-x/(1-x))')
// false, should be true
nerdamer('expand(1/(x-1))').

[2018-11-15 05:09] yosuke commented on #401
Very nice!

Confirmed expected behavior on the following URL:
http://nerdamer.com/demo_dev.html

Thank you!

[2018-11-15 11:59] jiggzson commented on #413
@CosmoVibe, the denominator is currently simply evaluated. It's not factored at all. I supposed that a simplify function would help in cases such as this. Ironically I popped in `nerdamer('factor(-x/(1-x))')` expecting it to give the desired output instead it gave `-(-1)*(-1+x)^(-1)*(x)`. This `nerdamer('factor(-x/(1-x))').evaluate();` however does give the desired output. I'll keep this in mind w

[2018-11-15 11:59] #411 closed

[2018-11-15 12:00] jiggzson commented on #401
@yosuke, no problem. Thank you for your help.

[2018-11-15 12:00] #401 closed

[2018-11-15 12:01] jiggzson commented on #347
@Happypig375, added.

[2018-11-15 14:05] jiggzson commented on #347
You're right. I'll check this out in a bit.

[2018-11-15 14:06] jiggzson commented on #398
What I forgot to mention is that you have to call evaluate for it do so.

[2018-11-15 14:08] jiggzson commented on #383
This one is straightforward so closing.

[2018-11-15 14:08] #383 closed

[2018-11-15 14:08] #386 closed

[2018-11-15 14:16] #130 closed

[2018-11-15 14:22] jiggzson commented on #218
@nick4814, this function has already been implemented through ilt. However it depends on integrate which is not yet complete so it won't solve certain transforms. I imagine this issue can be closed and the above mentioned can be added to the documentation. @Happypig375, what do you think?

[2018-11-15 14:30] jiggzson commented on #340
@Happypig375, haven't you already implemented something very similar to this? Or at least started?

[2018-11-15 15:04] Happypig375 commented on #218
Yep, closing should be ok. Any issues of this function will probably be integrate's fault.

[2018-11-15 15:06] Happypig375 commented on #340
Nope. Do you mean #402?

[2018-11-15 15:29] #218 closed

[2018-11-15 15:35] jiggzson commented on #340
I guess that's what I was referring to. Am I getting the two confused. Can the same logic be reused?

[2018-11-15 15:36] jiggzson commented on #398
I've tested these and they work. Closing.

[2018-11-15 15:36] #398 closed

[2018-11-15 15:36] #389 closed

[2018-11-16 03:34] Happypig375 commented on #340
If we are going to reuse them, then I'm unsure what to reuse.

[2018-11-17 13:59] #408 closed

[2018-11-17 20:55] jiggzson commented on #413
@CosmoVibe, I've started the long overdue simplify function so the issue you raised should currently be fixed. It does require you to call the simplify function. @Happypig375 already provided some suggestions so I'll be working on that list. Feel free to add to it under the discussion at issue #210.

[2018-11-18 15:00] #413 closed

[2018-11-18 15:13] jiggzson commented on #354
@Happypig375, I've tested the above issues and they've been fixed.

[2018-11-18 15:13] #354 closed

[2018-11-18 15:14] jiggzson commented on #280
Fixed.

[2018-11-18 15:14] #280 closed

[2018-11-18 15:32] #203 closed

[2018-11-18 15:33] jiggzson commented on #239
`(sqrt(7)+3sqrt(2))(sqrt(7)-3sqrt(2))` is clearly a bug

[2018-11-18 17:10] jiggzson commented on #395
No biggie. I'll verify them with Wolfram Alpha also.

[2018-11-19 06:59] yosuke opened #417 "Possible typo in Calculus.js"
Tried to use Javascript code analyser (SonarJS) to detect conditional related errors like in #414.

Most of the result seems OK.

But the following result may be of your interest:
https://sonarcloud.io/project/issues?id=yosuke_nerdamer&open=AWcqrb9Qd6oxh3R41saa&resolved=false&severities=MAJOR&types=BUG

The code
[code]
May be possible typo of
[code]
https://github.com/jiggzson/nerdamer/blob/dev/Ca

[2018-11-19 14:48] jiggzson commented on #417
@yosuke, thanks. Looks like some long overdue cleanup is needed as well :laughing:

[2018-11-24 00:29] FilipeAC commented on #410
Hi! I'm really sorry for the late response.

First, I couldn't believe my eyes when I saw what you did. Then, I used your strategy with the rest of the equations and the problem is still there. I won't describe in details, but what happened with your code was a tremendous coincidence and it gave us the false impression that the answer was correct.
In order to simplify I built an example to illustr

[2018-11-24 08:18] jiggzson commented on #410
@FilipeAC, I see. I'll look into this.

[2018-11-24 12:44] FilipeAC commented on #410
I'm glad to contribute! You're doing a beautiful work with Nerdamer!

[2018-11-24 14:53] jiggzson commented on #410
@FilipeAC, thanks. And definitely let me know if you find any other issues.

[2018-11-26 10:32] FilipeAC commented on #410
Of course!

[2018-12-12 01:47] yosuke opened #420 "Nerdamer + Observable notebook"
Just wanted to share that using nerdamer with observable notebook was possible with very nice user experience:

https://beta.observablehq.com/@yosuke/symbolic-math-using-nerdamer

Only the problem was, it required a bit of twist to import nerdamer core module (had to use bundle.run service) probably due to the way how nerdamer export the module:

https://beta.observablehq.com/@yosuke/nerdamer-all

[2018-12-12 13:41] jiggzson commented on #420
@yosuke, looks nice. Thanks for bringing this issue to my attention. I'll have to dig into `bundle.run` a bit more. I was under the impression that checking for `module` and then acting accordingly was enough but that might not be the case. I'm guessing that `require('nerdamer/all')` didn't work as outlined in issue #113?

[2018-12-14 02:37] jiggzson commented on #420
I see. I've been meaning to break up the files and create bundles for some time but I've just been putting off. That would be an opportune time to revisit this issue. Issue number 3 does raise some concern. Are you saying that symbolic evaluation doesn't work when importing in that manner?

[2018-12-15 06:36] yosuke commented on #420
@jiggzson Here is the example notebook to reproduce the issue:

https://beta.observablehq.com/@yosuke/test-to-reproduce-nerdamer-issue-420

[2018-12-15 06:55] yosuke commented on #420
Seems they are using d3-require to realize their require function:

https://github.com/observablehq/stdlib/blob/master/src/require.js

https://github.com/d3/d3-require

So the problem may be specific to this lib.

[2018-12-15 11:51] yosuke commented on #420
Ahh, it was written in the d3-require README

[code]

Understand that is why...

[2018-12-16 04:15] yosuke commented on #420
@jiggzson Observable notebook is using d3-require library internally to realize require function and d3-require library does not support commonjs style module export. “Module” detection of nerdamer will not work on this environment.

Also require(’nerdamer/all’) may work if it is implemented in ES6 style export.

[2018-12-16 14:57] jiggzson commented on #420
@yosuke, thanks for the clarification and investigative work. I'll keep this in mind going forward.

[2018-12-25 15:46] Saikedo opened #421 "definite integrals involving logarithms throw errors."
I noticed today that definite integrals such as integral of ln(x) from 0 to 1 throw an error. The error is caused by the fact that integration of ln(x) yields in x(ln(x) - 1) and then the library tries to plug in 0 into ln(x) and throws an undefined error for ln(0). I would highly suggest taking a limit for these type of scenarios where you can approach the ln(0) from the positive side but never r

[2018-12-25 18:22] Saikedo opened #422 "derivative of asec does not work."
I just noticed that derivative of asec does not work. Here is what I tried to execute just to make sure that I am not using it incorrectly.

`nerdamer('diff(asec(x), x)').toString()`
returns
"diff(asec(x),x)"

And also when I try to not specify x like so

nerdamer('diff(asec(x))').toString()
it returns
"diff(asec(x),)"

My workaround as of now was to replace all asec(x)`s with acos(1/x).

[2018-12-25 18:35] jiggzson commented on #422
Noted. Thanks. I'll fix this.

[2018-12-26 17:17] jiggzson commented on #421
@Saikedo, I've posted a fix on the dev branch but it still has rounding errors so I'll try to improve on the current fix.

[2018-12-28 21:33] Saikedo commented on #421
Ah I see. Just out of curiosity, what exactly causes the rounding errors?

[2018-12-28 21:36] Saikedo commented on #422
@jiggzson Was this fix intended only for asec or it affects other trig functions as well? I noticed lately that there are numerous trigonometric functions that fail when trying to derive or integrate. I can provide you a comprehensive list of those if that will help.

[2018-12-28 23:57] jiggzson commented on #421
I don't actually return the limit. Just a really close approximation. I'm going to be starting limits very soon since I need it for other parts of the library as well so this issue will be fixed then.

[2018-12-29 00:00] jiggzson commented on #422
@Saikedo, the fix was intended for `asec` and `acsc`. And yes, please report any missing or incorrect functions, or any errors. This helps me tremendously. Keep in mind that integration is a work in progress and not yet complete. Thanks.

[2018-12-31 18:57] AlienKevin opened #423 "nerdamer.solveEquations("x^8=0.22", "x") yields incorrect results containing plus or minus 1.1768767342364224"
solveEquations() works fine most the time but it surprisingly breaks on equations like x^8=0.22 or x^8=0.23. However, equations like x^8=0.25 or x^8=0.20 work just fine. I don't know if solveEquations() is supposed to be used to solve lower powers like quadratic equations as shown in the demo or it's compatible with equations with higher powers.
By the way, this is the output I got from Chrome Dev

[2018-12-31 20:20] jiggzson commented on #423
@AlienKevin, which version are you using? Interestingly, `solve(x^8=0.22, x)` does give the correct results. I'll look into this.

[2018-12-31 21:19] jiggzson commented on #422
@Saikedo, I've added a few more missing integrals on the dev branch. I've tested some but there are 3 or so that I haven't tested yet. If you get a chance to check them let me know. Also let me know which other derivatives and integrals are missing.

[2018-12-31 21:36] jiggzson commented on #423
@AlienKevin, just tested this on the dev branch.
[code]

[2019-01-02 21:09] AlienKevin commented on #423
I think I'm using the most recent version. Thank you for pointing out the `solve` function, I didn't notice it. By the way, I'm just building a simple web calculator using MathQuill library for processing latex input and Nerdamer for evaluating expressions. I love all the features of Nerdamer, but I have yet to figure out a good way to convert user inputs from latex to the ASCII notation Nerdamer

[2019-01-04 02:55] jiggzson commented on #423
@AlienKevin, the reason I ask is to keep in mind that I have a the absolute latest on the dev branch. As for MathQuill, it does have a `text` method if I remember correctly. My only problems with it were

1. It uses ** as the power operator but this is no longer an issue since nerdamer now supports it
2. If a variable name such as `var` was used, the text method would return `v*a*r` and there was

[2019-01-04 03:06] jiggzson commented on #421
@Saikedo, I started limits so this issue now has a better solution. Limits still needs a little bit more work but it's complete enough for cases such as this one. In your case, nerdamer will just take the limit for `x (-1 + log(x))` at 0.

[2019-01-04 19:38] Saikedo commented on #422
@jiggzson I just finished comparing the integrals and derivatives of your previous build compared to whatever you have in the dev build and indeed, some of the integrals and derivatives for trig functions are fixed. Some of them, however, are still not working and some had incorrect outputs. Here are my findings.

---------------- Derivatives ----------------
acsc - Fixed
asec - Fixed
coth - Not w

[2019-01-04 19:42] Saikedo commented on #421
@jiggzson Tested and working as expected. Thank you very much. I am going to submit a build to our QA team by the end of this week so they can run some more in-depth torture tests on these issues. I will get back to you if they discover anything new.

[2019-01-05 23:20] jiggzson commented on #422
@Saikedo, thanks for pointing out the errors. In the case of `acsc` and `asec`, the answers were incorrect  because those functions are solved using integration by parts. When applying this, in the function `1/(a*x^2+b)`, `a` was assumed to be positive. I'm not a 100% sure if this assumption is completely wrong but I changed it to no longer do this.

I do want to point out something about dealing

[2019-01-06 01:35] titus-pinta opened #424 "defint(1, 0, 1) returns 0"
Hey!
It seems like defint does not integrate constants well.
defint(1, 0, 1) returns a 0 instead of a 1.
I tried some combinations of constants and different intervals of integration and the answer always was 0.

And may I also suggest having a variable of integration parameter in defint?
defint(x^2, x, 0, 1) for instance?

[2019-01-06 01:59] jiggzson commented on #424
@titus-pinta, the variable of integration is more than likely undefined. `defint` should either assume `x` or throw. If you do this `defint(1, 0, 1, x)` however, you do get 1. I'll look into this. Thanks for pointing it out.

[2019-01-06 08:47] Saikedo commented on #422
Where does a come from in 1/(a*x^2+b)? Sorry, it`s been many years since I did a deep dive in mathematics and I was not sure.

As for not matching integrals, yes, this can indeed be tricky. I sometimes try to compare the equations (For example WolframAlpha returns -ln(cos(x)) for integral of tan(x) and nerdamer returns ln(sec(x)) which are easy to compare) but this gets complicated when the output

[2019-01-06 08:59] Happypig375 commented on #422
For safety, more than one number should be picked to test the output.

[2019-01-06 14:43] jiggzson commented on #422
@Saikedo, no worries. Like they say, use it or lose it. The `1/(a*x^2+b)` comes after taking `u` to be `acsc` and `dv` to be 1 in integration by parts (uv- integral of vdu). After applying u-substitution to `du`  which is `-1/(sqrt(1 - 1/x^2) x^2)`,  it takes the general form of `1/(a*x^2-b)`. If `b` were positive, then the integral of `vdu` is `atan(x)` which is what used to happen.

@Happypig375

[2019-01-07 02:41] #417 closed

[2019-01-07 17:24] jiggzson commented on #341
@Happypig375, you implemented this already? Correct?

[2019-01-08 11:36] CosmoVibe opened #425 "Problems with convertToLaTeX"
There are a few issues and suggestions I have.

The suggestion is pretty straightforward:

`nerdamer.convertToLaTeX('2*x')`
`"2 \cdot x"`

`nerdamer.convertToLaTeX('2*sqrt(15)')`
`"2 \cdot \sqrt{15}"`

When we have a numerical coefficient in front of certain tokens, can we not have the "\cdot"? That way it looks like 2x instead of 2*x.

The issue is the bigger problem:
`nerdamer.convertToLaTeX('2*

[2019-01-08 14:48] jiggzson commented on #425
Not at all. I was the one missing something silly. I was forgetting to add brackets back to the output and I never had a test for it so I didn't realize I broke it. Thanks. Good catch! Fixed.

As for the omitting the `\cdot` for coefficients, unfortunately it's not so simple. `convertToLaTeX` is a pretty dumb function and has no concept of coefficients. It's all or nothing. I've added to ability t

[2019-01-08 15:45] Happypig375 commented on #341
nope

[2019-01-08 15:55] jiggzson commented on #341
I realized that after I asked you. I implemented this.

[2019-01-08 15:56] Happypig375 opened #426 "Add nerdamer.convertFromLaTeX"
So that [any of these editors can be used with Nerdamer.](https://github.com/mathjax/MathJax-docs/wiki/List-of-web-based-math-editors)

[2019-01-08 18:56] jiggzson commented on #426
Yeah, I was considering adding this as and additional add-on. I may decide to strip Guppy of everything but the parser and go that route. Thanks for the suggestion.

[2019-01-08 20:32] #422 closed

[2019-01-08 20:32] #423 closed

[2019-01-08 20:32] #424 closed

[2019-01-08 20:32] #369 closed

[2019-01-08 20:32] #425 closed

[2019-01-08 21:01] AlienKevin commented on #423
Thank you, Guppy sounds promising for my project!

[2019-01-08 21:07] jiggzson commented on #423
No problem AlienKevin. I just completed a pull request so this issue was automatically closed. I did fix it. Just letting you know.

[2019-01-09 03:51] Happypig375 commented on #341
continued_fraction(sqrt(2)) => [NaN,NaN,[NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN]] ?

[2019-01-09 05:31] CosmoVibe opened #428 "Almost fixed the convertToLaTeX issue, missing backslash"
New issue from related #425:

`nerdamer.convertToLaTeX('sqrt(2)')`
`"\sqrt{2}"`

`nerdamer.convertToLaTeX('(sqrt(2))')`
`"\left(sqrt \left(2\right)\right)"`

There's a missing backslash before the "sqrt" when you add parentheses.

EDIT: It also doesn't process the asterick for multiplication. I think it just missed processing everything inside of the parentheses.

`nerdamer.convertToLaTeX('(2*sqrt

[2019-01-09 15:48] jiggzson commented on #428
@CosmoVibe, Fixed.

[2019-01-09 15:51] jiggzson commented on #341
@Happypig375, :laughing: looks like a song. I got foiled by an underscore so I was using the raw input. Fixed on `dev` branch. Thanks.

[2019-01-09 16:09] Happypig375 commented on #341
But this is literally #341

[2019-01-09 16:11] Happypig375 commented on #341
Wait... You closed the wrong issue!

[2019-01-10 00:58] jiggzson commented on #341
I mean #340.

I'm confused. You implemented recurring decimals. So this is done.

[code]

[2019-01-10 02:55] Happypig375 commented on #341
But this issue is about 0.'3' -> 1/3
Aka inputting recurring decimals.

[2019-01-10 03:02] jiggzson commented on #341
Got it.

[2019-01-10 19:39] #428 closed

[2019-01-10 19:39] #340 closed

[2019-01-13 00:39] tecosaur commented on #426
I've recently started writing a PR for a vscode extension [LaTeX-Worskhop](https://github.com/James-Yu/LaTeX-Workshop) for which I'd like to add the ability to go from LaTeX math statements → nerdamer evaluation → LaTeX math statement.

Surfice to say the ability to use LaTeX input would be rather handy; I was planning on writing it from scratch so if theres anything I can do to speed this develop

[2019-01-13 02:06] jiggzson commented on #426
@tecosaur, I didn't realize your project used nerdamer. Thank you for letting me know. It's always nice to know how the library is being used. I started writing a LaTeX importer utilizing the existing parser and I feel like I've had some fairly decent results but I always welcome any suggestions or contributions. I guess it would be helpful to know which functions or use cases to focus on.

[2019-01-13 03:55] jiggzson commented on #426
@Happypig375, sounds good. Here's an interesting one. `lim(x, x, Infinity)+1` output the exact same TeX as `lim(x+1,x,Infinity)`. What am I missing?

[2019-01-13 10:35] tecosaur commented on #426
@jiggzson I just had a quick squiz at your commit from 3 days ago that added basic support, and correct me if I'm wrong but are you supporting inbuilt nerdamer functions (e.g. ``\\sin`` to `sin(`) and then just writing `if` statements for latex to ascii substitutions here?

https://github.com/jiggzson/nerdamer/blob/b7bae8427ed1e770a72e5b3028369ab43eb5969c/nerdamer.core.js#L8478-L8489

(this is par

[2019-01-13 14:10] jiggzson commented on #426
@tecosaur, you are correct. Keep in mind that the current implementation is just  a very rough draft put together over my lunch break. I was curious to see if it would work and so far it seems promising.

Go for it. This instance was just a test but looping through objects would definitely be better. This works fine for "keywords" and the majority of functions but not for functions such as `integr

[2019-01-13 14:50] Happypig375 commented on #426
I think my Maths teacher told me that if limits contained addition or subtraction they must be parenthesized. Therefore, `lim(x+1,x,Infinity)` should be `\lim_{x\to\infty}\left(x+1\right)`.

[2019-01-13 14:54] tecosaur commented on #426
@jiggzson the more I think about it I think the approach should be split up into two-ish major components.

### 1

A function that reads a string and extracts general LaTeX-y statements.

Would take a form
[code]
And probably
[code]

### 2

A method to convert identified LaTeX  functions into ascii / nerdamer equivalents.

[2019-01-13 15:09] jiggzson commented on #426
@Happypig375, I'll have to look and see if the libraries you mentioned at the beginning follow that rule. That would be awesome.

@tecosaur, that sort of what's happening right now isn't it? The only difference is that in **part 1** the  `\` acts as a bypass. After that **part 2** happens which is nothing more than a loop which filters out and replaces commands. The whole thing then gets "stitched

[2019-01-13 17:42] tecosaur commented on #426
@jiggzson I'll describe the example that made me think that point one isn't fully functional at the moment.

Regarding `nerdamer.convertFromLatex( ... ).toTeX()`

`\\sqrt{4}` is converted to `2`

`\\sqrt[3]{8}` becomes something like `sqrt3 \\cdot 8` when it should be `2`

[2019-01-13 18:18] tecosaur commented on #426
In a similar vein, here's another example showing why I think there's a need found a more robust implementation of this.

[code]

[code]

If a three implementation would get `\\sum` as a LaTeX statement and extract the limits and text afterwards and pass it to the converter I imagine we could (once that's in place) fairly easily turn than into `sum(2x,x,1,5)`.

I have an idea for the implementatio

[2019-01-13 18:41] tecosaur commented on #426
To me that's desirable behaviour :grin: I'd much rather `2` than `root 4`.

I'm also creating a series of tests/assertions to be used as a benchmark/scoring/progress system of sorts. So by attention is divided, but you'll get two things for the price of one :tounge:

[2019-01-13 22:13] tecosaur commented on #426
## Update - Testing

I've written up a few tests using the mocha framework (bdd) and here's the current 'report card'.

![image](https://user-images.githubusercontent.com/20903656/51091266-545acb80-1780-11e9-984e-df1d0e10148e.png)

I think we have room for improvement.

I'll add a few more and create a PR with this tommorow if you like.

[2019-01-14 00:46] jiggzson commented on #426
@tecosaur, sounds good. Will your PR include functions and a fix for the nthroot issue as well?

[2019-01-14 00:55] tecosaur commented on #426
@jiggzson Thought I'd put what I have so far up.

The reason why I've put 'formatting commands' such as `\bigg` up is because right now they mess up the output, which IMO - they shouldn't.

ATM that's just the unit tests (well, more of a draft for some unit tests), but code for even more tests, and making more of those test pass (or at least working toward that) should come along too in due course

[2019-01-14 22:06] tecosaur commented on #426
@jiggzson I'm somewhat lost with regards to something and I'm hoping you can tell me what I'm missing.

I'm trying to resolve the first set of test cases I have defined (functions that are currently `\\mathrm{func}` that should be `\\func`, so replaced the current return at the end of `parser.toTeX(...)` with the following:

[code]

However, this doesn't seem to have changed anything...

[2019-01-14 22:20] tecosaur commented on #426
Other changes I'm making are sucessful. I'll create seperate pull requests so that different sets of changes can be reviewed seperately,

[2019-01-15 00:46] tecosaur commented on #426
### Previous State of Affairs

<img src="https://user-images.githubusercontent.com/20903656/51150508-7dea2480-185e-11e9-8d27-dff61a8de56f.png" style="display: inline-block;"><img src="https://user-images.githubusercontent.com/20903656/51150529-99552f80-185e-11e9-9541-c196401ce1e2.png" style="display: inline-block">

### Current State of Affairs
This is with the three PRs above being accepted
![ima

[2019-01-15 20:36] tecosaur commented on #426
@jiggzson A question.

With LaTeX new operators and commands can be defined via methods such as
[code]
and
[code]
and
[code]

In my the vscode extension I plan on trying to identify such lines and add them to some sort of config. I would imagine some users would also find this quite useful as they would be able to add their own commonly used substitutions.

I'm trying to locate the relevent sectio

[2019-01-15 21:31] tecosaur commented on #426
Also another issue I've encountered (can be seen in this image)

![image](https://user-images.githubusercontent.com/20903656/51210964-08d52880-190c-11e9-92b1-c6680eaab52b.png)

I don;t think this is an issue with 'times' as `2 times 2` producing `4` doesn't seem too outlandish, however other than LaTeX not doing this, there are far more commands such as `big` and `left` and `pm` where I doubt it w

[2019-01-15 21:47] jiggzson commented on #426
@tecosaur, do you think it's related to this (7bd13d2) commit?

[2019-01-15 21:54] tecosaur commented on #426
Hmmm. I'm not sure what would be easiest to implement.

1. Determine if slash was beforehand
2. Add flags
3. Concanate slash with command

@jiggzson Since you've written this, I thought you might have some ideas regarding this.

[2019-01-15 22:23] jiggzson commented on #426
@tecosaur, I'm in the same boat as you. I'm taking ideas as well. My only suggestion was to cut time by reusing the existing tokenizer. I figured we can do this since quite a bit of the LaTeX is just formatting and can be discarded. As I mentioned before the idea is then to declare `\` as an operator and then feed the string to the `Parser.tokenize`, apply a filter pass to re-arrange the tokens, a

[2019-01-15 22:25] tecosaur commented on #426
I have an idea. I'll get back to you in a few minutes.

[2019-01-15 22:36] tecosaur commented on #426
Here's my idea.
[code]

[2019-01-15 22:46] jiggzson commented on #426
Will you then be handling the commands on another pass? Another risk you run is that sometimes the `\` can denote a space or operator but you can test for that as well.

The way the filter pass currently works is by rebuilding the tokens array. If it sees `big` or `\` or `left` etc. it just doesn't add it and continues. If it encounters a function that needs reformatting, it looks ahead and and ad

[2019-01-15 23:59] tecosaur commented on #426
A few things.

Once again did something funny with the last PR, so you got a bonus change.

The Travis CI error with the second commit seems to be something funny with Travis? I did the full test suite on my machine and none of the tests (except for the in-progress latex import functionality tests I added) failed.

If you (or anyone else who's interested - @Happypig375 ?) have any ideas for good t

[2019-01-16 19:23] jiggzson commented on #426
@tecosaur, sorry for the late reply. I've been on the go since yesterday. That scorecard is looking better and better. I haven't had a chance to look at the PR's just yet but just a thought. Would you want to combine them in one PR? This way I can review and merge everything at once. As far as test cases, let me give that one a little thought. I'll go down the list of supported nerdamer functions

[2019-01-16 20:26] tecosaur commented on #426
If you could provide, or at least direct me to a list of nerdamer commands and accepted input format, that could be quite handy :smiley:

If you'd preferer I can do one PR, but I'm also happy continuing as is. Let me know what you'd like.

[2019-01-16 23:56] tecosaur commented on #426
@jiggzson Re: 'The Big PR', let me know if I've done anything I'd want to undo/change to nerdamer.core.js due to changes I only just merged from you. I think there may be one or two things but I haven't checked properly yet.

[2019-01-17 13:55] jiggzson commented on #426
@tecosaur, thanks. I'll take a look at it and let you know.  You can get the list of currently supported functions by running.
[code]

The `ln` instead of `log` issue seems to come up a lot and I'm strongly considering implementing the option to override this. Maybe something like `nerdamer.set('USE_LN', true)` or something along those lines.

[2019-01-17 18:54] tecosaur commented on #426
Regarding `ln` vs `log` I have some thoughts.

1. `ln` should be a function that represents log with base `e`
2. `log` should also be a function and should represent log to either base `e` or `10`
3. `log_b`/`log( ,b)` should also be a function that represents log with base `b`

[2019-01-17 23:08] tecosaur commented on #426
Seperately, I'd be interested to know the purpose of this code in the LaTeX parser function:

[code]

[2019-01-18 00:17] jiggzson commented on #426
@tecosaur, you can leave it as-is. I think I know what I might have broken. I'll try to get to it tomorrow, latest this weekend.

[2019-01-18 15:48] jiggzson commented on #426
@tecosaur, I'm trying to find the last commit on your `dev` branch were all the test were passing so I can isolate what I did that broke your tests? I've gone back as far as f1b706f but the test appear to be failing at that point still. Can you recall the commit? If not it's no biggie. It would just make the problem easier to isolate.

Regarding the code snippet you referenced above. I'm trying to

[2019-01-18 18:24] tecosaur commented on #426
Here's what I've done (for my fork, in console log form) hopefully this helps.

[code]

[2019-01-18 22:43] tecosaur commented on #426
Also regarding my question from earlier, I'm particularly asking about the purpose of these lines
[code]
And why `\\,` is it's own command, as all it's responsible is for a 3/16ths of an `\\quad` space (1em).

[2019-01-19 01:10] tecosaur commented on #426
`\,` is a LaTeX horizontal spacing command that's all. So I was confused to see it there. Sorry for the badly written sentance.

That's because I wrote the test as a checklist-in-progress of features that should be supported. They don't all pass because we're not there yet. We were closer in 44ebd7927bd0e4bcda3c7adbd8528bf01912007f than 9ecaabfd9d0a9c9c49c7bc34462891b6901d1f69 though :stuck_out_to

[2019-01-19 10:04] tecosaur opened #437 "Testing & Linting"
Quick diversion from me:

Let me know if you'd be interested in me sending a PR that separates out the tests like so:

![image](https://user-images.githubusercontent.com/20903656/51425270-98f7c400-1bd1-11e9-8eec-a9ed7d7f0e13.png)

https://travis-ci.com/tecosaur/nerdamer

Also let me know if you'd like me to make a PR to add eslint & eslint testing, as that can easily be done and would ensure a con

[2019-01-20 02:14] jiggzson commented on #437
Yes that would very nice. Keep in mind that Calculus fails because you don't have `Calculus.js` loaded. Please make sure they pass since them failing is a very big issue.

Thanks @tecosaur.

[2019-01-26 09:10] Yaffle opened #438 "nerdamer.factor('4677271') returns 4677271, not 2089*2239"
P.S.
Probably, unrelated to this issue, but https://github.com/peterolson/BigInteger.js was updated again.

[2019-01-26 11:56] Happypig375 commented on #438
Did you mean `pfactor`?

[2019-01-26 16:42] jiggzson commented on #426
No I haven't had a chance to work on this.

Please enlighten. I have no problem going the unorthodox route at all. I have many times in the past. Can you give me an example of what you mean?

[2019-01-26 16:45] jiggzson commented on #438
@Yaffle. Thanks. I'll take care of this.

[2019-01-27 00:18] tecosaur commented on #426
Here's an example (SageMath)
![image](https://user-images.githubusercontent.com/20903656/51794351-bbd53a00-21c8-11e9-9842-fdb505f5f0f5.png)

Quite a few functions should function identicly, i.e. addition, multiplication etc. However I can imagine this could cause a lot of 'if 1d' type statements to appear within function defenitions that don't naturally take vectors.

An alternative that should be

[2019-01-28 15:40] jiggzson commented on #426
@tecosaur & @Happypig375, would this [tex2max](https://github.com/KQMATH/tex2max/issues) be worth looking into? With the exception of a few functions, nerdamer functions map almost directly to Maxima functions. I ran across this but haven't played around with it yet.

[2019-01-28 23:45] tecosaur commented on #426
Definitely looks worth a look! I'll see if I can try it out tomorrow.

[2019-01-28 23:45] tecosaur commented on #437
I will make a PR at some point, I swear.

[2019-01-30 13:24] jiggzson commented on #437
@tecosaur, no worries. I'm somewhat tied up myself at the moment so I know how it goes.

[2019-01-30 20:53] Saikedo opened #439 "Is there a way to format return values ?"
I was wondering if nerdamer have any ways to format the way that answers are returned.

One example that comes to mind is this.

If the answer to some calculations like integral is x^(-1), is it possible to request this to be displayed as 1/x ?

[2019-01-31 02:34] jiggzson commented on #439
@Saikedo, there's no way to get the output requested at the moment. Generally you get the output put as LaTeX and then feed it to something like Mathquill, MathJax, or KaTeX. Can you give me a case that the formatted text would be preferable to LaTeX?

[2019-02-02 08:34] tecosaur commented on #426
tomorrow = now

[2019-02-04 17:50] ibreaker14 commented on #439
Hi @jiggzson we're currently writing an web application where we'd like to display answers to equations using Guppy (where answers displayed in fractions are preferred). However, Guppy doesn't support latex insertion. If there was a way to display the answers in formatted asciimath (using fractions, of course), that'd be great.

[2019-02-05 19:43] jiggzson commented on #439
@ibreaker14, as I mentioned before to @Saikedo, there currently exists no way to accomplish this. The structure of the output is predictable and discussed [here](https://nerdamer.com/digging_deeper.html) so creating this shouldn't be too hard. The `Symbol` class has two methods called `getNum` and `getDenom` which can be called to get the numerator and the denominator for group `N` and `S`. All ot

[2019-02-08 21:05] Saikedo opened #440 "Some invalidly formatted equations return an empty string instead of throwing error."
nerdamer("5+") returns an undefined instead of throwing an error.

something like nerdamer("(5") throws an error saying "Missing closed bracket for bracket at 1".

I find the 2nd approach to be better because it allows us to see what was wrong and this allows us to notify the user about the mistake done in their input.

Is there a reason why the first example that I presented does not throw an err

[2019-02-09 21:38] jiggzson commented on #440
@Saikedo, this is a bug but fortunately it's easily remedied. You can quickly perform check when processing the stack and if the RH value is `undefined` you can throw an error. No need to check LH values since this check was already performed when generating the RPN. Just add the snippet below right after [this](https://github.com/jiggzson/nerdamer/blob/b7bae8427ed1e770a72e5b3028369ab43eb5969c/ner

[2019-02-09 21:39] jiggzson commented on #426
@tecosaur, any luck?

[2019-02-09 21:41] tecosaur commented on #426
Unfortunately, I didn't get it to work too well. It helped with some things but broke others. Also when it broke it didn't just return the input, it raised an exception which make it look like there wouldn't be much room for post-processing. :disappointed:

[2019-02-09 21:47] jiggzson commented on #426
Ok cool. I'll continue with current solution. Just bear with me since I'm a little pressed for time at the moment but we'll get it done.

[2019-02-09 23:40] #439 closed

[2019-02-15 23:06] jiggzson commented on #438
@Yaffle, thanks again for catching this and fixing this. If you're happy with the fix feel free to close this.

[2019-02-16 00:00] Yaffle commented on #438
@jiggzson , I have stolen the `ifactor` code from your lib, thank you

[2019-02-16 00:00] #438 closed

[2019-02-16 18:03] jiggzson commented on #438
@Yaffle, anytime.

[2019-02-16 22:22] selairi opened #442 "sqrt(2/a) returns 1/(2^(1/2)*a^(1/2))"
Hello,
I have just found that if you write sqrt(2/a), nerdamer returns:
\frac{1}{\sqrt{2} \cdot \sqrt{a}}  == 1/(2^(1/2)*a^(1/2))

The right output should be:

\frac{\sqrt{2}} {\sqrt{a}}  == 2^(1/2)/a^(1/2)

It fails if it founds sqrt(number/x).

Thank you for your amazing tool.

[2019-02-17 19:05] AlienKevin opened #443 "Cannot solve x to the negative powers, log, and trig functions"
Hi, I have looked for an equation solver written in Javascript for a long time but found none that has enough features and reliable at the same time. My needs are relatively simple: A solver that is able to symbolically solve a single equation containing logaritms, trigs, and negative powers. A couple solvers that can do some of those tasks like MathPapa and quickMath are close-sourced so they are

[2019-02-18 13:40] jiggzson commented on #442
@selairi, looks like this was an oversight on my behalf when fixing #401. It's a fairly simple fix. Let me know if this is a showstopper for you.

[2019-02-18 13:53] jiggzson commented on #443
@AlienKevin, thank you for the detailed description of the issue. You're absolutely correct. It's not very hard at all. The next 3 major issues on my agenda are #239, #322, #426. #322 is more than likely going to require a complete rewrite of the solve function and in order to do so I'll need a reasonable amount of tests to make sure I don't break anything which currently works. If you already hav

[2019-02-19 08:07] selairi commented on #442
I have just sent a PR (pull request) fixing this bug. Could you be so kind to merge in main branch?

Thanks for your work.

[2019-02-19 09:41] AlienKevin commented on #443
I don't have any but I'm happy to help generate some. I don't know how this works. Do you have any guidelines for generating test cases?

[2019-02-19 10:28] AlienKevin commented on #443
I also have an issue when trying to override the builtin log() function using the replaceFunction method recommended in #248:

[code]
The output is very bizzare:
\>nerdamer("log(e)").evaluate().text()
"0.43429448190325176"
\>nerdamer("log(10)").evaluate().text()
"0.43429448190325176"

\>nerdamer("log(10^2)").evaluate().text()
"0.8685889638065035"
\>nerdamer("log(e^2)").evaluate().text()
"0.8685889

[2019-02-19 14:31] jiggzson commented on #443
@AlienKevin, I'm not too sure what's going on with the above code but if simply change the base then it yields the correct result
[code]

[2019-02-19 15:37] AlienKevin commented on #443
We have essentially the same procedure, you divide `loge(x)` by `loge(10)` which is the same as I multiply `loge(x)` by `log10(e)`. (`log10(e) = 1 / loge(10)`). I tried your approach and it works for the two examples you give but fails again for `log(e)` and `log(e^2)` and other values close to powers of `e` like `log(e^2 + 2)`. I also observed that the new function is executed three times which I

[2019-02-19 15:56] AlienKevin commented on #443
I looked at the spec, so what types of tests/functions are you looking for now? Do I just come up with some functions and plug them into Wolfram Alpha and document the result? And how can I make edits to the spec file?

[2019-02-19 16:15] jiggzson commented on #443
@AlienKevin, I see what you mean. The `replaceFunction` method needs some polishing. I do notice that if you evaluate `x` that this fixes the issue. I need to look into this some more.
[code]
But that's probably not what you're looking for. As far as the function being called multiple times, remember that this method is now somewhat recursive since you're reusing the existing `log` function. If yo

[2019-02-20 10:59] AlienKevin commented on #443
Thank you for your detailed reply. The new `log` replacement does work as expected. However, do you know any ways to set up `ln` (natural log) and `log` (base 10) at the same time? I don't see a way to rename built-in functions. The new `log` replacement calls the builtin `log` (natural log) and then divide it by a constant, but the expression still displays `log` instead of `ln`.

[2019-02-20 15:51] jiggzson commented on #443
@AlienKevin, the `ln` issue seems to come up quite a bit. Going forward, I've decided to add the option of using `ln` for `log` and `log` for `log10`.

[2019-02-21 11:09] AlienKevin commented on #443
I'm looking forward to the improvement :)

[2019-02-22 20:27] AlienKevin opened #445 "nerdamer.simplify not working for functions containing two or more variables"
Sample problems:
1. `nerdamer.simplify("4*sqrt(2+a*b)").toString()` => `"sqrt(2+a*b)"` (notice the `4` is dropped)
2. `nerdamer.simplify("4*sin(2+a*b)").toString()`    => `"16*sin(2+a*b)^2"` (the whole expression is squared) This happens for many other functions as well, like `abs`, `cos`, `tan`, `log`.

Interestingly, the above two errors don't happen when the coefficient is a variable,
like `ner

[2019-02-22 20:39] AlienKevin commented on #445
I'm also not so sure about whether I should post these minor errors or not since I feel there may be more urgent/important things for nerdamer developers. Please stop me if you feel this is annoying.

[2019-02-23 12:11] Happypig375 commented on #445
It's very good that you reported a bug. If you don't report it, it might go unnoticed! You should do this more often instead of feeling bad about it. If there are more important things to be developed, this issue will just stay open, but as a todo item.

[2019-02-24 23:04] jiggzson commented on #445
@AlienKevin, as @Happypig375 pointed out, please do report bugs. In the spirit of open source it benefits you as a user of the library to have it as stable as possible, which involves you reporting pretty much every bug you find. My only request is not to open up unnecessary issues by checking first if there's already an existing issue. If there is one then report it under that one. Too many scatt

[2019-02-25 20:54] AlienKevin commented on #445
Thank you guys for being friendly and welcoming to me. Your works are amazing! I really love Nerdamer.:heart:

[2019-02-27 05:43] Kreijstal opened #447 "Does nerdamer support evaluation to arbitrary precission?"
I don't see any information of this in the docs.

https://nerdamer.com/functions/Expression.evaluate.html

[2019-02-27 10:33] Happypig375 commented on #447
The addition of this functionality is being discussed in #404

[2019-03-01 13:39] Kreijstal opened #448 "simplify returns NaNs"
if you do the following
nerdamer("simplify(diff((a k+ b k^2)/k^4,x))",{k:"2x+5"})
diff appears to work just fine, but simplify returns a mess somehow

It seems to differentiate OK!
![grafik](https://user-images.githubusercontent.com/2415206/53641471-580eb880-3c2f-11e9-88da-ec2238737648.png)

here is working with the complete simplify
![grafik](https://user-images.githubusercontent.com/2415206/5364

[2019-03-02 00:43] jiggzson commented on #445
You're welcome @AlienKevin and thank you as well.

[2019-03-02 00:48] jiggzson commented on #448
@Kreijstal, thanks for reporting. Keep in mind that `simplify` was just started although I suspect this bug to be related to `factor` rather than simplify. Even discounting this bug, `simplify`, at least in the manner you're attempting to use it, still has a long way to go. I'll look into this.

[2019-03-02 00:51] jiggzson commented on #447
Moved to #404

[2019-03-02 00:51] #447 closed

[2019-03-02 11:01] Kreijstal commented on #445
how can I contribute to this project if I want to fix those bugs?

[2019-03-02 11:16] Kreijstal commented on #350
I'd also would like to use assumptions on the nerdamer parser itself, or assumption blocks
[code]
or some preferred syntax for that.

Also expression testing
`(x>1||x<1) == (x=1) == !({U}\1)` //true

[2019-03-02 13:19] Kreijstal commented on #350
also knowing the range of a function
`2 > sin(x)` is true assuming x in {R}

[2019-03-02 13:33] Happypig375 commented on #350
I think a more consistent syntax with other parts of nerdamer would look like:
[code]

We could simplify all assumptions when possible, so both `not (x>1 or x<1)` and `not {U}\[1]` would simplify to `x=1`. This could replace variable substitutions as well!

Agreed on `2 > sin(x) and x in {R}` simplifying to `true`.

[2019-03-04 20:28] Saikedo opened #449 "Incorrect output for some numbers that are raised to 1/2."
So I noticed today that some specific numbers raised to 1/2 produce an incorrect result. For example

`Number(nerdamer("(11.85)^(1/2)").evaluate())`

Outputs 13.769531582446806 while the expected result is 3.4423828956117.

What is weird is that the 11.85 number is very specific. Meaning 11.851 raised to 1/2 works just fine.

[2019-03-06 00:41] jiggzson commented on #445
@Kreijstal, sorry for the late reply. I'll gladly take a PR with a bug fix. It's typically preferable for PR's to go to`dev` but because of time constraints a PR directly to `master` will do. Just make sure to include a test case for the bug you're fixing and that all tests are passing. If you have any questions I'll be more than happy assist. Just keep in mind that I'll be a little slow to respon

[2019-03-06 00:46] jiggzson commented on #449
@Saikedo, I don't even know how to feel about the fact that bugs like this persist after all this time. Dividing 13.769531582446806 by 3.4423828956117 gives me 4 which lets me know that I'm off by a factor of 2 somewhere since it's the square root. I'll take a look at this. Thanks for reporting.

[2019-03-06 02:05] jiggzson commented on #449
@Saikedo, the problem can be traced back to factors of squares moved from under the square root. `20^(-1/2)` gives the same incorrect result. You can fix the problem by changing [this](https://github.com/jiggzson/nerdamer/blob/a2a8cedfe50d9563dd9aff28f8f49e64222f1f1e/nerdamer.core.js#L6745) line from

[code]

to

[code]
I'll leave this issue open until I can apply this fix.

[2019-03-06 02:57] jiggzson commented on #350
@Kreijstal, I think that what @Happypig375 meant, and correct me if I'm wrong @Happypig375, is that the `assume` function would create a block/scope in which a particular assumption would be true. This type of implementation is much easier than a global assumption since this would essentially require a rewrite from the ground up. Even then it might be quite messy keeping track of different assumpt

[2019-03-15 02:43] Saikedo opened #453 "buildFunction for acsc, asec and acot fail."
buildFunction was calling build where build was relying on Math2 variable to build a function for acsc, asec and acot. There was a bug where these functions were not declared in Math2 variable.

Martin I already made a pull request (Pull request #452) with the fix for this bug. Please check the request whenever you can.

Thank you.

[2019-03-15 21:38] Saikedo commented on #453
Made a mistake in my math logic :( I closed the pull but I will make a pull with the fix later this evening.

[2019-03-16 17:30] #453 closed

[2019-03-16 17:34] Saikedo opened #455 "Bug when using buildFunction for acsc, asec and acot. Bug where calculation of acot is wrong."
Ok, so I made another pull request (#454) and this pull addresses couple of issues.

1) A crash that was caused by buildFunction for acsc and asec has been fixed.

2) Bug, where the calculation of acot for negative numbers was wrong, has been fixed.

3) After step 2, I needed to fix another bug for buidFunction that would cause a crash for acot.

Martin, please let me know if you need an explanati

[2019-03-19 17:31] Kreijstal opened #456 "Get domain of a function"
is it possible after sets being developed to get the domain of an arbitrary function?

[2019-03-20 00:03] Happypig375 commented on #456
Related to Section 5.2 of #350

[2019-03-20 01:49] ibreaker14 commented on #404
Hi @jiggzson do you have any updates for this issue?

[2019-03-27 21:15] FilipeAC opened #457 "Polynomial Fraction form"
I'm working with process control problems and we usually represent our functions as a ratio of polynomials. I tried several commands from the documentation such as .evaluate() or .expand() or even try to force the final form of an expression collecting the numerator and denominator and using .divide command, but the results are not always successful.
For example, 3+1/x I'd like (3x+1)/x as the fin

[2019-04-06 19:51] jiggzson commented on #456
@Kreijstal thanks for the proposal. Looking at this proposal it seems that the way to implement this is would be by using a lookup table for functions. Do you know of a way to accomplish this arithmetically?

[2019-04-06 19:52] jiggzson commented on #455
@Saikedo, I left a comment on the PR but if you want we can continue the discussion here.

[2019-04-06 19:52] jiggzson commented on #457
@FilipeAC, I'll look into this.

[2019-04-06 19:53] jiggzson commented on #404
@ibreaker14, yes. I'm going to be starting this shortly.

[2019-04-07 23:22] Saikedo commented on #455
@jiggzson I left a comment on the RP so let`s just continue there I guess :)

[2019-04-08 01:21] #440 closed

[2019-04-08 01:21] #442 closed

[2019-04-08 01:21] #449 closed

[2019-04-08 19:49] Saikedo opened #458 "Some definite integral functions freeze and never return causing the program to hang."
I noticed that some definite integral functions cause nerdamer to get into an infinite loop or something and that causes the program to hang after calling nerdamer. One of those integrals is this

nerdamer("defint(x^x^2,0,5)").evaluate().toString()

[2019-04-08 19:55] Saikedo commented on #458
Note: I also just realized that some other functions besides integral also freeze nerdamer. One example of this behavior is this.
nerdamer("sqrt(1-(3.3333333550520926e-7)^2)").evaluate().text()

[2019-04-10 02:18] jiggzson commented on #458
@Saikedo, the second issues seems to be related to pfactor

[2019-04-10 02:28] jiggzson commented on #455
See #454

[2019-04-10 18:17] Saikedo opened #459 "BuildFunctions that contain error throws crash when error is thrown."
I noticed that using BuildFunction can sometimes return functions that contain error throws such as throw new UndefinedError and so on. There is a problem here since these errors will not be defined outside nerdamer, especially if the result from build function is fed into 3rd party library for calculation.

One way to reproduce this bug is as follows.

[code]

Instead of returning NaN or undefine

[2019-04-10 18:18] Saikedo commented on #455
@jiggzson Was there a decision made in #454 ? I checked the commit request and could not find anything new there.

[2019-04-10 22:28] jiggzson commented on #455
Yes. I'm going to be merging this PR. Can you pull the recent changes? Saves me some time.

[2019-04-10 22:32] jiggzson commented on #459
Maybe a try...catch block and then return an error related to build? Something like `BuildError`. I'm just shooting from the hip here. I haven't actually looked into this yet.

[2019-04-10 22:33] Saikedo commented on #455
@jiggzson Will handle that once I get home from work. I have another push to make for Nerdamer anyway so I will handle both of those this evening.

[2019-04-11 21:08] Saikedo commented on #459
@jiggzson That was my first intuition as well and what I did was to build a wrapper function with a try-catch block that surrounds the functions created by nerdamer`s buildFunction. This is a terrible idea unfortunately because try catch reduces the execution speed by a substantial amount.

We use the return of BuildFunction in graphical libraries a lot and the execution time of the repeated call

[2019-04-11 22:28] jiggzson commented on #459
Wow. I might be wrong here since I'd expect some overhead however 100 times slower sounds like a lot. More importantly, why is the try-catch block being triggered so often for it to cause that kind of slow down. How often is the code above being executed? I would think that you'd call `buildFunction` once then then keep reusing that function.

[2019-04-12 02:36] #458 closed

[2019-04-12 02:36] #459 closed

[2019-04-13 07:43] CosmoVibe opened #461 "Wrong Calc: x^2 + x = x^3 on dev branch"
Disclaimer: This is from the version on the dev branch, not sure if I'm supposed to be making issues here like this, let me know if I should put dev issues elsewhere or not post them at all.
[code]
[code]

[2019-04-13 14:14] jiggzson commented on #461
No that's fine. Just indicate in the title that it's on the `dev` branch. Good catch. Thanks.

[2019-04-13 21:31] jiggzson commented on #459
@Saikedo, this was closed automatically on commit. I think it's fixed but let me know if it's not.

[2019-04-15 21:27] jiggzson commented on #461
Fixed.

[2019-04-15 21:27] #461 closed

[2019-04-17 02:04] #455 closed

[2019-04-17 02:17] FilipeAC opened #463 "solveFor returning an error"
I'm not quite sure if this is a problem with solveFor or a deeper problem but whenever I try to execute the command

**nerdamer("999999999*K + 7 = 0").solveFor("K")**

the following error is returned.

E {name: "InvalidVariableNameError", message: " is not a valid variable name", stack: "InvalidVariableNameError:  is not a valid variable…nerdamer/Solve.js:854:16)↵    at <anonymous>:1:33"}

But if

[2019-04-19 18:41] Saikedo opened #464 "Problem with pow functons that come from BuildFunction."
So it seems like JavaScript always returns NaN when you raise a negative number to decimal power.

So for example Math.pow(-5,1/3) returns NaN when it should have gave us −1.7099759466.

Nerdamer is actually capable of handling this and the operation

`nerdamer("(-5)^(1/3)").evaluate().text()`

does successfully return "-1.7099759466766968".

When I try to build a function however like this,

[cod

[2019-04-20 18:30] jiggzson commented on #463
@FilipeAC, this one has to do with rounding in `solve`. I'm rewriting the function to stop depending on JS `Number` which should take care of this. If you absolutely need a fix right away, let me know.

[2019-04-20 18:49] jiggzson commented on #464
@Saikedo, unfortunately there's no easy solution. Technically this is more of a JavaScript issue. One solution is to override the behavior of `Math.pow`. Since nerdamer doesn't touch native objects outside of polyfills, you'll have to preform this override yourself. You could for instance do something like this:
[code]
In this case we're converting the decimal power to a fraction. This allows us t

[2019-04-21 00:18] Saikedo commented on #464
That is a good solution actually and I have been using something similar but what can we do about the cases such as (-5)^(2/3). Should the answer here be -2.924017738212866 as returned by this approach or 2.92401773821 since -5 is being squared in this case?

[2019-04-21 01:46] jiggzson commented on #464
@Saikedo, as I mentioned earlier, this might need some tweaking and testing but you're right. I forgot about those. Since your already have the power in fraction form, then only negate if it's odd. Building on the previous example:
[code]
Please go ahead and close this issue if this resolves it.

[2019-04-21 16:53] Saikedo commented on #464
@jiggzson The solution had a small bug in toFraction function. Are you using this toFraction function in nerdamer? It had an issue with negative numbers. For example toFraction(-1/2) was returning [0,1] instead of something like [-1,2]. Here is my fixed version of that function.

[code]

[2019-04-21 16:53] #464 closed

[2019-04-23 23:21] Saikedo opened #465 "evaluating log(x^even number) uses an inaccurate identity."
So we know the identity log(x^2) = 2*log(x) right? That is all fine and accurate up until the point where our x becomes negative unfortunately. For example,

nerdamer("log(x^2)").evaluate().text() returns 2*log(x) but this is not correct for the following reason.

log(x^2) where x = -2 is equal to 0.602
2*log(x) where x = -2 is undefined(or imaginary)

Any easy fixes for this issue?

[2019-04-24 01:34] FilipeAC commented on #463
I'll try a workaround and wait for a future fix. I'll post here any progress if I find any.

[2019-04-24 23:41] jiggzson commented on #465
Interesting point. One solution I can think of is to return a*log(|x|) for log(x^a) where a is even. This can be achieved by adding that condition after performing the transformation right after [this](https://github.com/jiggzson/nerdamer/blob/1fa6c5cbcd9b1f93f76ab68ba9d0573839801167/nerdamer.core.js#L6520) line. You could add the following bit of code

[code]
I don't know if modifying the `argume

[2019-04-24 23:52] jiggzson commented on #463
@FilipeAC, no workaround needed. I know exactly what the problem is. [This](https://github.com/jiggzson/nerdamer/blob/1fa6c5cbcd9b1f93f76ab68ba9d0573839801167/Algebra.js#L1710) line can be changed from
[code]
to
[code]
The error will go away but rounding error will be introduced to to the way floating point numbers are handled. It should go away permanently when I finish converting this function t

[2019-04-25 01:22] Saikedo commented on #465
@jiggzson That is a great solution actually. I can`t see any issues with that approach either. Are you planning to add this to the source code?

[2019-04-25 02:02] jiggzson commented on #465
Yeah. We can do that. Let's leave this issue open for now until I get a chance to do so.

[2019-04-26 00:21] FilipeAC commented on #463
Nice! It solved my problem. The error itself was the problem for me.

Thanks!

[2019-04-29 01:33] jiggzson commented on #463
@FilipeAC, great.

[2019-05-01 21:21] Saikedo commented on #465
@jiggzson `arguments[0] = abs(symbol);` is not working as expected. I am assuming that it just applies absolute value to numeric values? Because when I do abs of symbol x for example, I just get x back.

[2019-05-03 18:10] Saikedo opened #468 "Bug for sqrt(nx) when n is negative."
I just realized that nerdamer encounters numerous bugs when you try to evaluate or build a function for roots such as

sqrt(nx) where n is negative. I understand that sqrt of a negative number can be undefined but sqrt(nx)  n < 0 is well defined for all x <= 0.

[2019-05-05 14:49] jiggzson commented on #468
I don't know if I've mentioned before but as with most symbolic packages, all symbolic values are assumed to be positive. This greatly simplifies our assumptions. Your above example addresses negative values for x but what about negative coefficients? What about a*b*c*x where a, b, c, x can have a combination of negative values? See where I'm going with this? This is where issue #350 would be supe

[2019-05-05 14:51] jiggzson commented on #465
@Saikedo, can you give an example? Are you talking about in the context of the `log` function?

[2019-05-06 21:18] Saikedo commented on #465
Well, following the example that you provided above,
[code]

It seems like the symbol actually contains "x^2" and doing abs("x^2") just returns "x^2" Which I am assuming is intentional.

[2019-05-07 20:44] Saikedo opened #470 "Issue with throwing an undefined error instead of returning infinity."
There are numerous cases where nerdamer throws an error instead of returning infinity. One example is tan(pi/2). So just for tan(pi/2) it is fine to return an error saying it is not defined but we start getting issues with expressions such as 1/(tan(pi/2)). All the other calculators are returning 0 for this value since tan(pi/2) goes to positive infinity.

Is this something that can be easily fixe

[2019-05-08 01:45] jiggzson commented on #470
Would doing a try, catch and returning the limit of the function if it's an undefined error work?

[2019-05-08 10:49] Happypig375 commented on #470
Important question: Should Infinity or -Infinity be returned? Different limits from different directions. We can add a `UnknownSignInfinity` though.

[2019-05-08 10:50] Happypig375 commented on #470
Or `ComplexInfinity` lime Wolfram Alpha.

[2019-05-08 21:16] Saikedo commented on #470
@Happypig375 Can we somehow distinguish between the negative and positive infinities when returning? It would be great if we can indicate the sign of the infinity.

[2019-05-09 04:44] Happypig375 commented on #470
`Infinity` and `-Infinity` is both in Nerdamer. However, `tan(pi/2)` is `Infinity` when approached from the left hand side, `-Infinity` from the right hand side. Both answers are incorrect if you consider the other case. `ComplexInfinity`, which is an infinity with unknown sign, is best as the answer.

[2019-05-15 11:13] roy77 opened #471 "Error in function ilt"
version: 0.8.4

var y = nerdamer("ilt((0.70193)/(s-(181/41))+(0.2685)/(s-(-242/91)), s, t)").evaluate()

TypeError: e is undefined[Weitere Informationen] nerdamer.core.js:5366:17
    parseRPN file:///D:/XAMPP/App/xampp/htdocs/nerdamer-0.8.4/nerdamer.core.js:5366
    parse file:///D:/XAMPP/App/xampp/htdocs/nerdamer-0.8.4/nerdamer.core.js:5479
    evaluate file:///D:/XAMPP/App/xampp/htdocs/nerdamer-

[2019-05-15 13:35] roy77 opened #472 "Error adding an expression"
nerdamer("x ^ 3 + 23.80952380952381 * x ^ 2 + 1.4705882352941178e+5 * x")

RangeError: invalid array length
nerdamer.core.js:240:46
    scientificToDecimal file:///D:/XAMPP/App/xampp/htdocs/nerdamer-0.8.4/nerdamer.core.js:240
    e file:///D:/XAMPP/App/xampp/htdocs/nerdamer-0.8.4/nerdamer.core.js:4897
    RegExpGetFunctionalReplacement self-hosted:4956
    RegExpGlobalReplaceOptFunc self-hosted:50

[2019-05-16 10:08] roy77 opened #473 "latex output with decimal"
The text function accept a parameter "decimal"  to get back numers as decimals. Same should be possible in latex function.

Also a parameter to define the shown digits would be nice.

[2019-06-27 15:37] jiggzson commented on #473
@roy77, sounds good.

[2019-06-27 15:37] jiggzson commented on #472
Thanks for bringing this to my attention. I'll look into this.

[2019-07-04 19:25] FilipeAC opened #474 "solveFor failing for long expressions"
I noticed a while ago that trying to solve some expressions using solveFor return the following error:

**Uncaught RangeError: Maximum call stack size exceeded
    at toString (nerdamer.core.js:1802)
    at text (nerdamer.core.js:1898)
    at Symbol.collectSymbols (nerdamer.core.js:3615)
    at text (nerdamer.core.js:1930)
    at nerdamer.core.js:1940
    at Symbol.collectSymbols (nerdamer.core.js

[2019-07-10 07:47] 30kpl4y opened #475 "Solving system of linear equations with complex numbers"
Is there any way to solve a system of linear equations with complex numbers on it?

Have this string of 2 equations with 2 variables (**i1** and **i2**), being **'j'** the imaginary unit.

nerdamer.set("IMAGINARY",'j')
str = [
"6 * ( i1 ) + ( 1 / ( j * 31)) * ( i1 ) + 251* j * ( i1 - i2 ) = - 20" ,
"3 * ( i2 - 3 ) + ( 1 / ( j * 628)) * ( i2 ) + 314* j * ( i2 ) + 251* j * ( i2 - i1 ) = 10"
]

[2019-07-26 19:48] Saikedo opened #476 "Weird bug when using negative numbers and pi in Sin function."
I just noticed that equations such as sin(-2*pi/180) produce a bug where the negative sign is ignored. The strange thing is that if I use the value of pi instead of pi, then the equation returns the expected answer. Any ideas what might be going wrong here?

[2019-07-26 21:03] Saikedo opened #477 "csc returns a wrong sign for negative numbers"
It seems like a negative vale of the csc is ignored and we have a bug where csc(x) = csc(-x) for all x.

By looking at the code I noticed that we apply absolute value on the symbol but I am not sure why. Any idea why?

[2019-08-02 14:13] matt-mert opened #478 "Solvable linear equation but getting "Division by zero not allowed!" error"
I am trying to solve this equation;
2*a+5*b=9
2*a+3*c=7
3*c-5*b=2
a=b+c
But I am getting "Division by zero not allowed!" error.
However, it can solve this below example equation at nerdamer quick start page with no errors.

[code]

Here is my code:

[code]

And the picture of the error:

https://i.ibb.co/J5jbzsx/issue.jpg

[2019-08-05 10:01] #478 closed

[2019-08-07 20:45] Saikedo commented on #476
Ok, I think I zeroed in on a possible solution. Take a look at this code.

`sin: function (symbol) {
                if (Settings.PARSE2NUMBER) {
                    if (symbol.isConstant()){
                        return new Symbol(Math.sin(symbol.valueOf()));
                    }
                    if (symbol.isImaginary())
                        return complex.evaluate(symbol, 'sin');

[2019-08-08 16:00] jiggzson commented on #475
I'll look into this. Thanks.

[2019-08-08 16:01] jiggzson commented on #474
@FilipeAC, looking into this.

[2019-08-08 16:01] jiggzson commented on #478
@matt-mert, did you resolve your issue?

[2019-08-08 16:30] 30kpl4y commented on #475
That would be awesome. Thanks.

[2019-08-08 16:40] jiggzson commented on #476
You sir are correct. Thanks for catching that.

[2019-08-08 22:37] Saikedo opened #479 "Bug in equals method of symbol"
There seems to be a bug in equals method of the symbol. Here is what I noticed

The expression `nerdamer("sin(((pi)\^2)+pi)").evaluate().text()` returns "0" which is wrong. I was trying to debug this issue when I noticed that the following if statement is evaluated as "true" which is not correct.

[code]

So the symbol here was pi+pi^2 but the equals shows like it is equal to pi.

And here is the

[2019-08-09 01:24] jiggzson commented on #479
Simple fix. Replace symbol.equals with

[code]
Forgetting to check that the groups match as well.

[2019-08-09 02:11] jiggzson commented on #474
The ironic part is that this error wasn't related to `solveFor` at all but was a super old bug deep in the core. Your issue does illustrate the need for having a simplify function but that's a separate issue.

[2019-08-09 03:21] jiggzson commented on #479
@Saikedo Do you think that you'll be able to create some test cases for this one?

[2019-08-09 20:53] Saikedo commented on #479
@jiggzson I sure can. Can you tell me a bit about what scenarios would be best to test here? Also, where do we write the tests for Nerdamer?

[2019-08-09 20:56] Saikedo commented on #479
@jiggzson Also I already added the fix in my version that I will make a push for soon so no need for you to add it as well.

[2019-08-09 20:57] Saikedo commented on #477
@jiggzson Nevermind. Already fixed the issue and will push soon.

[2019-08-10 00:30] jiggzson commented on #479
@Saikedo, thanks. I appreciate that. Tests are in the `/spec` folder. I guess it would make sense that tests for `equals` go in the `core.spec` folder. Also I've already added a fix for this as well so just pull in the changes before committing.

[2019-08-10 01:35] FilipeAC commented on #474
Yeah, I confess I do miss a simplify function for Nerdamer. My workaround here was the Algebrite's simplify function to make expressions smaller. I'm glad that you identified the problem!

[2019-08-10 02:25] jiggzson commented on #474
Sounds good. Currently working on wacking some bugs, simplify, and beefing up solve a bit.

[2019-08-10 21:09] jiggzson commented on #475
@30kpl4y, this should be fixed.

[2019-08-10 23:39] jiggzson commented on #478
@matt-mert, I get `matrix([0,5,-3],[-2,0,-3],[-2,-5,0])` for the coefficient matrix which has a determinant of 0. I don't think your system has a distinct solution. I do think the error message can use some work.

[2019-08-11 06:19] Happypig375 commented on #478
For systems of equations that have infinite solutions, it may be useful to output parametric equations, e.g. in terms of `t`.

[2019-08-11 18:27] Wlowscha opened #480 "Square roots in fractions don't simplify"
When I write an expression such as

sqrt(2) - 2/sqrt(2)

the fraction doesn't simplify, and consequently the result is not 0.

I skimmed through the other issue reports (including #239 ) and didn't find anything specifically addressing this. Since it is a very basic thing I expect it to be already known, in which case I apologize.

[2019-08-11 21:59] 30kpl4y commented on #475
@jiggzson, still not working... even with simple equations like the following:

`const resul = ["2*X1 - 4*X2 + 2*i = 3","- 5*X1 + 8*X2*i - 4*i*X1= 2"]
const sol = nerdamer.solveEquations(resul);`
**Error: System must contain all linear equations!**

![submit_git](https://user-images.githubusercontent.com/52736640/62840016-a5d22700-bc8b-11e9-80e8-bf80a7b7f581.jpg)

[2019-08-11 22:46] jiggzson commented on #475
Are you using the `dev` branch? I forgot to mention that.

[2019-08-12 03:54] jiggzson commented on #480
@Wlowscha, fixed on `dev`. Thanks for pointing it out.

[2019-08-12 08:32] 30kpl4y commented on #475
I've just used the `dev` branch and I got no error message but the result is always wrong.
I thing it is not assuming **i** as imaginary number.
Check this:
`0:Symbol {group: 8, value: "-3-4*X2+2*X1+2*i", multiplier: Frac, …}
group:8
imaginary:false
isInfinity:false
length:4`

[2019-08-12 08:55] Wlowscha commented on #480
Thank you! Indeed, it works now.

However, the same issue remains for a similar kind of expression, that is
1/sqrt(2) - sqrt(2)/2
which I should have mentioned sooner.

In an attempt to come up with more cases, I noticed something weird with expressions like
2/sqrt(6) - sqrt(2)/sqrt(3)
and
sqrt(6)/2 - sqrt(3)/sqrt(2)
These both return 0 when .evaluate() is called, but they don't simplify when .tex

[2019-08-12 17:07] Saikedo opened #481 "Add dependencies when building JS functions in buildFunction"
Is there a reason why the factorial for evaluating and for buildFunction differ so much?

Take a look at these examples

nerdamer("3.1!").evaluate().text() // returns "6.812622863016674"
nerdamer("-3!").evaluate().text() // returns "-6"

let f = nerdamer("x!").buildFunction('x')
f(3.1) // returns 6. basically it seems to use floor on argument before evaluating
f(-3) // Not even defined so it throw

[2019-08-12 17:28] jarble commented on #251
In some cases, inequalities can be re-written as equations using the [sign function](https://en.wikipedia.org/wiki/Sign_function). `x>0` could be written as `sqrt(x)/x = 1`.

[2019-08-12 17:53] jarble opened #482 "Solving Boolean formulas"
I realize that it's possible to solve boolean formulas by [rewriting them as equations](https://stackoverflow.com/questions/40872875/solving-constraint-satisfaction-problems-in-sympy), but I'm not sure if Nerdamer can do this automatically.

For example, `(a = 2 or a=3) and (b=4 or b=a)` could be written as `(a-2)*(b-3) + (b-4)*(b-a) = 0`. This method only works when the expression is written in c

[2019-08-12 18:18] Saikedo commented on #465
@jiggzson Any updates on this issue ?

[2019-08-12 20:08] jiggzson commented on #482
@jarble, unfortunately not. I'd like to consider this as something to add so if you'd like we can keep this discussion going. The timeframe of course depend on its complexity.

[2019-08-12 20:15] jiggzson commented on #465
@Saikedo, I don't have any updates. This issue is very closely related to #350 IMO. That way we can respond accordingly based on the provided input. The problem with incorporating assumptions is that it requires major rewrite of the core which I can't seem to find time for lately.

[2019-08-12 20:21] jiggzson commented on #251
@jarble, thanks for the input. Definitely something to consider. Does `x<0` then become `-sqrt(x)/x = 1`? This might be a silly question since I just skimmed the article but would be a rewrite for `x>=0`? Do you break it up into two equations at this point?

[2019-08-12 20:25] jarble commented on #251
Yes, `x<0` could be also be written as `sqrt(x)/x = -1`. `sqrt(x)/x` is undefined when x = 0, so `x >= 0` would need to be written in another way.

[2019-08-12 20:37] jiggzson commented on #475
@30kpl4y, give it another go. The answer might not be as neat as you'd expect but I think they're correct now. Let me know.

[2019-08-12 20:46] jarble commented on #251
`sqrt(x^2)` can also be written as `abs(x)`.

[2019-08-12 20:50] jiggzson commented on #481
The factorial for fractions is calculated using the gamma function. The good news is that gamma function already [exists](https://github.com/jiggzson/nerdamer/blob/37862579dfedf73c86c1383a76324a12e0c91a56/nerdamer.core.js#L1142) so that part is easy. The hard part is that `buildFunction` doesn't pull down internal dependencies so it's not as simple as `if x not int: return Math2.gamma(x)`. I'll re

[2019-08-12 21:55] jiggzson commented on #480
1/sqrt(2) - sqrt(2)/2

@Wlowscha, I forgot to take care of those cases.

2/sqrt(6) - sqrt(2)/sqrt(3)
and
sqrt(6)/2 - sqrt(3)/sqrt(2)
These both return 0 when .evaluate() is called, but they don't simplify when .text() or .latex() are called.

Those types of simplifications are more than likely going to handled by the `simplify` function at some point.

It's perfectly okay. Please do. We can't fix

[2019-08-13 10:10] 30kpl4y commented on #475
@jiggzson I think the main issue is solved. My only concern for now is how can I convert the real and imaginary part into an exponential notation. **Result below**
![SharedScreenshot](https://user-images.githubusercontent.com/52736640/62933655-9ac9e480-bdba-11e9-820a-e609ceb33c22.jpg)

Do you have any recomendation?

[2019-08-13 13:39] Saikedo commented on #481
@jiggzson Please let me know if this is something that I can help you with. I feel like this is kinda a bit more involved and will require me to get more familiar with the library but I will be happy to help if I can. This is kind of an ugly bug for us since our graphing library just crashes when it tries to calculate a negative number of a factorial since it always expects a return value (Even if

[2019-08-13 16:44] jiggzson commented on #475
I believe what you're looking for is [this](https://nerdamer.com/functions/polarform.html). The problem is that it expects complex numbers to be simplified. Let me know how it works out for you.

[2019-08-13 16:49] 30kpl4y commented on #475
@jiggzson no, it not it. I want to have less numbers on the result, like intead of having `i0 = 1.88121978290e-10*i + 0.0209999999` i want to have `i0 = 1.88e-10*i + 0.02`.

[2019-08-13 17:38] jiggzson commented on #475
I see. Is what you're talking about what's being discussed in #330?

[2019-08-14 03:32] jiggzson commented on #481
Might not be that hard. I was thinking to create a list of dependencies and loop through those, then load any additional dependencies recursively. Keep in mind that if this is fixed you'll get values for all floats for the factorial function but negative integers will still throw an `UndefinedError`. What I'm wondering is that since this error is well-defined, why not just do a quick check for tho

[2019-08-14 16:01] Saikedo commented on #481
@jiggzson Why would negative integers still be undefined though? It is my understanding that they are well defined in gamma function correct?

[2019-08-14 20:17] jiggzson commented on #481
Look like [they are](https://www.wolframalpha.com/input/?i=(-2)!) I don't remember if nerdamer has complex infinity yet though.

[2019-08-14 21:50] Happypig375 commented on #481
Nope, don't think so

[2019-08-14 21:52] jiggzson commented on #481
@Happypig375, this is crazy. You comment just as I'm signing off. You're talking about complex infinity right?

[2019-08-15 04:12] jiggzson commented on #481
@Happypig375, I'm not too familiar with complex infinity. I seem to recall you being somewhat familiar with it. Any suggestions on how to go about implementing this? Does its `valueOf` map back to JS Infinity? @Saikedo, thoughts?

[2019-08-15 05:51] Happypig375 commented on #481
Complex infinity is infinity with indeterminate sign. E.g. `tan(pi/2)` is complex infinity.

It's `valueOf` shouldn't be Infinity or -Infinity because they have +/- signs. I suggest `NaN`.

[2019-08-16 19:05] FilipeAC commented on #457
I discovered the function "rationalize" from Algebrite that does what I previously described. WolframAlpha also has a rationalize command (for instance, rationalize (1+x)/(x+3) +9+1/x). I guess you are working on a simplify command for the future, so having a "rationalize" command might help with that.

[2019-08-16 20:24] jiggzson commented on #457
I've added some improvements to the `dev` branch but I haven't really tested them yet. Hopefully they accomplish this. I'll keep trying to improve on it. Feel free to drop some examples here but in text form.

[2019-08-19 14:33] #472 closed

[2019-08-19 14:33] #474 closed

[2019-08-19 14:33] #476 closed

[2019-08-19 14:33] #479 closed

[2019-08-19 14:33] #471 closed

[2019-08-19 14:33] #475 closed

[2019-08-19 14:33] #480 closed

[2019-08-19 15:07] jiggzson commented on #481
Fixed.

[2019-08-19 15:07] #481 closed

[2019-08-19 15:08] #468 closed

[2019-08-19 15:08] jiggzson commented on #448
@Kreijstal, fixed.

[2019-08-19 15:08] #448 closed

[2019-08-19 15:09] jiggzson commented on #445
@AlienKevin, fixed.

[2019-08-19 15:09] #445 closed

[2019-08-19 15:09] jiggzson commented on #463
Fixed.

[2019-08-19 15:09] #463 closed

[2019-08-19 15:10] #437 closed

[2019-08-19 21:26] jiggzson commented on #445
No problem. Let me know if I missed anything? Thanks.

[2019-08-29 10:20] aliasal opened #486 "solve gives strange result"
When I do:
var sol = nerdamer.solveEquations('sqrt(x)-2x+x^2','x');
console.log(sol.toString());
I get
0, 1, 4503599627370497/4503599627370496

the correct results are
0, 1, (3-sqrt(5))/2

Why can it find 0 and 1 and then is not able to solve the remaining quadratic equation correctly?

[2019-08-29 16:56] jiggzson commented on #486
After first trying to solve the problem algebraically, nerdamer switches to numerical methods and as a result inherits all the limitations associated with them. The third point is more than likely a duplicate of the second one but with some floating point errors. I haven't tested it so I don't know for sure. Either way this a good case to solve for. I'll add this to the TODO list.

[2019-08-30 17:26] jiggzson commented on #473
This was erroneously auto-closed. Not completed since a parameter showing digits is still not fixed.

[2019-08-30 17:30] jiggzson commented on #486
@aliasal, this one is partially fixed. It's still gives `4503599627370497/4503599627370496` as a point so I'll probably need to implement some type of filter at some point. Moving this one to #322. If you run into any other solve issues, just add it under there.

[2019-08-30 17:30] #486 closed

[2019-09-08 02:04] jiggzson commented on #347
@Happypig375, I remember this issue being fixed with 0.8.x but I never closed it or checked back with you. Can this be closed?

[2019-09-08 18:36] jiggzson commented on #457
@FilipeAC, fixed.

[2019-09-10 00:33] Happypig375 commented on #347
[code]
[code]

[2019-09-10 00:35] Happypig375 commented on #347
[code]
[code]

[2019-09-10 01:45] jiggzson commented on #347
@Happypig375, Thanks. I think there's one more error that I have to tack on to this, and that's the fact that errors involving functions provide the wrong column number. For instance, `cot(` gives `ParityError: Missing closed bracket for bracket at 1`,  which is the wrong column number.

[2019-09-10 01:46] Happypig375 commented on #347
[code]
[code]
[code]
[code]
`243+*` Actual:`OperatorError: A prefix operator was expected at 5` Expected: `OperatorError: A prefix operator was expected at column 5`

[2019-09-10 01:59] jiggzson commented on #347
@Happypig375, I expect some ambiguity to remain and this goes back to the discussion we had in #130. `1?` is one of those.

[2019-09-12 09:08] nicola opened #489 "InvalidVariableNameError on fractions with very large numbers"
Hello, I am trying to have the following:

[code]

same for this:

[code]

with error:
[code]

However, this seems to hang my browser which is pretty unfortunate, since `Math.pow(2, 80)` works pretty quickly. This must be because it's trying to put the number into a fraction. How do I go around having this issue?

Thank you!

[2019-09-17 02:20] nicola opened #490 "Get numeric value"
I am running an equation which simplifies to

[code]

How do I get the actual value?

[2019-09-17 03:18] jiggzson commented on #490
[code]

[2019-09-17 03:19] #489 closed

[2019-09-17 03:19] #457 closed

[2019-09-17 05:08] nicola commented on #490
It does, thanks a lot and sorry for the redundant question!

[2019-09-17 05:08] #490 closed

[2019-09-26 11:40] nicola opened #491 "Infinite loop when trying to solve large fraction"
For some reason my set of calculations and substitutions lead to this gigantic number:

[code]

and when I try to do:

[code]

it goes infinite loop

however, if I just get the text, truncate at `=` and eval the left side, javascript gives me `93090.7178552441` with no problem.

Now my question is:
- why does it go infinite?
- why does it have to ALWAYS convert and keep on doing calculations in fr

[2019-09-27 17:31] jiggzson commented on #491
@nicola, thanks for bringing this to my attention.

Not sure ATM but I'll look into this

This is just how the library is built because of the initial use. This library just evolved into what it currently is. I'll admit that it would be nice to switch to big decimals for certain parts of the library, mainly because of immensely large swell of numerator and denominator, but I just haven't had the t

[2019-10-08 22:01] yuliapi opened #493 "Calculus module initialization issue"
Hi,
I noticed, that Calculus module initialization differs from Algebra.
This is from Calculus:
`if((typeof module) !== 'undefined' && typeof nerdamer === 'undefined') {
    nerdamer = require('./nerdamer.core.js');
    require('./Algebra.js');
}
`
Here is from Algebra module:
`if((typeof module) !== 'undefined') {
    var nerdamer = require('./nerdamer.core.js');
    require('./Calculus.js');
}
`

[2019-10-09 01:56] jiggzson commented on #493
@yuliapi,

Thanks. There's no special logic behind it. Just a regular good ol' fashioned oops :laughing:

[2019-10-09 02:58] Saikedo opened #494 "What is happening with branches? :)"
Hi, I am planning to make a push to Nerdamer in the next few days that will contain couple of fixes and I was wondering what is happening with the branches.

I see that master was updated recently but the dev branch is 5 commits ahead and 8 commits behind the master. Is it possible to synchronize these branches? If there are no plans for doing that, should I pull from the master or dev branch befo

[2019-10-09 10:48] jiggzson commented on #494
@Saikedo, I'll do some cleaning in the next couple of days or so, hopefully this weekend the latest.  I don't even remember where I left off :rofl:. I know I just closed a PR which seemed somewhat important but I'll merge `dev` to `master`. Will that timeframe work?

[2019-10-09 13:06] Saikedo commented on #494
I am all too familiar with the notion of forgetting what is contained in what branch :) Yeah, timeframe is perfect. Thank you very much.

[2019-10-15 13:12] blueken opened #495 "93222357 is OK, 93222358 is broken why?"
[code]

output:   ===> -183321609/2416844668563868 .  GREAT!

[code]

output:
`nerdamer.core.js:227 Uncaught E {name: "InvalidVariableNameError", message: " is not a valid variable name", stack: "InvalidVariableNameError:  is not a valid variable…rs~main.9b6ee5566f68ff5d4346.bundle.js:117748:26)"}`

WHY?

[2019-10-16 02:43] blueken commented on #495
Maybe, It has no solve result when the number changed to 93222358

[2019-10-16 02:43] #495 closed

[2019-10-16 13:17] jiggzson commented on #495
@blueken, I'll take a look at this anyway. I wonder if it's somewhat related to #491.  I'm moving this to #322.

[2019-10-16 13:18] #493 closed

[2019-10-16 16:18] jiggzson commented on #494
@Saikedo, just target `master` and I'll sort it all out later. I'm in the process of converting solve to big numbers so that's partly the blame.

[2019-10-17 07:12] blueken commented on #495
ok， thank you @jiggzson

[2019-10-23 20:06] Saikedo commented on #494
Awesome. Do we have any eta on when the big numbers will be ready?

[2019-10-23 20:08] Saikedo opened #497 "Calculations with big exponents take forever and crash in some cases."
Hi, I just realized that some calculations such as

`nerdamer("1000*(1+(0.06/365))^(365*3)").evaluate().text()`

Take forever to compute and then fail with "Uncaught Error: Invalid integer: Infinity". This calculation is pretty doable and is not infinity, the answer for this particular one should be 1197.19965294 for example.

Any idea what is causing this? Is this an easy fix or it requires a glo

[2019-10-24 05:24] hyukiiii opened #498 "solve equations to find a tangent line to 2 circle return wrong answers"
hi,  the codes is as follows.

let eq1 ="x^2+y^2=1",
eq2 ="x+y=1";
nerdamer.solveEquations([eq1, eq2]);

And you will find it comes out as  "Division by zero not allowed!"
is this kind equations will never be solved in nerdamer?

[2019-10-24 06:45] hyukiiii commented on #498
let eq1 = "x^2+y^2=1",
eq2 = "135*x+226*y=-3.075";
let res = nerdamer.solveEquations([eq1,eq2]);

solving these equations comes out only one answer, but if you image them as 1 circle and 1 line, there should have 2 or 1 or 0 answers

[2019-10-25 17:42] jiggzson commented on #497
Yes. The denominator and numerator grow very very large. One temporary solution might be to have the `Frac` class check if the numerator grows very large and then reduce with a certain acceptable error. I'll have to look into it since this might even be a reasonable long-term solution. It feels like the majority of issues recently are related to bigNumbers.

[2019-10-25 17:49] jiggzson commented on #498
I wouldn't say never. I'm always trying to make the library better so this is just another case to consider.

I don't know of an easy way to tell how many solutions a set of nonlinear equations has, which is why as stated in the documentation, the function returns the first solution that satisfies all constraints.  In fact it's just Newton's method under the hood. There might very well be a very g

[2019-10-25 17:50] jiggzson commented on #494
I'm hoping to get back to big numbers after the holidays but I'm unsure as to when this should be done at the moment.

[2019-10-25 21:58] Saikedo commented on #494
Ok, @jiggzson I made a pull request in the meantime with couple of fixes. Please take a look and accept it or let me know what needs to be changed whenever you have the time.

[2019-10-30 15:48] Saikedo commented on #494
@jiggzson By the way, I think it is super easy to pull the dev into master as of now so I would highly suggest handling that as soon as possible since dev does contain fixes that master does not.

I tried pulling master into dev and then merging dev into master and had no issues at all.

[2019-11-04 14:43] Saikedo opened #500 "Bug with certain random calulations involving powers and multiplication"
The following expressios returns 0, which is false

`nerdamer("5*(1.05)^(33.5)").evaluate().text()`

But when I do

`nerdamer("5*(1.05)^(33)").evaluate().text()`

It works as expected.

Also doing

`nerdamer("(1.05)^(33.5)").evaluate().text()` works as expected. We might have a parser bug here ?

[2019-11-11 21:19] richbully opened #501 "Simplify Bug"
`simplify(36x^2+4).toString()` returns "4(324*x^2+1)"

[2019-11-12 00:22] richbully opened #502 "Order of result expression"
`nerdamer.diff('x^2+x','x').toString()` returns '1+2*x'
`nerdamer.diff('x^2+x','x').toTex()` returns '2 \cdot x+1' which shows as '2x+1' on your demo page

Is there a way of specifying how the result is ordered? Although the answer is technically correct, it feels nicer to display it as '2x+1'? Likewise if you had a polynomial it would be nice to order it going from higher to lower degrees.

I tri

[2019-11-12 19:46] jiggzson commented on #502
@richbully,

There's no current solution but your suggestion is noted and I'll try to add this functionality. If you need an immediate workaround, something like the snippet below might work. I haven't really tested it so let me know if it does the trick.

[code]

[2019-11-12 19:47] jiggzson commented on #500
@Saikedo, I'll work on this. Let me know if you find anything else.

[2019-11-12 20:44] richbully commented on #502
Cheers, but the issue is with `toString()`, the result from `toTeX()` already comes out in the order that I'm after (higher orders first). Thank you for the snippet though, I appreciate it!

`nerdamer.diff('x^2+x','x').toString()` returns '1+2*x'

It would be nice if it came out as "2*x+1"